.overlay-actions {
  @include flex-row-center;

  width: 100%;
  height: 100%;

  > .item {
    @include flex-column-center;

    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: opacity 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }

    > .icon,
    > .text {
      display: inline-flex;
    }

    > .icon {
      margin-bottom: 10px;
    }
  }

  > .separator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $overlay-separator-width;
    height: $overlay-separator-height;
    margin-top: -($overlay-separator-height / 2);
    margin-left: -($overlay-separator-width / 2);
    background-color: rgba($blue, 0.05);
  }

  &.-with-load {
    > .item {
      width: 50%;
    }
  }

  &.-white {
    background-color: #fff;
  }
}
