.j-icon {
  all: initial;

  @include hover-animation;

  cursor: inherit;
  display: block;
  background-repeat: no-repeat;
  background-position: left center;

  &.-transparent {
    opacity: 0.2;
  }

  // Sizes

  &.-small {
    width: $icon-small-size;
    height: $icon-small-size;
    background-size: $icon-small-size $icon-small-size;
  }

  &.-medium {
    width: $icon-medium-size;
    height: $icon-medium-size;
    background-size: $icon-medium-size $icon-medium-size;
  }

  &.-large {
    width: $icon-large-size;
    height: $icon-large-size;
    background-size: $icon-large-size $icon-large-size;
  }

  &.-extra-large {
    width: $icon-extra-large-size;
    height: $icon-extra-large-size;
    background-size: $icon-extra-large-size $icon-extra-large-size;
  }

  &.-huge {
    width: $icon-huge-size;
    height: $icon-huge-size;
    background-size: $icon-huge-size $icon-huge-size;
  }

  // SVG

  // Small icons

  &.-plus {
    background-image: $plus-blue;
  }

  &.-menu-send {
    background-image: $menu-send-white;
  }

  &.-menu-receive {
    background-image: $menu-receive-white;
  }

  &.-menu-favorite-white {
    background-image: $menu-favorite-white;
  }

  &.-menu-send,
  &.-menu-receive,
  &.-menu-favorite-white {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 1px;
    margin-top: -1px;
  }

  &.-star {
    background-image: $star-blue;
  }

  &.-repeat {
    background-image: $repeat-blue;
  }

  &.-arrow-blue {
    background-image: $arrow-blue;
    transform: rotate(90deg);
  }

  &.-arrow {
    background-image: $arrow-white;
  }

  &.-arrow-back {
    background-image: $arrow-white;
    transform: rotate(180deg);
  }

  &.-close {
    background-image: $close-gray;
  }

  &.-expand-gray {
    background-image: $expand-gray;
  }

  &.-close-popup-white {
    background-image: $close-popup-white;
  }

  &.-close-popup-gray {
    background-image: $close-popup-gray;
  }

  &.-checkbox-white {
    background-image: $checkbox-white;
  }

  &.-checkbox-blue {
    background-image: $checkbox-blue;
  }

  &.-private-key {
    background-image: $private-key;
  }

  // Medium icons

  &.-menu-bg {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -12px;
    background-image: $menu-bg-white;
    opacity: 0.5;
  }

  &.-logout {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -14px;
    background-image: $logout;
    opacity: 0.4;

    &:hover {
      opacity: 0.7;
    }
  }

  &.-search {
    background-image: $search-gray;
  }

  &.-close-popup-gray {
    background-image: $close-popup-gray;
  }

  &.-arrow-popup-white {
    background-image: $arrow-popup-white;
  }

  &.-key-new {
    background-image: $key-new-white;
  }

  &.-key-import {
    background-image: $key-import-white;
  }

  &.-private-key {
    background-image: $private-key;
  }

  &.-private-key-read {
    background-image: $private-key-read;
  }

  &.-mnemonic {
    background-image: $mnemonic;
  }

  &.-mnemonic-read {
    background-image: $mnemonic-read;
  }

  &.-dots-white {
    background-image: $dots-white;
  }

  &.-arrow-white {
    background-image: $arrow-white;
  }

  &.-close-gray {
    background-image: $close-gray;
  }

  &.-close-popup-white {
    background-image: $close-popup-white;
  }

  &.-link-blue {
    background-image: $link-blue;
  }

  // Large icons

  &.-transaction-send {
    background-image: $transaction-send;
  }

  &.-transaction-send-time {
    background-image: $transaction-send-time;
  }

  &.-transaction-receive {
    background-image: $transaction-receive;
  }
  
  &.-transaction-receive-time {
    background-image: $transaction-receive-time;
  }

  // Token icons

  &.-token-1st-white { background-image: $token-1st-white }
  &.-token-adt-white { background-image: $token-adt-white }
  &.-token-ant-white { background-image: $token-ant-white }
  &.-token-ast-white { background-image: $token-ast-white }
  &.-token-bat-white { background-image: $token-bat-white }
  &.-token-bcap-white { background-image: $token-bcap-white }
  &.-token-bnt-white { background-image: $token-bnt-white }
  &.-token-bqx-white { background-image: $token-bqx-white }
  &.-token-cfi-white { background-image: $token-cfi-white }
  &.-token-cvc-white { background-image: $token-cvc-white }
  &.-token-dgd-white { background-image: $token-dgd-white }
  &.-token-dice-white { background-image: $token-dice-white }
  &.-token-dnt-white { background-image: $token-dnt-white }
  &.-token-edg-white { background-image: $token-edg-white }
  &.-token-eos-white { background-image: $token-eos-white }
  &.-token-eth-white { background-image: $token-eth-white }
  &.-token-fun-white { background-image: $token-fun-white }
  &.-token-gno-white { background-image: $token-gno-white }
  &.-token-gnt-white { background-image: $token-gnt-white }
  &.-token-guppy-white { background-image: $token-guppy-white }
  &.-token-hmq-white { background-image: $token-hmq-white }
  &.-token-icn-white { background-image: $token-icn-white }
  &.-token-jaed-white { background-image: $token-jaed-white }
  &.-token-jcny-white { background-image: $token-jcny-white }
  &.-token-jeur-white { background-image: $token-jeur-white }
  &.-token-jgbp-white { background-image: $token-jgbp-white }
  &.-token-jnt-white { background-image: $token-jnt-white }
  &.-token-jrub-white { background-image: $token-jrub-white }
  &.-token-jusd-white { background-image: $token-jusd-white }
  &.-token-just-white { background-image: $token-just-white }
  &.-token-knc-white { background-image: $token-knc-white }
  &.-token-lun-white { background-image: $token-lun-white }
  &.-token-mana-white { background-image: $token-mana-white }
  &.-token-mco-white { background-image: $token-mco-white }
  &.-token-mkr-white { background-image: $token-mkr-white }
  &.-token-mln-white { background-image: $token-mln-white }
  &.-token-mtl-white { background-image: $token-mtl-white }
  &.-token-net-white { background-image: $token-net-white }
  &.-token-nmr-white { background-image: $token-nmr-white }
  &.-token-null-white { background-image: $token-null-white }
  &.-token-omg-white { background-image: $token-omg-white }
  &.-token-pay-white { background-image: $token-pay-white }
  &.-token-plu-white { background-image: $token-plu-white }
  &.-token-qtum-white { background-image: $token-qtum-white }
  &.-token-rep-white { background-image: $token-rep-white }
  &.-token-rlc-white { background-image: $token-rlc-white }
  &.-token-san-white { background-image: $token-san-white }
  &.-token-sngls-white { background-image: $token-sngls-white }
  &.-token-snt-white { background-image: $token-snt-white }
  &.-token-storj-white { background-image: $token-storj-white }
  &.-token-swt-white { background-image: $token-swt-white }
  &.-token-taas-white { background-image: $token-taas-white }
  &.-token-time-white { background-image: $token-time-white }
  &.-token-tkn-white { background-image: $token-tkn-white }
  &.-token-trst-white { background-image: $token-trst-white }
  &.-token-vsl-white { background-image: $token-vsl-white }
  &.-token-wings-white { background-image: $token-wings-white }
  &.-token-xaur-white { background-image: $token-xaur-white }
  &.-token-zrx-white { background-image: $token-zrx-white }

  &.-token-1st-blue { background-image: $token-1st-blue }
  &.-token-adt-blue { background-image: $token-adt-blue }
  &.-token-ant-blue { background-image: $token-ant-blue }
  &.-token-ast-blue { background-image: $token-ast-blue }
  &.-token-bat-blue { background-image: $token-bat-blue }
  &.-token-bcap-blue { background-image: $token-bcap-blue }
  &.-token-bnt-blue { background-image: $token-bnt-blue }
  &.-token-bqx-blue { background-image: $token-bqx-blue }
  &.-token-cfi-blue { background-image: $token-cfi-blue }
  &.-token-cvc-blue { background-image: $token-cvc-blue }
  &.-token-dgd-blue { background-image: $token-dgd-blue }
  &.-token-dice-blue { background-image: $token-dice-blue }
  &.-token-dnt-blue { background-image: $token-dnt-blue }
  &.-token-edg-blue { background-image: $token-edg-blue }
  &.-token-eos-blue { background-image: $token-eos-blue }
  &.-token-eth-blue { background-image: $token-eth-blue }
  &.-token-fun-blue { background-image: $token-fun-blue }
  &.-token-gno-blue { background-image: $token-gno-blue }
  &.-token-gnt-blue { background-image: $token-gnt-blue }
  &.-token-guppy-blue { background-image: $token-guppy-blue }
  &.-token-hmq-blue { background-image: $token-hmq-blue }
  &.-token-icn-blue { background-image: $token-icn-blue }
  &.-token-jaed-blue { background-image: $token-jaed-blue }
  &.-token-jcny-blue { background-image: $token-jcny-blue }
  &.-token-jeur-blue { background-image: $token-jeur-blue }
  &.-token-jgbp-blue { background-image: $token-jgbp-blue }
  &.-token-jnt-blue { background-image: $token-jnt-blue }
  &.-token-jrub-blue { background-image: $token-jrub-blue }
  &.-token-jusd-blue { background-image: $token-jusd-blue }
  &.-token-just-blue { background-image: $token-just-blue }
  &.-token-knc-blue { background-image: $token-knc-blue }
  &.-token-lun-blue { background-image: $token-lun-blue }
  &.-token-mana-blue { background-image: $token-mana-blue }
  &.-token-mco-blue { background-image: $token-mco-blue }
  &.-token-mkr-blue { background-image: $token-mkr-blue }
  &.-token-mln-blue { background-image: $token-mln-blue }
  &.-token-mtl-blue { background-image: $token-mtl-blue }
  &.-token-net-blue { background-image: $token-net-blue }
  &.-token-nmr-blue { background-image: $token-nmr-blue }
  &.-token-null-blue { background-image: $token-null-blue }
  &.-token-omg-blue { background-image: $token-omg-blue }
  &.-token-pay-blue { background-image: $token-pay-blue }
  &.-token-plu-blue { background-image: $token-plu-blue }
  &.-token-qtum-blue { background-image: $token-qtum-blue }
  &.-token-rep-blue { background-image: $token-rep-blue }
  &.-token-rlc-blue { background-image: $token-rlc-blue }
  &.-token-san-blue { background-image: $token-san-blue }
  &.-token-sngls-blue { background-image: $token-sngls-blue }
  &.-token-snt-blue { background-image: $token-snt-blue }
  &.-token-storj-blue { background-image: $token-storj-blue }
  &.-token-swt-blue { background-image: $token-swt-blue }
  &.-token-taas-blue { background-image: $token-taas-blue }
  &.-token-time-blue { background-image: $token-time-blue }
  &.-token-tkn-blue { background-image: $token-tkn-blue }
  &.-token-trst-blue { background-image: $token-trst-blue }
  &.-token-vsl-blue { background-image: $token-vsl-blue }
  &.-token-wings-blue { background-image: $token-wings-blue }
  &.-token-xaur-blue { background-image: $token-xaur-blue }
  &.-token-zrx-blue { background-image: $token-zrx-blue }

  &.-token-1st-gray { background-image: $token-1st-gray }
  &.-token-adt-gray { background-image: $token-adt-gray }
  &.-token-ant-gray { background-image: $token-ant-gray }
  &.-token-ast-gray { background-image: $token-ast-gray }
  &.-token-bat-gray { background-image: $token-bat-gray }
  &.-token-bcap-gray { background-image: $token-bcap-gray }
  &.-token-bnt-gray { background-image: $token-bnt-gray }
  &.-token-bqx-gray { background-image: $token-bqx-gray }
  &.-token-cfi-gray { background-image: $token-cfi-gray }
  &.-token-cvc-gray { background-image: $token-cvc-gray }
  &.-token-dgd-gray { background-image: $token-dgd-gray }
  &.-token-dice-gray { background-image: $token-dice-gray }
  &.-token-dnt-gray { background-image: $token-dnt-gray }
  &.-token-edg-gray { background-image: $token-edg-gray }
  &.-token-eos-gray { background-image: $token-eos-gray }
  &.-token-eth-gray { background-image: $token-eth-gray }
  &.-token-fun-gray { background-image: $token-fun-gray }
  &.-token-gno-gray { background-image: $token-gno-gray }
  &.-token-gnt-gray { background-image: $token-gnt-gray }
  &.-token-guppy-gray { background-image: $token-guppy-gray }
  &.-token-hmq-gray { background-image: $token-hmq-gray }
  &.-token-icn-gray { background-image: $token-icn-gray }
  &.-token-jaed-gray { background-image: $token-jaed-gray }
  &.-token-jcny-gray { background-image: $token-jcny-gray }
  &.-token-jeur-gray { background-image: $token-jeur-gray }
  &.-token-jgbp-gray { background-image: $token-jgbp-gray }
  &.-token-jnt-gray { background-image: $token-jnt-gray }
  &.-token-jrub-gray { background-image: $token-jrub-gray }
  &.-token-jusd-gray { background-image: $token-jusd-gray }
  &.-token-just-gray { background-image: $token-just-gray }
  &.-token-knc-gray { background-image: $token-knc-gray }
  &.-token-lun-gray { background-image: $token-lun-gray }
  &.-token-mana-gray { background-image: $token-mana-gray }
  &.-token-mco-gray { background-image: $token-mco-gray }
  &.-token-mkr-gray { background-image: $token-mkr-gray }
  &.-token-mln-gray { background-image: $token-mln-gray }
  &.-token-mtl-gray { background-image: $token-mtl-gray }
  &.-token-net-gray { background-image: $token-net-gray }
  &.-token-nmr-gray { background-image: $token-nmr-gray }
  &.-token-null-gray { background-image: $token-null-gray }
  &.-token-omg-gray { background-image: $token-omg-gray }
  &.-token-pay-gray { background-image: $token-pay-gray }
  &.-token-plu-gray { background-image: $token-plu-gray }
  &.-token-qtum-gray { background-image: $token-qtum-gray }
  &.-token-rep-gray { background-image: $token-rep-gray }
  &.-token-rlc-gray { background-image: $token-rlc-gray }
  &.-token-san-gray { background-image: $token-san-gray }
  &.-token-sngls-gray { background-image: $token-sngls-gray }
  &.-token-snt-gray { background-image: $token-snt-gray }
  &.-token-storj-gray { background-image: $token-storj-gray }
  &.-token-swt-gray { background-image: $token-swt-gray }
  &.-token-taas-gray { background-image: $token-taas-gray }
  &.-token-time-gray { background-image: $token-time-gray }
  &.-token-tkn-gray { background-image: $token-tkn-gray }
  &.-token-trst-gray { background-image: $token-trst-gray }
  &.-token-vsl-gray { background-image: $token-vsl-gray }
  &.-token-wings-gray { background-image: $token-wings-gray }
  &.-token-xaur-gray { background-image: $token-xaur-gray }
  &.-token-zrx-gray { background-image: $token-zrx-gray }


  // Huge

  &.-key {
    background-image: $key;
  }

  &.-key-blue {
    background-image: $key-blue;
  }

  &.-cloud {
    background-image: $cloud;
  }

  &.-cloud-blue {
    background-image: $cloud-blue;
  }
}
