.digital-assets-receive-view {
  all: initial;

  @include box;
  @include flex-column-center;

  position: relative;
  width: 100%;
  height: 100%;

  > .header {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-image:
      linear-gradient(
        to bottom,
        hsl(228, 33.33%, 97.06%) 0%,
        hsl(228, 33.33%, 97.06%) 60%,
        hsla(228, 33.33%, 97.06%, 0) 100%
      );

    > .container {
      @include flex-row;

      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      justify-content: space-between;
      height: $page-header-height;

      > .actions {
        @include box;
        @include flex-row;

        align-items: center;
      }
    }
  }

  > .content {
    width: 100%;
    height: 100%;

    > .container {
      @include flex-column;

      height: 100%;
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      justify-content: center;

      > div,
      > picture {
        width: 100%;
      }

      > .qr {
        @include flex-column;

        height: 240px;
        margin-bottom: 12px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
      }
    }
  }
}
