@import './Item/item';

.j-picker {
  all: initial;

  @include box;
  @include flex-column;

  position: relative;
  width: $form-width;
  box-shadow: 0 3px 6px 0 rgba(61, 79, 108, 0.05);
  background-color: $white;
  margin-bottom: 10px;

  &:hover {
    box-shadow: 0 9px 18px 0 rgba(61, 79, 108, 0.1);
  }

  &.-disabled,
  &.-disabled:hover {
    opacity: 0.7;

    > .current {
      cursor: default;

      > .chevron:hover {
        opacity: 0.5;
      }
    }
  }

  &.-active {
    border-bottom: $pale-grey-two;

    > .options {
      max-height: $select-height;
      visibility: visible;
      opacity: 1;
    }
  }

  > .current {
    @include flex-row;

    z-index: 3;
    align-items: center;
    height: 64px;
    width: 100%;
    padding: 0 15px;
    cursor: pointer;

    > .content {
      @include box;
      @include flex-row;

      flex-grow: 1;
      max-width: $form-width - $icon-small-size;
    }

    > .chevron {
      opacity: 0.5;
      transition: opacity 0.3s ease 0s;

      &:hover {
        opacity: 1;
      }
    }
  }

  > .options {
    z-index: 2;
    position: absolute;
    width: $form-width;
    top: 65px;
    height: $select-height;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    background-color: $white;
    transition: max-height 0.3s ease 0s, opacity 0.3s ease 0s;
    box-shadow: 0 9px 18px 0 rgba(61, 79, 108, 0.1);
  }

  > .overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
}
