.picker__selected,
.picker__item {
  display: block;
  padding: 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.picker__selected {
  height: 44px;
  position: relative;
  background: transparent;
}

.picker__items {
  z-index: 10;
  position: absolute;
  top: 46px;
  left: 0;
  max-height: 136px;
  width: 100%;
  padding: 5px 0;
  background-color: $white;
  border: 1px solid $black4;
  border-top: none;
  overflow: auto;
  transition: all .3s ease;
}

.picker__items--hidden {
  max-height: 0;
  padding: 0;
  border: none;
}

.picker__item {
  line-height: 22px;
  color: $gray;

  &:hover {
    color: $blue;
  }
}

.picker__item--disabled {
  background-color: transparent!important;
  opacity: 0.4;
  cursor: not-allowed;
}

.picker__item--selected {
  background-color: $line;
  color: $gray;
}

.picker__arrow-icon {
  z-index: -1;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: transform .3s ease;
}
