@import './Item/item';
@import './Item/fullitem';

.j-picker {
  all: initial;

  > .select {
    @include box;
    @include flex-column;

    position: relative;
    width: $form-width;
    box-shadow: 0 3px 6px 0 rgba($dusk, 0.05);
    background-color: $white;
    margin-bottom: 10px;
    border-bottom: solid 1px $pale-grey-two;
    border-radius: $form-border-radius;
    transition: border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s;

    &:hover {
      box-shadow: 0 9px 18px 0 rgba($dusk, 0.1);
    }

    > .current {
      @include flex-row;

      align-items: center;
      height: 64px;
      width: 100%;
      padding: 0 15px;
      cursor: pointer;

      > .content {
        @include box;
        @include flex-row;

        flex-grow: 1;
        max-width: $form-width - $icon-small-size;
      }

      > .chevron {
        transform: translateX(6px);
      }
    }

    > .options {
      z-index: 3;
      position: absolute;
      width: $form-width;
      padding-top: 5px;
      padding-bottom: 5px;
      box-sizing: content-box;
      top: 65px;
      visibility: hidden;
      overflow: hidden;
      opacity: 0;
      background-color: $white;
      box-shadow: 0 9px 18px 0 rgba($dusk, 0.1);
      max-height: 0;
      margin-bottom: 30px;
      border-radius: 0 0 $form-border-radius $form-border-radius;

      > .items {
        max-height: 0;
        height: (65px * 4);
        transition: max-height 0.3s ease 0s, opacity 0.3s ease 0s;
      }

      > .bottom {
        margin-top: 8px;
        padding-top: 23px;
        padding-bottom: 20px;
        position: relative;

        &::before {
          content: '';
          top: 0;
          left: 20px;
          position: absolute;
          height: 1px;
          width: calc(100% - 40px);
          background-color: $pale-grey-two;
        }
      }
    }
  }

  > .overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  > .error,
  > .info {
    transform: translateY(-5px);
    padding-left: $form-field-horizontal-padding;
  }

  &.-disabled,
  &.-disabled:hover {
    > .select {
      opacity: 0.7;

      > .current {
        cursor: default;

        > .chevron:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &.-active {
    > .select {
      border-radius: $form-border-radius $form-border-radius 0 0;
      z-index: 2;

      > .options {
        visibility: visible;
        opacity: 1;
        max-height: none;

        > .items {
          max-height: (65px * 4);
        }
      }
    }
  }

  &.-c3 > .select > .options > .items {
    height: (64px * 3);
  }

  &.-c2 > .select > .options > .items {
    height: (64px * 2);
  }

  &.-c1 > .select > .options > .items {
    height: (64px * 1);
  }

  &.-c0 > .select > .options > .items {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
