@import 'styles/mixins';

.core {
  @include flex-column-center;

  position: relative;
  width: 544px;
  height: 100%;
  margin: 0 auto;
}

.icon {
  @include sprite-icon-color($main-black-60);
}

.buttons {
  position: relative;
  width: 100%;
  height: 48px;
}
