@import './Alert/submitModalAlert';
@import './Body/submitModalBody';
@import './Button/submitModalButton';
@import './PasswordButton/submitModalPasswordButton';
@import './Title/submitModalTitle';
@import './TopLine/submitModalTopLine';

.modal__text {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  padding-right: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}

.modal__icon {
  position: absolute;
  top: 0;
  right: 0;
}
