@import 'styles/mixins';

.digital-assets-send-form-asset-picker-current {
  all: initial;
  position: relative;

  @include flex-row;

  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  height: 19px;
  cursor: pointer;

  > .placeholder {
    width: auto;
    overflow: hidden;
    visibility: visible;
    opacity: 0.6;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    position: absolute;
    top: 0;
    z-index: 1;
    will-change: opacity, transform;
  }

  > .symbol {
    position: absolute;
    top: 50%;
    right: 0;
    width: 56px;
    height: 56px;
    margin: 0 12px 0 auto;
    transform: translateY(-50%);
    transition: opacity 0.3s ease 0s;
  }

  > .edit {
    height: 100%;

    > .input {
      border-width: 0;
      font-size: 14px;
      height: 19px;
      font-weight: 600;
      width: 100%;
    }
  }

  &.-active {
    > .placeholder {
      opacity: 0.5;
      transform: translateY(-13px);
    }

    > .edit,
    > .name {
      transform: translateY(8px);
    }
  }
}
