.transaction-item-main {
  all: initial;

  @include box;
  @include flex-row;

  position: relative;
  height: ($transaction-item-height - $transaction-item-border-size);
  padding: $transaction-item-v-padding $transaction-item-h-padding;
  align-items: center;
  cursor: pointer;

  &:hover > .item.-amount {
    > .repeat {
      opacity: 1;
      visibility: visible;
    }

    > .value {
      visibility: hidden;
      opacity: 0;
    }
  }

  &.-active > .item.-amount {
    > .repeat {
      visibility: hidden;
      opacity: 0;
    }

    > .value {
      visibility: visible;
      opacity: 1;
    }
  }

  > .icon {
    margin-right: $transaction-item-h-padding;
  }

  > .item {
    &.-date {
      min-width: 150px;
    }

    &.-amount {
      position: relative;
      min-width: 120px;
      margin-left: auto;
      text-align: right;

      > .repeat {
        @include hover-animation;

        position: absolute;
        top: -12px;
        right: 0;
        opacity: 0;

        &::before {
          position: absolute;
          top: 0;
          left: -80px;
          display: block;
          height: 100%;
          width: 80px;
          background: linear-gradient(to right, transparent, $white);
          content: '';
        }
      }
    }

    > .label {
      opacity: 0.5;
    }
  }

  @media only screen and (max-width: 1366px) {
    > .item.-address > .value {
      width: 240px;
      overflow: hidden;
    }
  }

  @media only screen and (max-width: 1200px) {
    > .item.-address > .value {
      width: 200px;
      overflow: hidden;
    }
  }
}
