.j-text {
  all: initial;

  @include font;

  cursor: inherit;
  white-space: pre-line;

  // Colors

  &.-gray {
    color: $dusk;
  }

  &.-red {
    color: $pinkish-tan;
  }
 
  &.-blue {
    color: $blue;
  }
 
  &.-white {
    color: white;
  }

  &.-deep-orange {
    color: $deep-orange;
  }

  &.-orange {
    color: $orange;
  }

  &.-lime {
    color: $lime;
  }

  &.-light-green {
    color: $light-green;
  }
 
  &.-transparent {
    opacity: 0.7;
  }
 
  // Sizes
 
  &.-small {
    font-size: 11px;
  }
  
  &.-mini {
    font-size: 12px;
  }

  &.-normal {
    font-size: 13px;
  }

  &.-regular {
    font-size: 14px;
  }
  
  &.-large {
    font-size: 15px;
  }
 
  &.-header {
    font-size: 18px;
  }

  &.-header-title {
    margin-right: auto;
    font-size: 24px;
  }

  &.-header-menu-title {
    padding-left: 200px;
  }

  // Align 
 
  &.-center {
    display: flex;
    text-align: center;
  }
 
  // Weight
 
  &.-bold {
    font-weight: 600;
  }
 
  // Case
 
  &.-uppercase {
    text-transform: uppercase;
  }
 
}