.j-text {
  all: initial;
  cursor: inherit;
  white-space: pre-line;
  font-family: 'Open Sans', Arial, sans-serif;
 
  // Colors
 
  &.-gray {
    color: #3d4f6c;
  }
 
  &.-blue {
    color: #0050db;
  }
 
  &.-white {
    color: white;
  }
 
  &.-transparent {
    opacity: 0.7;
  }
 
  // Sizes
 
  &.-small {
    font-size: 11px;
  }
  
  &.-normal {
    font-size: 13px;
  }

  &.-regular {
    font-size: 14px;
  }
  
  &.-large {
    font-size: 15px;
  }
 
  &.-header {
    font-size: 18px;
  }
 
  // Align 
 
  &.-center {
    display: flex;
    text-align: center;
  }
 
  // Weight
 
  &.-bold {
    font-weight: 600;
  }
 
  // Case
 
  &.-uppercase {
    text-transform: uppercase,
  }
 
}