@import 'styles/mixins';

.core {
  width: 100%;
  margin-top: 16px;
  padding: 14px 16px 16px 16px;
  background: $white;
  border-radius: 4px;
}

.main {
  @include flex-row;
}

.label {
  font-size: 12px;
  line-height: 20px;
  color: $main-black-40;
}

.wrapper {
  position: relative;
  max-width: 350px;
  margin: 0 -8px;
}

.name {
  @include flex-row;
  @include property-transition(background-color);

  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  height: 28px;
  padding: 0 8px;
  align-items: center;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;

  &:hover {
    background-color: $main-black-10;
  }

  &.editable {
    padding: 0 8px;
    background-color: $main-black-20;
    color: transparent;
  }
}

.input {
  @include flex-row;

  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  padding: 0 8px;
  color: $main-black;
  width: 350px;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: $main-black;
}

.balance {
  @include flex-row-center;

  margin-left: auto;
  color: $main-blue;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.address {
  @include flex-row;

  margin-top: 18px;
  padding-top: 15px;
  padding-right: 6px;
  border-top: 1px solid $main-black-10;
}
