.modal-header {
  position: relative;
  height: $modal-header-height;
  line-height: $modal-header-height;
  margin: $modal-header-margin;
}

.modal-close {
  z-index: 2002;
  position: absolute;
  top: 0;
  right: 0;
  height: $modal-header-height;
  line-height: $modal-header-height;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .3s ease;

  &:hover {
    opacity: 1;
  }
}
