@import './Info/accountInfo';
@import './Manager/accountManager';

.account {
  position: relative;
  border-bottom: 1px solid $line;
  cursor: default;

  .radio__label {
    position: absolute;
    top: 28px;
    left: 0;
  }

  &.table-row:last-child {
    border-bottom: 1px solid $line;
  }
}
