.j-loader {
  all: initial;

  @include flex-row;

  position: relative;
  align-items: center;
  height: 100%;

  &.-blue > .dot {
    background-color: $blue;
  }

  &.-gray > .dot {
    background-color: $dusk;
  }

  &.-white > .dot {
    background-color: $white;
  }

  > .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: opacity 0.2s ease 0s;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.-first {
      animation: firstDotAnimation 0.6s linear infinite;
    }

    &.-second {
      animation: secondDotAnimation 0.6s linear infinite;
    }

    &.-third {
      animation: thirdDotAnimation 0.6s linear infinite;
    }
  }
}

@keyframes firstDotAnimation {
  0% {
    opacity: 0.6;
  }

  33% {
    opacity: 0.4;
  }

  67% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes secondDotAnimation {
  0% {
    opacity: 0.2;
  }

  33% {
    opacity: 0.6;
  }

  67% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes thirdDotAnimation {
  0% {
    opacity: 0.4;
  }

  33% {
    opacity: 0.2;
  }

  67% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.4;
  }
}
