@import 'styles/mixins';

.core {
  position: relative;
  display: flex;
  flex-direction: column;

  &.empty {
    height: 100%;
  }
}

.search {
  width: 100%;
  max-width: 414px;
}

.header {
  flex: 0 1 auto;
}

.list {
  @include flex-column-center;

  flex: 1 1 auto;
}

.empty-figure {
  @include font(16px, 24px);

  display: block;
  width: 100%;
  max-width: 352px;
  margin-top: -112px;
  text-align: center;
  color: $main-black-40;
}
