.j-text {
  all: initial;

  @include font;

  display: inline-block;
  max-width: 100%;
  line-height: inherit;
  transition: color 0.3s ease 0s, opacity 0.3s ease 0s;
  cursor: inherit;

  // Color

  &.-blue {
    color: $blue;
  }

  &.-gray {
    color: $dusk;
  }

  &.-red {
    color: $blush;
  }

  &.-sky {
    color: $bright-sky-blue;
  }

  &.-white {
    color: $white;
  }

  // Size

  &.-small {
    font-size: 11px;
  }

  &.-normal {
    font-size: 13px;
  }

  &.-large {
    font-size: 15px;
  }

  &.-header {
    font-size: 17px;
  }

  &.-mnemonic {
    font-size: 20px;
  }

  &.-title {
    font-size: 25px;
  }

  // Weight

  &.-bold {
    font-weight: 600;
  }

  &.-bolder {
    font-weight: 900;
  }

  // Case

  &.-upper {
    text-transform: uppercase;
  }

  // White-space

  &.-wrap {
    White-space: normal;
  }

  &.-nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // Align

  &.-center {
    text-align: center;
  }
}
