.j-text {
  all: initial;

  @include font;

  cursor: inherit;

  // Colors

  &.-blue {
    color: $blue;
  }

  &.-gray {
    color: $dusk;
  }

  &.-red {
    color: $pinkish-tan;
  }

  &.-white {
    color: $white;
  }

  // Sizes

  &.-small {
    font-size: 11px;
  }

  &.-normal {
    font-size: 13px;
  }

  &.-large {
    font-size: 15px;
  }

  &.-header {
    font-size: 17px;
  }

  &.-title {
    font-size: 25px;
  }

  // Weight

  &.-bold {
    font-weight: 600;
  }

  &.-bolder {
    font-weight: 900;
  }

  // Case

  &.-upper {
    text-transform: uppercase;
  }
}
