.j-text {
  all: initial;

  @include font;

  cursor: inherit;
  white-space: pre-line;

  // Colors

  &.-gray {
    color: $dusk;
  }

  &.-red {
    color: $pinkish-tan;
  }

  &.-blue {
    color: $blue;
  }

  &.-white {
    color: white;
  }

  &.-transparent {
    opacity: 0.7;
  }

  // Sizes

  &.-small {
    font-size: 11px;
  }

  &.-mini {
    font-size: 12px;
  }

  &.-normal {
    font-size: 13px;
  }

  &.-regular {
    font-size: 14px;
  }

  &.-large {
    font-size: 15px;
  }

  &.-header {
    font-size: 18px;
  }

  &.-header-title {
    margin-right: auto;
    font-size: 24px;
  }

  &.-tall {
    line-height: 1.62;
  }

  // Align 

  &.-center {
    display: flex;
    text-align: center;
  }

  // Weight

  &.-bold {
    font-weight: 600;
  }

  // Case

  &.-uppercase {
    text-transform: uppercase;
  }

}