@import './jModalOpenCloseAnimation';
@import './Overlay/jModalOverlay';
@import './Content/jModalContent';

.modal-wrap {
  z-index: 2000;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  padding: 40px 0;
  backface-visibility: hidden;
  overflow-scrolling: touch;

  /**
   * Flexbox for supporting browsers (to vertical aligning)
   */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal {
  z-index: 2001;
  position: relative;
  width: 420px;
  margin: 0 auto;

  &--currencies,
  &--keystore {
    min-width: 680px;

    .modal-content {
      border-radius: 5px;
    }

    .modal-body {
      border-top: 1px solid $line;

      .table-header {
        margin: 0 -30px;
        padding: 0 20px;
      }
    }

    .modal-footer {
      padding: 0 30px 30px 30px;
    }
  }

  &--opening,
  &--closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &--opening {
    animation-name: modal-opening;
  }

  &--closing {
    animation-name: modal-closing;
  }
}
