@import 'styles/mixins';

.core {
  margin-top: 16px;
  font-weight: 600;
}

.link {
  margin-top: 8px;
}

.label {
  max-width: 180px;
  color: inherit;
  text-transform: capitalize;
  text-decoration: underline $main-blue-30;
}

.anchor {
  @include flex-row;

  align-items: center;
  color: $main-blue;

  &:hover > .label {
    text-decoration: underline transparent;
  }
}

.icon {
  @include sprite-icon-color($main-blue-30);

  width: 24px;
  height: 24px;
}
