@import './Actions/actions';
@import './Addresses/addresses';

.menu-panel-wallet-manager-details {
  all: initial;

  @include flex-column;
  @include hover-animation;

  max-height: 0;
  background-color: $cobalt-blue;
  visibility: hidden;
  overflow: hidden;
  will-change: opacity, max-height;
  padding-left: 50px;
  padding-right: 50px;

  &.-read-only {
    background-color: $dark-three;
  }

  > .action {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &.-active {
    max-height: 250px;
    visibility: visible;
  }
}
