.asset-card-body {
  > .crypto {
    margin-top: 5px;
    opacity: 0.5;
    line-height: 1.43;
  }

  > .fiat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    text-align: center;
    margin-top: 28px;
    height: 44px;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 190px;
      height: 1px;
      background-color: rgba($dusk, 0.1);
    }

    > .balance,
    > .message {
      transition: opacity 0.3s ease;
    }

    > .message {
      &.-transparent {
        opacity: 0.5;
      }
    }

    > .show {
      @include flex-row-center;

      opacity: 0;
      width: 100%;
      bottom: -2px;
      position: absolute;
      transition: opacity 0.3s ease;
    }
  }

  &.-hovered {
    > .fiat {
      > .balance,
      > .message {
        opacity: 0;
      }

      > .show {
        opacity: 1;
      }
    }
  }
}
