.modal-header {
  all: initial;
  position: fixed;
  top: 30px;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 100px);
  padding: 0 50px;

  > .button {
    margin-left: auto;
  }
}
