.j-thumbnail {
  all: initial;

  @include flex-column-center;

  width: 320px;
  padding-bottom: 30px;

  > .image {
    width: $thumbnail-width;
    height: $thumbnail-height;
    background-size: $thumbnail-width $thumbnail-height;
    background-repeat: no-repeat;
    background-position: center;

    &.-key {
      background-image: $key-blue;
    }

    &.-man {
      background-image: $man-blue;
    }

    &.-cloud {
      background-image: $cloud-white;

      &.-blue {
        background-image: $cloud-blue;
      }
    }
  }

  > .title {
    margin-top: 25px;
  }

  > .description {
    margin-top: 25px;
    line-height: 1.5;
    opacity: 0.7;
  }
}
