{
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ],
  "presets": [
    ["@babel/env", { "modules": false }],
    "@babel/preset-react",
    "@babel/flow"
  ],
  "retainLines": true
}
