.add-asset {
  all: initial;

  @include box;
  @include flex-column-center;
  @include hover-animation;

  border-radius: 5px;
  height: 220px;
  border: 1px dashed rgba($dusk, 0.2);
  cursor: pointer;

  > .icon {
    @include hover-animation;

    opacity: 0.3;
  }

  &:hover {
    border-color: rgba($dusk, 0.3);

    > .icon {
      opacity: 0.5;
    }
  }
}
