@import './Item/item';

.j-select {
  all: initial;

  @include box;
  @include flex-column;

  position: relative;
  width: $form-width;
  border-bottom: 1px solid rgba($dusk, 0.1);
  transition: padding 0.3s ease 0s, border-color 0.3s ease 0s;

  &:hover {
    border-bottom: 1px solid rgba($dusk, 0.3);
  }

  &.-disabled {
    opacity: 0.7;

    > .current {
      cursor: default;

      > .chevron:hover {
        opacity: 0.5;
      }
    }
  }

  &.-active {
    border-bottom: 1px solid rgba($dusk, 0.5);

    > .options {
      max-height: $select-height;
      visibility: visible;
      opacity: 1;
    }
  }

  &.-value {
    padding-top: $form-field-padding-top;

    > .current {
      > .label {
        width: auto;
        visibility: visible;
        opacity: 0.5;
      }

      > .placeholder {
        width: 0;
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  > .current {
    @include flex-row;

    align-items: center;
    height: $form-field-height;
    width: 100%;
    cursor: pointer;

    > .label {
      position: absolute;
      top: 22px;
      left: 0;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease 0s;
      pointer-events: none;
    }

    > .placeholder {
      width: auto;
      overflow: hidden;
      visibility: visible;
      opacity: 0.7;
      transition: opacity 0.3s ease 0s;
    }

    > .content {
      @include box;
      @include flex-row;

      flex-grow: 1;
      max-width: $form-width - $icon-small-size;
      padding-right: 20px;
    }

    > .chevron {
      opacity: 0.5;
      transition: opacity 0.3s ease 0s;

      &:hover {
        opacity: 1;
      }
    }
  }

  > .options {
    z-index: 2;
    position: relative;
    max-height: 0;
    height: $select-height;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease 0s, opacity 0.3s ease 0s;
  }

  > .overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
}
