.transaction-manager {
  position: relative;
  width: 18px;
  height: 24px;
  font-weight: 600;
}

.transaction-manager__icon {
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
