.asset-card {
  all: initial;

  @include box;
  @include font;
  @include flex-column;
  @include hover-animation;

  position: relative;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba($dusk, 0.05);
  border-radius: 5px;
  padding: 25px;
  height: 220px;
  text-align: center;
  cursor: pointer;

  &:hover {
    box-shadow: 0 9px 18px 0 rgba($dusk, 0.1);
  }

  > .symbol {
    margin: 0 auto;
    opacity: 0.2;
  }

  > .name {
    margin-top: 20px;
  }

  > .balance {
    > .crypto {
      margin-top: 5px;
      opacity: 0.5;
      line-height: 1.43;
    }

    > .fiat {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      text-align: center;
      margin-top: 28px;
      height: 44px;

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 190px;
        height: 1px;
        background-color: rgba($dusk, 0.1);
      }

      > .message {
        &.-transparent {
          opacity: 0.5;
        }
      }
    }
  }

  > .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 95px;
  }
}
