.asset-card {
  all: initial;

  @include box;
  @include font;
  @include flex-column;
  @include hover-animation;

  position: relative;
  padding: 30px;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;

  &.-active {
    border: 1px solid $blue;

    > .tick {
      opacity: 1;
      visibility: visible;
    }

    > .symbol {
      opacity: 1;
    }
  }

  &.-blue {
    background-color: $blue-two;

    &:hover,
    &.-active {
      background-color: $bright-sky-blue;

      > .symbol {
        opacity: 1;
      }

      > .balance {
        opacity: 1;
      }
    }

    > .symbol {
      opacity: 0.5;
    }
  }

  > .tick {
    position: absolute;
    top: 20px;
    left: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
  }

  > .symbol {
    margin: 0 auto;
    opacity: 0.2;
    transition: opacity 0.3s ease 0s;
  }

  > .name {
    margin-top: 10px;
  }

  > .balance {
    margin-top: 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease 0s;
  }

  > .edit {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
