.password-button__input {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -5000px;
  color: transparent;
  opacity: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.password-button__dots {
  z-index: -1;
  position: relative;
  top: 0;
  left: 0;

  &--15 .password-button__dot,
  &--20 .password-button__dot {
    margin-right: 6px;
  }

  &--20 .password-button__dot {
    width: 9px;
    height: 9px;
  }

  &--25 .password-button__dot {
    width: 6px;
    height: 6px;
    margin-right: 3px;
  }

  &--error .password-button__dot {
    background-color: $red;
  }
}

.password-button__dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  background-color: $white;
  border-radius: 50%;
  transition: all .3s ease;

  &:last-child {
    margin-right: 0;
  }
}
