.asset-picker-current {
  all: initial;
  position: relative;

  @include flex-row;

  flex-grow: 1;
  max-width: 100%;
  cursor: pointer;

  > .placeholder {
    width: auto;
    overflow: hidden;
    visibility: visible;
    opacity: 0.7;
    transition: opacity 0.3s ease 0s;
  }

  > .label {
    position: absolute;
    top: 14px;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    pointer-events: none;
  }

  > .name {
    display: inline-flex;
  }

  > .symbol {
    margin: 0 12px 0 auto;
    opacity: 0.2;
    transition: opacity 0.3s ease 0s;
  }

  // &.-disabled {
  //   cursor: default;

  //   &:hover > .symbol {
  //     opacity: 0.2;
  //   }
  // }
}
