.asset-picker-current {
  all: initial;

  @include flex-row;

  position: relative;
  align-items: center;
  flex-grow: 1;
  max-width: 100%;
  cursor: pointer;

  &.-disabled {
    cursor: default;

    &:hover > .symbol {
      opacity: 0.2;
    }
  }

  &:hover,
  &.-active {
    > .symbol {
      opacity: 0.5;
    }
  }

  > .info {
    @include box;
    @include flex-row;

    align-items: center;
    max-width: calc(100% - #{$token-icon-size});
    padding-right: 30px;
    margin-top: 14px;

    > .name,
    > .balance {
      display: inline-flex;
    }

    > .balance {
      margin-left: 5px;
    }
  }

  > .symbol {
    margin-left: auto;
    opacity: 0.2;
    transition: opacity 0.3s ease 0s;
  }
}
