.menu-panel-wallet-manager-main {
  all: initial;

  @include box;
  @include flex-row;

  width: 100%;
  padding: 30px 50px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease 0s, padding-bottom 0.3s ease 0s;

  > .icon {
    opacity: 0.5;
  }

  > .info {
    @include flex-column;

    width: 100%;
    margin-left: 20px;

    > .name {
      max-width: 130px;
    }

    > .address {
      opacity: 0.5;
    }
  }

  > .chevron {
    @include hover-animation;

    margin-left: auto;
    margin-right: -4px;
  }

  &:hover,
  &.-active {
    background-color: $cobalt-blue;

    &.-read-only {
      background-color: $dark-three;
    }
  }

  &.-active {
    padding-bottom: 15px;

    > .chevron {
      transform: scaleY(-1);
    }
  }
}
