.wallet-password {
  all: initial;

  @include flex-row;

  width: $wallet-button-width;
  height: $wallet-button-height;
  align-items: center;
  justify-content: space-between;

  > .content {
    @include flex-row;

    align-items: center;
    flex-grow: 1;

    > .icon {
      padding: 30px;
      opacity: 0.5;
      transition: opacity 0.3s ease 0s;
    }

    > .field {
      @include flex-row;

      position: relative;
      flex-grow: 1;

      > .input {
        @include font;

        width: 100%;
        height: 40px;
        padding: 10px 0;
        background: transparent;
        border: none;
        color: $white;
        opacity: 0.5;
        transition: color 0.3s ease 0s, opacity 0.3s ease 0s;

        &:hover,
        &:focus {
          opacity: 1;
        }

        &::placeholder {
          color: $white;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }

        &:-webkit-autofill {
          box-shadow: 0 0 0 20px $blue-two inset;
          -webkit-text-fill-color: $white !important;
        }
      }

      > .error {
        position: absolute;
        right: 0;
        bottom: 0;

        > .input {
          border-bottom: 1px solid $blush;
          color: $blush;
          opacity: 1;

          &::placeholder {
            color: $blush;
            opacity: 1;
          }

          &:-webkit-autofill {
            -webkit-text-fill-color: $blush !important;
          }
        }
      }
    }
  }

  > .arrow {
    padding: 30px;
  }

  &:hover > .content > .icon {
    opacity: 1;
  }
}
