.account-manager__item {
  position: relative;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid $line;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }
}

.account-manager__item--title {
  text-transform: uppercase;
  color: $gray2;
  font-size: 11px;
}

.account-manager-footer {
  position: relative;
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
  color: $blue;
  font-weight: 600;
  cursor: pointer;
}

.account-manager-footer__icon {
  position: absolute;
  top: 0;
  left: 0;
}
