.menu-layout {
  all: initial;

  @include flex-row-center;

  position: relative;
  width: 100vw;
  min-height: 100vh;

  > .aside {
    height: 100%;
    width: $menu-panel-width;
  }

  > .content {
    flex-grow: 1;
    height: 100vh;
  }
}
