@import 'styles/base';
@import 'styles/mixins';
@import 'styles/colors';
@import 'styles/responsive';

.core {
  width: 100%;
  height: 100%;
  padding: 0 0 0 $menu-panel-width;
  transition: padding-left 0.15s ease-in-out;

  @include vertical-tablet {
    padding: 0;
    margin-top: 80px;
    transition: margin-top 0.15s ease-in-out;
  }
}

.minimized {
  padding: 0 152px;

  @include vertical-tablet {
    padding: 0 16px;
    margin-top: 24px;
  }
}

.content {
  display: block;
  max-width: 1200px;
  padding: 0 40px;
  height: 100%;
  margin: 0 auto;

  @include vertical-tablet {
    padding: 0 16px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: $page-header-height;
  background-color: rgba($pale-grey, 0.9);
}
