@import 'styles/mixins';

.core {
  position: relative;
  display: flex;
  flex-direction: column;

  &.empty {
    height: 100%;
  }
}

.search {
  width: 100%;
  max-width: 414px;
}

.contact-group-title {
  @include font(14px, 22px);

  padding: 0 0 8px;
  margin-top: 18px;
  font-style: normal;
  font-weight: 600;
  color: $main-black-40;
  text-transform: uppercase;
}

.center {
  @include flex-column-center;

  flex: 1 1 auto;
}

.empty-contacts {
  @include font(16px, 24px);

  display: block;
  width: 100%;
  max-width: 352px;
  margin-top: -112px;
  text-align: center;
  color: $main-black-40;
}
