.modal-image {
  margin: 70px auto 40px;
  width: 96px;
  height: 96px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--done {
    background-image: $modal-done;
  }

  &--email-no-ok {
    background-image: $modal-email-no-ok;
  }

  &--email-ok {
    background-image: $modal-email-ok;
  }

  &--error {
    background-image: $modal-error;
  }

  &--keys-no-ok {
    background-image: $modal-keys-no-ok;
  }

  &--keys-ok {
    background-image: $modal-keys-ok;
  }

  &--screenshot {
    background-image: $modal-screenshot;
  }

  &--spy {
    background-image: $modal-spy;
  }

  &--warning {
    margin: 80px auto 0;
    background-image: $modal-warning;
  }
}
