.active-assets-panel {
  all: initial;

  display: block;
  width: 100%;
  height: 100%;
  padding: 80px 0 66px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);

  > .current-address-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
  }

  > .list {
    height: calc(100% - (80px + 66px));
  }

  > .manage {
    width: 100%;
    border-top: 1px solid #ebedf0;

    > .link {
      @include flex-row-center;
      @include hover-animation;

      height: 66px;
      background-color: #ffffff;

      &:hover {
        opacity: 0.7;
      }

      > .j-icon {
        margin-right: 10px;
      }
    }
  }

  @media only screen and (max-width: 1280px) {
    width: 290px;
  }
}
