.currencies-modal-header {
  height: 24px;
}

.currencies-modal-footer {
  position: relative;
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
  color: $blue;
  font-weight: 600;
  cursor: pointer;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.currencies-modal-footer__icon {
  position: absolute;
  top: 0;
  left: 0;
}
