.JThumbnail {
  all: initial;
  width: 480px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  > .image {
    margin-bottom: 5px;
  }

  > .title {
    margin-bottom: 25px;
  }

  > .description {
    margin-bottom: 30px;
  }
}
