@import 'styles/mixins';

.core {
  @include flex-column-center;

  max-width: 544px;
  min-height: 100vh;
  margin: 0 auto;
  padding: $page-header-height 0;
}

.container {
  max-width: 544px;
  width: 544px;
}

.qrbox {
  margin-bottom: 16px;
  background-color: $white;
  padding: 24px;
  box-shadow: $normal-shadow;
}

.input {
  margin-bottom: 32px;
}
