.wallet-header {
  all: initial;

  @include box;
  @include flex-row;

  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;

  > .logo,
  > .button {
    position: absolute;
  }

  > .logo {
    left: 50px;
  }

  > .button {
    @include flex-row-center;

    right: 50px;
    height: $logo-full-height;
  }
}
