.auth-wrap {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 320px;
  height: 200px;
  margin: auto;
  text-align: center;
  overflow: auto;
  color: $gray;
}

.auth__title {
  font-size: 20px;
}

.auth__subtitle {
  margin: 20px auto 30px;
  line-height: 24px;
  font-size: 15px;
  color: $gray2;
}
