.DerivedAddress {
  all: initial;
  width: 440px;
  height: 60px;
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  transition: background 0.3s ease 0s;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(0, 88, 210);

  &:hover {
    background-color: #00c1ff;
  }

  // > .address {
  // }

  // > .balance {
  // }

}