@import 'styles/mixins';

.card,
.left {
  @include property-transition(filter, opacity);

  position: absolute;
  height: 100%;
}

.card {
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 59px);
    height: 100%;
    border-radius: 0 6px 6px 0;
    background-color: $main-blue;
    filter: drop-shadow($blue-shadow);
  }
}

.left {
  top: 0;
  left: 0;
  fill: $main-blue;
  filter: drop-shadow($blue-shadow);
}

.core {
  @include property-transition(opacity);

  position: relative;
  min-width: 0;
  align-items: center;
  cursor: pointer;
  width: $wallet-button-width;
  height: $wallet-button-height;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &::before {
    @include property-transition(border-color, background-color);

    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    border-radius: 100px;
    border: 2px solid $main-blue-30;
    background-color: $white;
  }

  &:hover {
    &::before {
      background-color: $main-blue-20;
    }

    .card,
    .left {
      filter: drop-shadow($blue-shadow-2);
    }
  }

  &.active {
    &::before {
      background-color: $main-blue;
    }
  }

  &.message {
    margin-bottom: 44px;
  }

  &.chooser {
    &::before,
    .card {
      opacity: 0.3;
    }
  }
}

.body {
  @include flex-row;

  align-items: center;
  padding-left: 48px;
  height: 100%;
  position: relative;
}

.data {
  flex: 2 2 150px;
  min-width: 150px;
}

.name,
.address,
.balance {
  color: $white;
  font-family: $font;
}

.wrapper {
  @include flex-row;

  position: relative;
  width: 350px;
  margin-left: -8px;
  align-items: center;
}

.name {
  @include flex-row;
  @include property-transition(background-color);

  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  height: 28px;
  padding: 0 8px;
  align-items: center;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  &:hover {
    background-color: $main-black-20;
  }

  &.editable {
    background-color: $main-black-50;
    color: transparent;
  }
}

.input {
  @include flex-row;

  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
  padding: 0 8px;
  color: $white;
  width: 350px;
}

.address {
  @include flex-row;

  opacity: 0.5;
  font-size: 14px;
}

.balance {
  font-size: 20px;
  padding-top: 3px;
  line-height: 1.4;
}

.warning {
  @include flex-row;

  max-width: 512px;
  margin: 8px auto 16px auto;
}

.actions {
  @include hover-animation;
  @include flex-column-center;

  height: 100%;
  flex: 0 0 56px;
}
