$menu-select-item-height: 40px;

.menu-select {
  all: initial;

  @include box;
  @include flex-column-center;

  z-index: $z-index-menu-select;
  position: relative;
  width: 100%;
  margin-top: 10px;

  &.-active {
    > .current {
      background-color: $bright-sky-blue;
      border-radius: 0 0 3px 3px;
    }

    > .options {
      max-height: 200px;
      visibility: visible;
      opacity: 1;
    }
  }

  > .current {
    @include hover-animation;
    @include flex-row-center;

    width: 100%;
    height: $menu-select-item-height;
    border: 1px solid rgba($white, 0.25);
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: $bright-sky-blue;
    }
  }

  > .overlay {
    z-index: $z-index-menu-select-overlay;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
  }

  > .options {
    @include hover-animation;

    z-index: $z-index-menu-select-options;
    position: absolute;
    bottom: ($menu-select-item-height - 1);
    left: 0;
    max-height: 0;
    width: 100%;
    padding: 8px 20px;
    background-color: $bright-sky-blue;
    border: 1px solid rgba($white, 0.25);
    border-radius: 3px 3px 0 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;

    > .item {
      @include flex-row;

      align-items: center;
      width: 100%;
      height: $menu-select-item-height;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.3s ease 0s;

      &:hover {
        opacity: 1;
      }

      &.-active {
        opacity: 1;
        cursor: default;
      }

      > .value {
        @include flex-row-center;

        height: 100%;
      }

      > .icon {
        @include flex-row-center;

        margin-left: auto;
      }
    }
  }
}
