.help-text {
  all: initial;

  @include box;
  @include flex-row;

  width: $help-text-width;
  padding: $help-text-padding;
  align-items: center;
  background-color: rgba($black, 0.2);
  border-radius: 3px;

  > .icon {
    opacity: 0.5;
  }

  > .text {
    @include flex-row;

    width: $help-text-text-width;
    margin-left: $help-text-padding;
    line-height: $help-text-line-height;
    align-items: center;
    opacity: 0.7;
  }
}
