.keystore-buttons {
  @include flex-column-center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.keystore-buttons__create {
  margin-bottom: 40px;
}

.keystore-buttons__delimiter {
  position: relative;
  height: 20px;
  width: 20px;
  line-height: 20px;
  color: $gray2;
  font-weight: 600;
  font-size: 13px;
  text-align: center;

  &:before,
  &:after {
    position: absolute;
    top: 9px;
    display: block;
    width: 100px;
    height: 1px;
    background-color: $gray2;
    content: '';
  }

  &:before {
    right: 60px;
  }

  &:after {
    left: 60px;
  }
}

.keystore-buttons__import {
  margin-top: 40px;
}
