.wallets-start-view {
  all: initial;

  @include flex-column-center;

  position: relative;
  min-height: 100%;

  > .content {
    @include box;
    @include flex-column-center;

    min-height: 100%;
    padding: 150px 0 50px 0;

    > .title {
      line-height: 32px;
    }

    > .buttons {
      margin-bottom: 50px;
    }

    > .terms {
      margin-top: auto;
      opacity: 0.5;
    }
  }
}
