.wallets-start-view {
  all: initial;

  @include flex-column-center;

  position: relative;
  min-height: 100%;

  > .content {
    @include box;
    @include flex-column-center;

    margin-bottom: -150px;
    flex: 1;

    > .title {
      @include flex-column-center;

      line-height: 32px;
    }
  }

  > .terms {
    @include flex-row-center;

    padding: 60px 0;
    line-height: 30px;
    opacity: 0.5;

    > .link {
      margin-left: 5px;
    }
  }
}
