.modal-button {
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: $blue;
  border: none;
  border-radius: 0 0 5px 5px;
  color: $white;
  font-size: 15px;
  font-weight: 600;
  font-family: $font;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s ease;

  &:disabled {
    background-color: $gray2!important;
    cursor: not-allowed;

    .modal-button__title {
      opacity: 0.5;
    }
  }

  &:hover {
    background-color: $blue2;
  }
}

.modal-button__title {
  position: relative;
  display: inline-block;
  padding-left: 35px;
}

.modal-button__icon {
  position: absolute;
  top: 23px;
  left: 0;
}
