@import "styles/colors";

.core {
  position: relative;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 100%;
}

.wrap {
  display: inline-block;
  flex-grow: 1;
}

.title {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: $main-black-40;
  font-weight: normal;
}

.address {
  display: block;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: $main-black-60;
}

.valid .address {
  color: $main-black;
}
