@import './Actions/actions';
@import './MainAction/mainAction';
@import './BalanceTicker/balanceTicker';

.menu-panel {
  all: initial;

  @include flex-column;

  position: relative;
  min-height: 100vh;
  width: $menu-panel-width;
  background-image: linear-gradient(18deg, $blue-two, $darkish-blue-two);

  > .top {
    @include flex-row;

    padding: 45px 40px;
    align-items: center;

    > .separator {
      width: 1px;
      height: 32px;
      margin-left: 30px;
      background-color: $white;
      opacity: 0.1;
    }

    > .ticker {
      position: relative;
      margin-left: 30px;
    }
  }

  &.-read-only {
    background-image: linear-gradient(18deg, $dusk, $dark);
  }
}
