.j-flat-button {
  all: initial;

  @include flex-row-center;

  opacity: 1;
  transition: opacity 0.3s ease 0s;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &.-label {
    &:active > .icon {
      left: -5px;
    }

    > .icon {
      margin-right: 10px;
      transition: left 0.3s ease 0s;
    }
  }

  &.-disabled {
    &,
    &:hover {
      opacity: 0.3;
      cursor: default;
    }

    &:active > .icon {
      left: 0;
    }
  }

  &.-opaque {
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  &.-transparent {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &.-loading {
    //
  }

  > .icon {
    position: relative;
    top: 0;
    left: 0;
  }
}
