@import './Item/item';
@import './AddressWithName/addressWithName';

.menu-panel-wallet-manager-details-addresses {
  all: initial;
  height: 155px;
  border-top: 1px solid rgba($white, 0.1);
  border-bottom: 1px solid rgba($white, 0.1);
  padding: 20px 0 20px 3px;
  box-sizing: border-box;
}
