.field {
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
  background-color: $white;

  &:last-child {
    margin-bottom: 0;
  }
}

.field--error {
  .field__message {
    color: $red;
  }

  .field__placeholder {
    color: rgba(229,57,53,0.5);
  }
}

.field--success {
  .field__message {
    color: $blue;
  }

  .field__placeholder {
    color: rgba(17, 85, 204,0.5);
  }
}

.field__placeholder {
  z-index: -2;
  position: absolute;
  top: 11px;
  left: 15px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  color: $gray2;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.field__placeholder--top {
  z-index: 3;
  top: -6px;
  left: 10px;
  line-height: 11px;
  padding: 0 5px;
  background-color: $white;
  font-size: 11px;
  opacity: 1;
}

.field__message {
  position: relative;
  margin-top: 5px;
  text-align: right;
  font-size: 11px;
}

.field__input,
.field__select {
  display: block;
  width: 100%;
  line-height: 24px;
  padding: 10px 15px;
  background: transparent;
  border: 1px solid rgba(45,44,62,0.2);
  font-family: $font;
  font-weight: 600;
  font-size: 14px;
  color: $gray;
  transition: border 0.3s ease 0s;

  &:hover,
  &:focus {
    border: 1px solid rgba(45,44,62,0.4);
  }

  &:disabled {
    background-color: $white;
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.field__input--multiline {
  min-height: 120px;
  resize: vertical;
}

.field--error {
  .field__input,
  .field__select {
    &,
    &:hover,
    &:focus {
      color: $red;
      border-color: rgba(229,57,53,0.2);
    }
  }
}

.field--success {
  .field__input,
  .field__select {
    &,
    &:hover,
    &:focus {
      color: $blue;
      border-color: rgba(17, 85, 204,0.2);
    }
  }
}

.field__select {
  padding: 0;
  color: $gray;
  cursor: pointer;

  &:hover {
    .picker__items {
      border-color: rgba(45,44,62,0.4);
    }
  }
}

.field__select--disabled {
  background-color: $white;
  opacity: 0.3;
  cursor: not-allowed;
}
