.field,
.field-group {
  position: relative;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.field {
  &--error {
    .field__message {
      color: $red;
    }

    .field__placeholder {
      color: $red2;
    }

    .field__input,
    .field__select {
      color: $red;
      border-color: $red3;

      &:hover,
      &:focus {
        border-color: $red2;
      }
    }
  }

  &--success {
    .field__message {
      color: $blue;
    }

    .field__placeholder {
      color: $blue5;
    }

    .field__input,
    .field__select {
      color: $blue;
      border-color: $blue6;

      &:hover,
      &:focus {
        border-color: $blue5;
      }
    }
  }
}

.field__placeholder {
  z-index: -1;
  position: absolute;
  top: 12px;
  left: 15px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  color: $gray2;
  opacity: 0.5;
  transition: all 0.3s ease;

  &--top {
    z-index: 3;
    top: -6px;
    left: 10px;
    line-height: 11px;
    padding: 0 5px;
    background-color: $white;
    font-size: 11px;
    opacity: 1;
  }
}

.field__message {
  position: relative;
  margin-top: 5px;
  text-align: right;
  font-size: 11px;
}

.field__input,
.field__select {
  display: block;
  width: 100%;
  line-height: 24px;
  padding: 10px 15px;
  background: transparent;
  border: 1px solid $black4;
  font-family: $font;
  font-weight: 600;
  font-size: 14px;
  color: $gray;
  transition: border 0.3s ease 0s;

  &:hover,
  &:focus {
    border: 1px solid $black3;
  }

  &:disabled {
    background-color: $white;
    opacity: 0.3;
    cursor: default;
  }
}

.field__input--multiline {
  min-height: 120px;
  resize: vertical;
}

.field__select {
  padding: 0;
  color: $gray;
  cursor: pointer;

  &:hover {
    .picker__items {
      border-color: $black3;
    }
  }

  &--disabled {
    background-color: $white;
    opacity: 0.3;
    cursor: default;
  }
}

.field-group {
  .field {
    margin-bottom: 0;
  }

  .field + .field {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 90px;
  }

  .field__input {
    padding-right: 105px;
  }

  .field__select {
    border-color: transparent;
    border-left-color: $black4;

    &:hover {
      border-color: $black4;
      border-left-color: $black3;
    }
  }
}
