.walletHeader {
  all: initial;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  &:hover {
    > .icon {
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  > .icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    transition: all 0.3s ease 0s;
    align-items: center;
    margin-left: 10px;
    border-radius: 24px;
    justify-content: center;
  }
}
