.Radio {
  all: initial;
  cursor: pointer;
  display: flex;
  opacity: 0.25;
  flex-grow: 1;
  flex-direction: row;

  &.-checked {
    opacity: 1;
  }

  &:hover:not(.-checked) {
    opacity: 0.75;
  }

  > .icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: white;
  }

  > .content {
    all: initial; // breaking of isolation
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;

    > .text {
      margin-left: 15px;
    }
  }
}