.form-alert {
  display: table;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 30px;
  background-color:$blue4;
  color: $blue;
}

.icon.form-alert__icon,
.form-alert__text {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.form-alert__text {
  line-height: 20px;
  padding-left: 10px;
}
