.wallet-face-actions {
  all: initial;

  @include flex-row-center;

  margin-left: auto;
  padding: 30px;
  cursor: pointer;

  > .overlay {
    z-index: 2;
    position: fixed;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    display: none;
    cursor: pointer;
  }

  > .actions {
    @include flex-row-center;

    z-index: 3;

    > .action {
      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  &.-toggled {
    > .overlay {
      display: block;
    }
  }
}
