.wallets-import-view {
  all: initial;

  @include flex-column-center;

  min-height: 100%;

  &.-assets > .content {
    > .form {
      width: 1024px;

      > .assets {
        height: calc(100vh - 350px);
      }
    }
  }

  > .content {
    @include box;
    @include flex-column-center;

    min-height: 100%;
    padding: 150px 0 50px 0;

    > .form {
      width: $form-width;
      margin: 0 auto;

      > .actions {
        @include flex-row-center;

        margin-top: 30px;

        > .next {
          margin-left: auto;
        }
      }
    }
  }

  @media only screen and (max-width: 1600px) {
    &.-assets > .content > .form {
      width: 940px;
    }
  }

  @media only screen and (max-width: 1400px) {
    &.-assets > .content.-assets > .form {
      width: 840px;
    }
  }
}
