@import './jPopoverOpenCloseAnimation';

.popover {
  z-index: 20;
  position: absolute;
  top: -20px;
  right: -20px;
  margin: 20px;
  padding: 20px 30px;
  background-color: $white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: $shadow3;

  &--opening,
  &--closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &--opening {
    animation-name: popover-opening;
  }

  &--closing {
    animation-name: popover-closing;
  }

  &--keys-manager {
    width: 280px;
  }

  &--transactions-manager {
    width: 180px;
  }

  &--keystore-manager {
    width: 200px;
  }
}

.popover__items {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $line;
}

.popover__item {
  position: relative;
  height: 24px;
  line-height: 24px;
  margin-bottom: 12px;
  font-weight: 600;
  text-align: left;
  color: $blue;
  cursor: pointer;
  transition: opacity 0.3s ease 0s;

  &:hover {
    opacity: 0.7;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--gray {
    color: $gray;
    opacity: 0.5;

    &:hover {
      opacity: 0.7;
    }
  }
}

.popover__icon {
  position: absolute;
  top: 4px;
  left: 0;
}

.popover__label {
  padding-left: 25px;
}
