@keyframes popover-opening {
  from {
    top: -50px;
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 500px;
    opacity: 1;
  }
}

@keyframes popover-closing {
  from {
    max-height: 500px;
    opacity: 1;
  }

  to {
    top: -50px;
    max-height: 0;
    opacity: 0;
  }
}
