@import "styles/mixins";

.core {
  @include property-transition(color);

  text-decoration: none;
}

.text-white {
  // FIXME: inherit font from parent
  @include font;

  display: inline;
  color: $white;
  text-decoration: underline $white;
  // stylelint-disable-next-line property-no-unknown
  text-decoration-skip-ink: auto;

  &:hover,
  &:active {
    color: $bright-sky-blue;
    text-decoration-color: $bright-sky-blue;
  }
}

.text-blue {
  display: inline;
  color: $main-blue;
  text-decoration: underline $main-blue-30;
  // stylelint-disable-next-line property-no-unknown
  text-decoration-skip-ink: auto;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:active {
    color: $main-blue-50;
  }
}

.button-general {
  // stylelint-disable-next-line property-no-unknown
  composes: core general from '../Button/button.m.scss';
}

.button-secondary {
  // stylelint-disable-next-line property-no-unknown
  composes: core secondary from '../Button/button.m.scss';
}

.button-general-confirm {
  // stylelint-disable-next-line property-no-unknown
  composes: core general-confirm from '../Button/button.m.scss';
}

.button-secondary-confirm {
  // stylelint-disable-next-line property-no-unknown
  composes: core secondary-confirm from '../Button/button.m.scss';
}

.button-additional-icon {
  // stylelint-disable-next-line property-no-unknown
  composes: core additional-icon from '../Button/button.m.scss';
}
