.logo {
  display: inline-block;
}

.logo__image {
  width: $logo-width;
  height: $logo-height;
  background-image: $logo;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 1024px) {
  .header__logo {
    position: relative;
  }

  .logo {
    width: 53px;
    overflow: hidden;
  }

  .logo__image {
    background-image: $logo1024;
  }
}
