.j-logo {
  all: initial;

  @include hover-animation;

  z-index: $z-index-menu-logo;
  position: relative;
  display: flex;
  width: $logo-width;
  height: $logo-height;
  cursor: pointer;

  > .image {
    width: 100%;
    height: 100%;
    background-image: $logo;
  }

  &.-minimal {
    width: 32px;
    height: 32px;

    > .image {
      background-image: none;
      background-color: $white;
    }
  }
}
