@import 'styles/colors';
@import 'styles/zindex';

.core {
  z-index: $z-index-menu-logo;
  position: relative;
  display: inline-block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 136px;
  color: $white;
}
