.j-logo {
  all: initial;

  @include hover-animation;

  z-index: $z-index-menu-logo;
  position: relative;
  display: flex;
  width: $logo-full-width;
  height: $logo-full-height;
  cursor: pointer;

  > .image {
    width: 100%;
    height: 100%;
    background-image: $logo-full;
    background-position: left center;
    background-repeat: no-repeat;
  }

  &.-only-icon {
    width: $logo-icon-width;
    height: $logo-icon-height;

    > .image {
      background-image: $logo-icon;
    }
  }
}
