.j-tabs {
  all: initial;

  @include flex-row-center;
  @include font;

  height: 100%;

  > .tab {
    @include flex-row-center;
    @include hover-animation;

    position: relative;
    height: 100%;
    margin-right: 50px;
    text-transform: uppercase;
    font-weight: 600;

    &:last-child {
      margin-right: 0;
    }

    &.-active {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $blue;
      }

      > .link {
        color: $blue;
        opacity: 1;
      }
    }

    > .link {
      @include hover-animation;

      display: block;
      color: $dusk;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media only screen and (max-width: 1440px) {
    > .tab {
      margin-right: 40px;
    }
  }
}
