.j-radio {
  all: initial;
  display: inline-block;

  &:not(:last-child) {
    margin-bottom: $checkbox-item-margin-bottom;
  }

  > .field {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;

    > .checkbox {
      display: none;
    }

    > .flag {
      &::before,
      &::after {
        @include hover-animation;

        content: '';
        position: absolute;
        border-radius: 20px;
      }

      &::before {
        top: 50%;
        left: 0;
        width: 18px;
        height: 18px;
        margin-top: -9px;
        background-color: rgba($white, 0.2);
      }

      &::after {
        top: 50%;
        left: 5px;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        background-color: $white;
        transform: scale(0);
      }
    }

    > .label {
      @include hover-animation;

      opacity: 0.6;
      display: inline-block;

      &:active {
        user-select: none;
      }
    }

    &:hover {
      > .label {
        opacity: 1;
      }

      > .flag {
        &::before {
          background-color: rgba($white, 0.4);
        }
      }
    }

    &.-checked {
      > .label {
        opacity: 1;
      }

      > .flag {
        &::before {
          background-color: rgba($white, 0.3);
        }

        &::after {
          transform: scale(1);
        }
      }
    }
  }
}
