@import 'styles/mixins';

.core {
  position: relative;
  max-width: 736px;
  min-height: 100vh;
  margin: 0 auto;
}

.core,
.form {
  @include flex-column-center;
}

.title {
  @include font;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 48px auto 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: $main-black;
}

.form {
  width: 544px;
}
