.wallet-manager-password {
  all: initial;

  @include flex-row;

  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: $blue-two;

  > .content {
    @include flex-row;

    align-items: center;
    flex-grow: 1;

    > .icon {
      padding: 30px;
      opacity: 0.5;
      cursor: initial;
    }

    > .input {
      @include flex-row;

      position: relative;
      flex-grow: 1;

      &.-error > input {
        border-bottom: 1px solid $pinkish-tan;
        color: $pinkish-tan;
        opacity: 1;

        &::placeholder {
          color: $pinkish-tan;
          opacity: 1;
        }

        &:-webkit-autofill {
          -webkit-text-fill-color: $pinkish-tan !important;
        }
      }

      > input {
        @include font;

        width: 100%;
        padding: 10px 0;
        background: transparent;
        border: none;
        color: $white;
        opacity: 0.5;
        transition: color 0.3s ease 0s, opacity 0.3s ease 0s;

        &:hover {
          opacity: 1;
        }

        &::placeholder {
          color: $white;
          opacity: 0.5;

          &:hover {
            opacity: 1
          }
        }

        &:-webkit-autofill {
          box-shadow: 0 0 0 30px $blue-two inset;
          -webkit-text-fill-color: $white !important;
        }
      }

      > .error {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  > .arrow {
    padding: 30px;
  }
}
