@import 'styles/mixins';

.core {
  @include property-transition(height, opacity);
  @include hover-animation;

  display: flex;
  width: 100%;
  height: 88px;
  max-height: 88px;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  border-radius: 4px;
  background: $white;
  box-shadow: $normal-shadow;

  //&:focus,
  &:hover {
    // FIXME: Temporary solutions for tests
    background-color: $select-shadow;
  }
}

.selected {
  box-shadow: $select-shadow;
  // FIXME: Temporary solution
  height: 120px;
  max-height: 120px;
}

.item {
  @include font(16px, 24px);

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: $main-black;
}

.subtext {
  @include font(14px, 22px);

  font-weight: 400;
  color: $main-black-40;
}

.status-icon {
  width: 88px;
  flex-basis: 88px;
}

.main-block {
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.asset-icon {
  flex-basis: 72px;
  width: 72px;
}

// stylelint-disable
// selector names and nested selectors is necessary
.in {
  .amount-block {
    color: $main-blue;
  }
}

.error {
  .amount-block {
    color: $main-red;
  }
}
