
.digital-assets-manager {
  all: initial;
  display: block;
  position: relative;
  width: 100%;
  max-width: 1000px;
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  padding-top: $page-header-height;

  > .box {
    width: 100%;
    margin-bottom: 10px;
  }
}
