@import 'colors';
@import 'icons';
@import 'images';
@import 'tokens';
@import 'zindex';

/**
 * Base
 */
$box-horizontal-padding: 15px;

/**
 * Font
 */
$font: 'Open Sans', Arial, sans-serif;

/**
 * Page Header
 */
$page-header-height: 130px;

/**
 * Menu Panel
 */
$menu-panel-width: 200px;

/**
 * Form
 */
$form-width: 480px;
$form-field-height: 80px;
$form-border-radius: 3px;
$form-field-padding-top: 16px;
$form-field-horizontal-padding: $box-horizontal-padding;
$form-field-white-horizontal-padding: 20px;
$form-field-white-font-size: 14px;
$form-helpers-font-size: 11px;
$form-field-margin-bottom: 10px;
$form-field-full-height: ($form-field-height + $form-field-padding-top);

/**
 * Select
 */
$select-height: ($form-field-height * 3);

/**
 * Checkbox & Radio
 */
$checkbox-item-margin-bottom: 10px;
$checkbox-dot-size: 16px;
$checkbox-dot-margin-right: 15px;

/**
 * Button
 */
$raised-button-height: 48px;
$wide-button-width: 156px;

/**
 * Modal Header
 */
$modal-header-height: 110px;

/**
 * QR code
 */
$qr-code-height: 220px;

/**
 * Wallet button
 */
$wallet-button-width: 480px;
$wallet-button-height: 90px;

/**
 * Help text
 */
$help-text-width: 480px;
$help-text-padding: 25px;
$help-text-line-height: 20px;
$help-text-text-width: 385px;

/**
 * Copyable field
 */
$copyable-field-width: 360px;
$copyable-field-height: 110px;

/**
 * Overlay actions
 */
$overlay-separator-width: 1px;
$overlay-separator-height: 75px;

/**
 * Transaction item
 */
$transaction-item-height: 90px;
$transaction-item-v-padding: 30px;
$transaction-item-h-padding: 25px;
$transaction-item-border-size: 1px;
