@import 'colors';
@import 'images';
@import 'zindex';

/**
 * Sizes
 */
$icon-small-size: 12px;
$icon-medium-size: 24px;
$icon-large-size: 48px;
$icon-xlarge-size: 90px;

/**
 * Base
 */
$box-horizontal-padding: 15px;

/**
 * Font
 */
$font: 'Open Sans', Arial, sans-serif;

/**
 * Page Header
 */
$page-header-height: 130px;
$new-page-header-height: 112px; // FIXME: Rename it when $page-header-height property stay useless

/**
 * Menu Panel
 */
$menu-panel-width: 304px;

/**
 * Form
 */
$form-width: 480px;
$form-field-height: 80px;
$form-field-gray-height: 72px;
$form-field-white-height: 48px;
$form-field-line-height: 1.5;
$form-border-radius: 3px;
$form-field-white-padding-vertical: 16px;
$form-field-horizontal-padding: $box-horizontal-padding;
$form-field-gray-vertical-padding: 22px;
$form-field-white-horizontal-padding: 20px;
$form-field-white-font-size: 14px;
$form-helpers-font-size: 11px;
$form-field-margin-bottom: 10px;
$form-field-full-height: ($form-field-height + $form-field-white-padding-vertical);

/**
 * Select
 */
$select-height: ($form-field-height * 3);

/**
 * Checkbox & Radio
 */
$checkbox-item-margin-bottom: 10px;
$checkbox-dot-size: 16px;
$checkbox-dot-margin-right: 15px;

/**
 * Modal Header
 */
$modal-header-height: 110px;

/**
 * QR code
 */
$qr-code-height: 240px;

/**
 * Wallet button
 */
$wallet-button-width: 480px;
$wallet-button-height: 90px;

/**
 * Help text
 */
$help-text-width: 480px;
$help-text-padding: 25px;
$help-text-line-height: 20px;
$help-text-text-width: 385px;

/**
 * Copyable field
 */
$copyable-field-width: 360px;
$copyable-field-height: 110px;

/**
 * Overlay actions
 */
$overlay-separator-width: 1px;
$overlay-separator-height: 75px;

/**
 * Transaction item
 */
$transaction-item-height: 80px;
$transaction-item-v-padding: 20px;
$transaction-item-h-padding: 25px;
$transaction-item-border-size: 1px;

/**
 * Animation
 */
$default-animation: cubic-bezier(0, 0, 0.2, 1);

/**
 * Shadows
 */
$blue-shadow: 0 3px 6px rgba(0, 61, 198, 0.2);
$blue-shadow-2: 0 9px 18px rgba(0, 61, 198, 0.2);
$normal-shadow: 0 3px 6px rgba(8, 30, 57, 0.05);
$hover-shadow: 0 9px 18px rgba(8, 30, 57, 0.1);
$select-shadow: 0 7px 18px rgba(8, 30, 57, 0.2);
