@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background-color: $black;
  }

  .container {
    padding: 0;
    background-color: #2F2F4B;
  }

  .header {
    padding: 40px 30px;
    .logo {
      overflow: hidden;
      width: 42px;
      svg {
        .st0 {
          fill: $white;
        }
        .st1 {
          fill: $blue2;
        }
      }
    }
    .menu {
      padding-left: 0;
      &:before {
        display: none;
      }
      li {
        a {
          color: $white;
        }
      }
    }
    .keys-manager {
      .icon-keys {
        color: $white;
        .address {
          color: $gray2;
        }
      }
    }
  }

  .main {
    border-radius: 0px;
    background-color: transparent;
    .sidebar {
      float: none;
      width: 100%;
      background-color: transparent;
      border-radius: 0px;
      padding-bottom: 30px;
      &:before {
        display: none;
      }
      .title {
        display: none;
      }
      .accounts {
        min-height: auto;
        padding: 0 15px;
      }
      .item {
        border-bottom: none;
        border-radius: 5px;
        margin: 0 10px;
        background-color: rgba(255,255,255,0.05);
        box-shadow: $shadow3;
        .img {
          position: relative;
          margin-bottom: 20px;
          margin-top: 0;
          top: 0;
          left: 0;
        }
        h3, .balance {
          padding-left: 0;
        }
        .balance {
          color: $white;
          opacity: 0.5;
        }
        &:before {
          opacity: 0.05;
          border-radius: 5px;
        }
        &.licenced:after {
          top: 38px;
          margin-top: 0;
        }
      }
    }
    .content {
      float: none;
      width: 100%;
      background-color: $white;
      .content-bottom {
        .table {
          padding: 0;
          min-height: unquote("calc(100vh - 376px)");
          overflow: hidden;
          .row, .full-info {
            padding: 0 30px;
          }
          .item {
            &:after {
              opacity: 1;
              right: 30px;
            }
            &.active {
              background-color: $line;
            }
          }
        }
      }
    }
  }

  .footer {
    display: none;
  }
}

@media only screen and (max-width: 600px) {

  .header {
    padding: 20px;
    .logo {
      overflow: inherit;
      width: auto;
    }
    .menu {
      position: absolute;
      margin-left: 0;
      left: 0;
      width: 100%;
      top: 240px;
      z-index: 10;
      padding: 0 20px;
      li {
        margin-right: 0;
        width: 32%;
        text-align: center;
        a {
          background-position: center top;
          padding-left: 0;
          padding-top: 16px;
        }
      }
    }
    .keys-manager {
      margin-top: 8px;
      .icon-keys {
        width: 24px;
        height: 24px;
        padding: 0;
        span {
          display: none;
        }
      }
    }
  }

  .main {
    .sidebar {
      padding-bottom: 90px;
      .accounts {
        padding: 0;
      }
      .item {
        margin: 0 5px;
      }
    }
    .content {
      .content-top {
        display: none;
      }
      .content-bottom {
        .table {
          min-height: unquote("calc(100vh - 156px)");
          .no-data {
            position: relative;
            margin: 50px auto;
            left: 0;
            top: 0;
          }
          .row, .full-info {
            padding: 0 20px;
          }
          .item {
            &:after {
              right: 20px;
            }
          }
          .col-3 {
            width: 50%;
            &:nth-child(2), &:nth-child(3) {
              display: none;
            }
          }
        }
      }
    }
  }

  .modal {
    max-width: 90%;
  }

}