@media only screen and (max-width: 1200px) {
  body {
    .container {
      padding: 0 30px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  html, body {
    background: $white!important;
  }

  body {
    .container-wrap--jwallet {
      .header,
      .your-accounts {
        background: $black-background;
      }
    }

    .jwallet {
      box-shadow: none;
    }

    .container {
      padding: 0;
    }

    .header {
      padding: $tablet-header-v-padding $tablet-header-h-padding;
    }

    .header__logo {
      position: relative;
      top: 7px;
    }

    .logo {
      width: 42px;
      overflow: hidden;
    }

    .logo__image {
      background-image: $logo1024;
    }

    .container-wrap--auth .logo__image {
      background-image: $auth-logo1024;
    }

    .header-menu {
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    .header-menu__item {
      color: $white;
    }

    .header__accounts-manager {
      display: block;
    }

    .keys-manager-title,
    .networks-manager-title {
      width: 24px;
      padding-right: 0;
    }

    .keys-manager-title__head,
    .key--title,
    .networks-manager-title__head {
      display: none;
    }

    .popover--keys-manager {
      right: -64px;
    }

    .networks-manager,
    .keys-manager {
      width: auto;
      margin-left: 20px;
    }

    .network .network__icon {
      opacity: 1;
      visibility: visible;
    }

    .jwallet {
      display: block;
      background: transparent;
      border-radius: 0px;
    }

    .your-accounts {
      float: none;
      display: block;
      width: 100%;
      padding: 0 15px;
      padding-bottom: 30px;
      border-radius: 0px;
    }

    .your-accounts-body {
      min-height: auto;
    }

    .your-accounts-header {
      display: none;
    }

    .account-item {
      margin: 0 10px;
      background-color: rgba(255,255,255,0.05);
      border-radius: 5px;
      box-shadow: $shadow3;

      &,
      &:last-child {
        border: none;
      }
    }

    .account-item__image {
      border-radius: 5px;
      opacity: 0.05;
    }

    .account-item__licensed {
      top: 38px;
      margin-top: 0;
    }

    .account-item__symbol {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 0;
      margin-bottom: $tablet-account-item-symbol-margin-bottom;
    }

    .account-item__name,
    .account-item__balance {
      margin-left: 0;
    }

    .account-item__balance {
      color: $white;
      opacity: 0.5;
    }

    .transactions-table {
      float: none;
      display: block;
      width: 100%;

      &--loading {
        height: calc(100vh - #{$tablet-transactions-table-before-height});
      }
    }

    .transactions-table-body {
      height: auto;
      padding: 0;
      overflow: hidden;

      .row {
        padding: 0 30px;
      }
    }

    .table__item:last-child {
      border-bottom: 1px solid $line;
    }

    .transaction__detail {
      padding: 0 30px;
    }

    .transaction--active {
      background-color: $line;
    }

    .transaction__icon {
      opacity: 1;
      right: 30px;
    }

    .footer {
      display: none;
    }
  }
}

@media only screen and (max-width: 700px) {
  body {
    .modal--account-manager {
      min-width: auto;

      .table__title-item,
      .accounts-table__field {
        width: 50%;

        &--balance,
        &--licensed,
        &--transfer {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    .header {
      padding: $mobile-header-padding;
    }

    .logo {
      width: auto;
      overflow: inherit;
    }

    .header-menu {
      z-index: 10;
      position: absolute;
      top: 240px;
      left: 0;
      width: 100%;
      margin-left: 0;
      padding: 0 20px;
    }

    .header-menu__item {
      width: 32%;
      margin-right: 0;
      text-align: center;
    }

    .header-menu__title {
      line-height: 25px;
      padding-left: 0;
    }

    .header-menu__icon {
      position: static;
    }

    .your-accounts {
      padding: 0;
    }

    .your-accounts-body {
      padding: 0;
      padding-bottom: $mobile-your-accounts-padding-bottom;
    }

    .account-item {
      margin: 0 5px;
    }

    .transactions-table {
      &--loading {
        height: calc(100vh - #{$mobile-transactions-table-before-height});
      }
    }

    .transactions-table-header {
      display: none;
    }

    .transactions-table-body {
      .row {
        padding: 0 20px;
      }

      .table__title-item,
      .transaction__item {
        width: 50%;

        &:nth-child(2), &:nth-child(3) {
          display: none;
        }
      }
    }

    .transactions-table-empty {
      position: relative;
      margin: 50px auto;
      left: 0;
      top: 0;
    }

    .transaction__detail {
      padding: 0 20px;
    }

    .transaction__icon {
      right: 20px;
    }

    .modal {
      max-width: 90%;
    }
  }
}
