$white: #FFFFFF;
$black: #2D2C3E;
$black2: #3C3C58;
$black3: rgba($black, 0.4);
$black4: rgba($black, 0.2);
$black-background: #2F2F4B;
$blue: #1155CC;
$blue2: #1C6AF3;
$blue3: #5E97FB;
$blue4: #CEDCF4;
$blue5: rgba($blue, 0.5);
$blue6: rgba($blue, 0.2);
$blue7: #005BE6;
$blue8: #00C1FF;
$gray: #474667;
$gray2: #A3A2B3;
$gray3: #BFBEC4;
$line: #EBEEF3;
$shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
$shadow2: 0 20px 20px rgba(0, 0, 0, 0.1);
$shadow3: 0 3px 6px rgba(0, 0, 0, 0.15);
$green: #43A047;
$red: #E53935;
$red2: rgba($red, 0.5);
$red3: rgba($red, 0.2);
$deep-orange: #FF5722;
$deep-orange2: rgba($deep-orange, 0.5);
$deep-orange3: rgba($deep-orange, 0.2);
$orange: #FF9800;
$yellow: #FEA000;
$light-green: #8BC34A;
$lime: #CDDC39;
$green: #4CAF50;
$font: 'Open Sans', Arial, sans-serif;

// Colors from Zeplin Styleguide

$pale-grey: #f5f6fa;
$pinkish-tan: #db8f8f;
