// Colors from Zeplin Styleguide

$white: #ffffff;
$black: #000000;
$dusk: #3d4f6c;
$pale-grey: #f5f6fa;
$pale-grey-two: #ebedf0;
$tomato: #e53935;
$blush: #eb7f7c;
$pinkish: #e27c7e;
$faded-orange: #e98b4c;
$yellowish: #f9ea63;
$soft-green: #7ace7d;
$blue: #003dc6;
$blue-two: #0058d2;
$bright-sky-blue: #00c1ff;
