// Colors from Zeplin Styleguide

$white: #ffffff;
$black: #000000;
$dusk: #3d4f6c;
$pale-grey: #f5f6fa;
$pale-grey-two: #ebedf0;
$pinkish-tan: #db8f8f;
$tomato: #e53935;
$blue: #003dc6;
$blue-two: #0058d2;
$bright-sky-blue: #00c1ff;
