$white: #ffffff;
$black: #2D2C3E;
$black2: #3C3C58;
$blue: #1155CC;
$blue2: #1C6AF3;
$blue3: #5E97FB;
$gray: #474667;
$gray2: #A3A2B3;
$gray3: #BFBEC4;
$line: #EBEEF3;
$shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
$shadow2: 0 20px 20px rgba(0, 0, 0, 0.1);
$shadow3: 0 3px 6px rgba(0, 0, 0, 0.15);
$green: #43A047;
$red: #E53935;
$yellow: #FEA000;
$font: 'Open Sans', Arial, sans-serif;
