:global {
  @import 'base';
  @import 'adaptive';
  @import 'animations';
  @import 'colors';
  @import 'grid';

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $line;
    font-family: $font;
    font-size: 13px;
    line-height: 1;
    color: $gray;
  }

  .clear:after {
    clear: both;
    display: block;
    height: 0;
    content: "";
  }

  a {
    text-decoration: none;
    color: $blue;

    &:hover {
      color: $blue2;
    }
  }

  li {
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

  #root {
    height: 100%;
    width: 100%;
  }

  .container {
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }

  .content {
    position: relative;
    width: 100%;
    min-height: unquote('calc(100vh - 160px)');
  }

  @import '../components/base/JbButton/jbButton';
  @import '../components/base/JbCheckbox/jbCheckbox';
  @import '../components/base/JbFooter/jbFooter';
  @import '../components/base/JbHeader/jbHeader';
  @import '../components/base/JbIcon/jbIcon';
  @import '../components/base/JbInput/JbInput';
  @import '../components/base/JbLoader/jbLoader';
  @import '../components/base/JbLogo/jbLogo';
  @import '../components/base/JbModal/jbModal';
  @import '../components/base/JbPopover/jbPopover';
  @import '../components/base/JbSelect/JbSelect';
  @import '../components/base/JbTable/jbTable';
  @import '../components/base/JbAlert/jbalert';
  @import '../components/base/JbTextarea/jbtextarea';

  @import '../components/AccountItem/accountItem';
  @import '../components/AccountManager/accountManager';
  @import '../components/AccountsTable/accountsTable';
  @import '../components/AuthHeader/authHeader';
  @import '../components/JWalletHeader/headerMenu';
  @import '../components/KeysManager/keysManager';
  @import '../components/Search/search';
  @import '../components/Transaction/transaction';
  @import '../components/TransactionManager/transactionManager';
  @import '../components/TransactionsTable/transactionsTable';
  @import '../components/YourAccounts/yourAccounts';

  @import '../routes/Auth/styles/auth';
  @import '../routes/JWallet/styles/jWallet';
}
