:global {
  @import 'base';
  @import 'colors';
  @import 'adaptive';
  @import 'animations';
  @import 'grid';

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: $line;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1;
    color: $gray;
  }

  .clear:after {
    clear: both;
    display: block;
    height: 0;
    content: "";
  }

  a {
    text-decoration: none;
    color: $blue;

    &:hover {
      color: $blue2;
    }
  }

  li {
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

  @import '../components/base/JbIcon/jbIcon';
  @import '../components/base/JbLogo/jbLogo';
  @import '../components/base/JbAccountItem/jbAccountItem';
  @import '../components/base/JbPopover/jbPopover';
  @import '../components/base/JbInput/JbInput';
  @import '../components/base/JbSelect/JbSelect';
  @import '../components/base/JbLoader/jbLoader';

  @import '../components/KeysManager/keysManager';
  @import '../components/Transaction/transaction';
  @import '../components/TransactionManager/transactionManager';
}
