@import 'base';
@import 'mixins';

/* stylelint-disable */
* {
  @include box;

  margin: 0;
  padding: 0;
  outline: none;
}

html,
body,
#root {
  @include font;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $pale-grey;
  color: $dusk;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover {
    color: $blue-two;
  }
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}
/* stylelint-enable */

// Base components
@import '../components/base/JCard/jCard';
@import '../components/base/JIcon/jIcon';
@import '../components/base/JLogo/jLogo';
@import '../components/base/JTabs/jTabs';
@import '../components/base/JText/jText';
@import '../components/base/JInput/jInput';
@import '../components/base/JRadio/jRadio';
@import '../components/base/JLoader/jLoader';
@import '../components/base/JSearch/jSearch';
@import '../components/base/JPicker/jPicker';
@import '../components/base/JSwitch/jSwitch';
@import '../components/base/JTooltip/jTooltip';
@import '../components/base/JCheckbox/jCheckbox';
@import '../components/base/JThumbnail/jThumbnail';
@import '../components/base/JFlatButton/jFlatButton';
@import '../components/base/JAssetSymbol/jAssetSymbol';
@import '../components/base/JRaisedButton/jRaisedButton';

// Components
@import '../components/QRCode/qrCode';
@import '../components/HelpText/helpText';
@import '../components/AssetItem/assetItem';
@import '../components/MenuPanel/menuPanel';
@import '../components/WalletFace/walletFace';
@import '../components/WalletStep/walletStep';
@import '../components/DoubleInput/doubleInput';
@import '../components/AssetPicker/assetPicker';
@import '../components/ModalHeader/modalHeader';
@import '../components/PopupButton/popupButton';
@import '../components/AssetBalance/assetBalance';
@import '../components/SettingsGrid/settingsGrid';
@import '../components/WalletHeader/walletHeader';
@import '../components/FavoriteItem/favoriteItem';
@import '../components/PasswordStep/passwordStep';
@import '../components/CopyableField/copyableField';
@import '../components/PasswordField/passwordField';
@import '../components/WalletLoading/walletLoading';
@import '../components/OverlayActions/overlayActions';
@import '../components/CloseableScreen/closeableScreen';
@import '../components/RoundIconButton/roundIconButton';
@import '../components/TransactionItem/transactionItem';
@import '../components/WalletViewTitle/walletViewTitle';
@import '../components/NewWalletButtons/newWalletButtons';
@import '../components/TransactionsList/transactionsList';
@import '../components/ButtonWithConfirm/buttonWithConfirm';
@import '../components/DigitalAssetsGrid/digitalAssetsGrid';
@import '../components/MnemonicAddresses/mnemonicAddresses';
@import '../components/TransactionsFilter/transactionsFilter';
@import '../components/DigitalAssetsFilter/digitalAssetsFilter';
@import '../components/DigitalAssetsManage/digitalAssetsManage';
@import '../components/OverlayNotification/overlayNotification';
@import '../components/DigitalAssetEditForm/digitalAssetEditForm';
@import '../components/DigitalAssetSendConfirm/digitalAssetSendConfirm';

// Views
@import '../routes/Wallets/walletsView';
@import '../routes/Settings/settingsView';
@import '../routes/NotFound/notFoundView';
@import '../routes/DigitalAssets/digitalAssets';
@import '../routes/Transactions/transactionsView';

// Layouts
@import '../layouts/CoreLayout/coreLayout';
@import '../layouts/MenuLayout/menuLayout';
@import '../layouts/WalletsLayout/walletsLayout';
