.row {
  margin-left: -10px;
  margin-right: -10px;

  .col-2,
  .col-2-4,
  .col-3,
  .col-3-6,
  .col-4,
  .col-4-8,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-12 {
    float: left;
    position: relative;
    padding: 0 10px;
  }

  .col-2 {
    width: 16.6666%;
  }

  .col-2-4 {
    width: 20%;
  }

  .col-3 {
    width: 25%;
  }

  .col-3-6 {
    width: 30%;
  }

  .col-4 {
    width: 33.3333%;
  }

  .col-4-8 {
    width: 40%;
  }

  .col-5 {
    width: 42%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58%;
  }

  .col-8 {
    width: 66.6666%;
  }

  .col-12 {
    width: 100%;
  }
}
