.header {
  all: initial;

  @include flex-row;
  @include font;

  height: 80px;
  line-height: 80px;
  padding: 0 200px;
  border-bottom: 1px solid rgba(61, 79, 108, 0.1);

  > .actions {
    @include flex-row-center;

    margin-left: auto;

    > .link {
      @include flex-row-center;
      @include hover-animation;

      margin-right: 40px;

      &:hover {
        opacity: 0.7;
      }

      > .j-icon {
        position: relative;
        top: 1px;
        margin-right: 10px;
      }
    }
  }

  @media only screen and (max-width: 1680px) {
    padding: 0 160px;
  }

  @media only screen and (max-width: 1600px) {
    padding: 0 160px;
  }

  @media only screen and (max-width: 1440px) {
    padding: 0 80px;
  }

  @media only screen and (max-width: 1280px) {
    padding: 0 50px;
  }
}
