.header {
  display: flex;
  flex-direction: row;
  height: 80px;
  line-height: 80px;
  padding: 0 200px;
  border-bottom: 1px solid rgba(61, 79, 108, 0.1);

  > .actions {
    display: flex;
    margin-left: auto;
  }

  > .actions > .link {
    margin-right: 40px;
  }

  @media only screen and (max-width: 1680px) {
    padding: 0 160px;
  }

  @media only screen and (max-width: 1600px) {
    padding: 0 160px;
  }

  @media only screen and (max-width: 1440px) {
    padding: 0 80px;
  }

  @media only screen and (max-width: 1280px) {
    padding: 0 50px;
  }
}
