/**
 * Sizes
 */
$icon-small-size: 12px;
$icon-medium-size: 24px;
$icon-large-size: 48px;
$icon-xlarge-size: 90px;

/**
 * Small old
 */
$icon-small-arrow-blue: url('../public/assets/icons/small/arrow-blue.svg');
$icon-small-arrow-sky: url('../public/assets/icons/small/arrow-sky.svg');
$icon-small-arrow-white: url('../public/assets/icons/small/arrow-white.svg');

$icon-small-checkbox-white: url('../public/assets/icons/small/checkbox-white.svg');
$icon-small-checkbox-blue: url('../public/assets/icons/small/checkbox-blue.svg');

$icon-small-close-gray: url('../public/assets/icons/small/close-gray.svg');

$icon-small-expand-gray: url('../public/assets/icons/small/expand-gray.svg');

$icon-small-eye-gray: url('../public/assets/icons/small/eye-gray.svg');

$icon-small-info-clear-gray: url('../public/assets/icons/small/info-clear-gray.svg');

$icon-small-lock-gray: url('../public/assets/icons/small/lock-gray.svg');

$icon-small-menu-send-white: url('../public/assets/icons/small/menu-send-white.svg');
$icon-small-menu-receive-white: url('../public/assets/icons/small/menu-receive-white.svg');
$icon-small-menu-favorite-white: url('../public/assets/icons/small/menu-favorite-white.svg');

$icon-small-plus-blue: url('../public/assets/icons/small/plus-blue.svg');
$icon-small-plus-sky: url('../public/assets/icons/small/plus-sky.svg');
$icon-small-plus-white: url('../public/assets/icons/small/plus-white.svg');

$icon-small-repeat-blue: url('../public/assets/icons/small/repeat-blue.svg');

$icon-small-settings-gray: url('../public/assets/icons/small/settings-gray.svg');

$icon-small-star-blue: url('../public/assets/icons/small/star-blue.svg');

/**
 * Medium old
 */
$icon-medium-arrow-white: url('../public/assets/icons/medium/arrow-white.svg');

$icon-medium-arrow-header-white: url('../public/assets/icons/medium/arrow-header-white.svg');

$icon-medium-close-header-gray: url('../public/assets/icons/medium/close-header-gray.svg');
$icon-medium-close-header-white: url('../public/assets/icons/medium/close-header-white.svg');

$icon-medium-copy-blue: url('../public/assets/icons/medium/copy-blue.svg');
$icon-medium-copy-sky: url('../public/assets/icons/medium/copy-sky.svg');

$icon-medium-dots-white: url('../public/assets/icons/medium/dots-white.svg');

$icon-medium-download-blue: url('../public/assets/icons/medium/download-blue.svg');
$icon-medium-download-sky: url('../public/assets/icons/medium/download-sky.svg');

$icon-medium-info-white: url('../public/assets/icons/medium/info-white.svg');

$icon-medium-key-import-white: url('../public/assets/icons/medium/key-import-white.svg');

$icon-medium-key-new-white: url('../public/assets/icons/medium/key-new-white.svg');

$icon-medium-lock-white: url('../public/assets/icons/medium/lock-white.svg');

$icon-medium-logout-gray: url('../public/assets/icons/medium/logout-gray.svg');

$icon-medium-menu-bg-white: url('../public/assets/icons/medium/menu-bg-white.svg');

$icon-medium-mnemonic-white: url('../public/assets/icons/medium/mnemonic-white.svg');
$icon-medium-mnemonic-read-white: url('../public/assets/icons/medium/mnemonic-read-white.svg');

$icon-medium-private-key-white: url('../public/assets/icons/medium/private-key-white.svg');
$icon-medium-private-key-read-white: url('../public/assets/icons/medium/private-key-read-white.svg');

/**
 * Large old
 */
$icon-large-transaction-receive-blue: url('../public/assets/icons/large/transaction-receive-blue.svg');
$icon-large-transaction-send-gray: url('../public/assets/icons/large/transaction-send-gray.svg');

/**
 * Size medium
 * Auth icons bar */
$icon-medium-eye-white: url('../public/assets/icons/new-pack/medium/eye-white.svg');
$icon-medium-padding-cross-white: url('../public/assets/icons/new-pack/medium/padding-cross-white.svg');
$icon-medium-padding-cross-gray: url('../public/assets/icons/new-pack/medium/padding-cross-gray.svg');
$icon-medium-chevron-down-white: url('../public/assets/icons/new-pack/medium/chevron-down-white.svg');

/* Component icons bar */
$icon-medium-checked-blue: url('../public/assets/icons/new-pack/medium/checked-blue.svg');
$icon-medium-chevon-down-blue: url('../public/assets/icons/new-pack/medium/chevon-down-blue.svg');
$icon-medium-padding-lock-gray: url('../public/assets/icons/new-pack/medium/padding-lock-gray.svg');
$icon-medium-padding-lock-white: url('../public/assets/icons/new-pack/medium/padding-lock-white.svg');
$icon-medium-plus-gray: url('../public/assets/icons/new-pack/medium/plus-gray.svg');
$icon-medium-unchecked-gray: url('../public/assets/icons/new-pack/medium/unchecked-gray.svg');

/* Left menu icons bar */
$icon-medium-back-up-white: url('../public/assets/icons/new-pack/medium/back-up-white.svg');
$icon-medium-padding-binding-white: url('../public/assets/icons/new-pack/medium/padding-binding-white.svg');
$icon-medium-dots-border-white: url('../public/assets/icons/new-pack/medium/dots-border-white.svg');
$icon-medium-download-white: url('../public/assets/icons/new-pack/medium/download-white.svg');
$icon-medium-lock-white: url('../public/assets/icons/new-pack/medium/lock-white.svg');
$icon-medium-message-white: url('../public/assets/icons/new-pack/medium/message-white.svg');
$icon-medium-padding-multy-white: url('../public/assets/icons/new-pack/medium/padding-multy-white.svg');
$icon-medium-password-white: url('../public/assets/icons/new-pack/medium/password-white.svg');
$icon-medium-plus-white: url('../public/assets/icons/new-pack/medium/plus-white.svg');
$icon-medium-protect-white: url('../public/assets/icons/new-pack/medium/protect-white.svg');
$icon-medium-refresh-white: url('../public/assets/icons/new-pack/medium/refresh-white.svg');
$icon-medium-setting-white: url('../public/assets/icons/new-pack/medium/setting-white.svg');
$icon-medium-star-white: url('../public/assets/icons/new-pack/medium/star-white.svg');

$icon-medium-back-up-gray: url('../public/assets/icons/new-pack/medium/back-up-gray.svg');
$icon-medium-padding-binding-gray: url('../public/assets/icons/new-pack/medium/padding-binding-gray.svg');
$icon-medium-dots-border-gray: url('../public/assets/icons/new-pack/medium/dots-border-gray.svg');
$icon-medium-download-gray: url('../public/assets/icons/new-pack/medium/download-gray.svg');
$icon-medium-lock-gray: url('../public/assets/icons/new-pack/medium/lock-gray.svg');
$icon-medium-message-gray: url('../public/assets/icons/new-pack/medium/message-gray.svg');
$icon-medium-padding-multy-gray: url('../public/assets/icons/new-pack/medium/padding-multy-gray.svg');
$icon-medium-password-gray: url('../public/assets/icons/new-pack/medium/password-gray.svg');
$icon-medium-plus-gray: url('../public/assets/icons/new-pack/medium/plus-gray.svg');
$icon-medium-protect-gray: url('../public/assets/icons/new-pack/medium/protect-gray.svg');
$icon-medium-refresh-gray: url('../public/assets/icons/new-pack/medium/refresh-gray.svg');
$icon-medium-setting-gray: url('../public/assets/icons/new-pack/medium/setting-gray.svg');
$icon-medium-star-gray: url('../public/assets/icons/new-pack/medium/star-gray.svg');

/* Auth icons bar */
$icon-medium-arrow-left-white: url('../public/assets/icons/new-pack/medium/arrow-left-white.svg');
$icon-medium-add-white: url('../public/assets/icons/new-pack/medium/add-white.svg');
$icon-medium-multy-white: url('../public/assets/icons/new-pack/medium/multy-white.svg');
$icon-medium-binding-white: url('../public/assets/icons/new-pack/medium/binding-white.svg');
$icon-medium-cross-white: url('../public/assets/icons/new-pack/medium/cross-white.svg');
$icon-medium-import-white: url('../public/assets/icons/new-pack/medium/import-white.svg');

$icon-medium-time-red: url('../public/assets/icons/new-pack/medium/time-red.svg');
$icon-medium-time-gray: url('../public/assets/icons/new-pack/medium/time-gray.svg');

$icon-medium-edit-sky: url('../public/assets/icons/new-pack/medium/edit-sky.svg');
$icon-medium-edit-blue: url('../public/assets/icons/new-pack/medium/edit-blue.svg');
$icon-medium-edit-white: url('../public/assets/icons/new-pack/medium/edit-white.svg');

$icon-medium-trash-sky: url('../public/assets/icons/new-pack/medium/trash-sky.svg');
$icon-medium-trash-blue: url('../public/assets/icons/new-pack/medium/trash-blue.svg');

$icon-medium-upload-blue: url('../public/assets/icons/new-pack/medium/upload-blue.svg');
$icon-medium-upload-gray: url('../public/assets/icons/new-pack/medium/upload-gray.svg');
$icon-medium-upload-sky: url('../public/assets/icons/new-pack/medium/upload-sky.svg');

$icon-medium-bucket-white: url('../public/assets/icons/new-pack/medium/bucket-white.svg');

$icon-medium-refresh-gray: url('../public/assets/icons/new-pack/medium/refresh-gray.svg');

$icon-medium-message-gray: url('../public/assets/icons/new-pack/medium/message-gray.svg');

$icon-medium-repeat-gray: url('../public/assets/icons/new-pack/medium/repeat-gray.svg');
$icon-medium-star-add-gray: url('../public/assets/icons/new-pack/medium/star-add-gray.svg');
$icon-medium-star-remove-gray: url('../public/assets/icons/new-pack/medium/star-remove-gray.svg');

$icon-medium-dots-full-gray: url('../public/assets/icons/new-pack/medium/dots-full-gray.svg');

$icon-medium-message-add-gray: url('../public/assets/icons/new-pack/medium/message-add-gray.svg');
$icon-medium-message-edit-gray: url('../public/assets/icons/new-pack/medium/message-edit-gray.svg');

$icon-medium-transaction-send: url('../public/assets/icons/new-pack/medium/transaction-send.svg');
$icon-medium-transaction-receive: url('../public/assets/icons/new-pack/medium/transaction-receive.svg');

/* Component icons bar */
$icon-medium-add-gray: url('../public/assets/icons/new-pack/medium/add-gray.svg');

$icon-medium-list-sky: url('../public/assets/icons/new-pack/medium/list-sky.svg');
$icon-medium-list-blue: url('../public/assets/icons/new-pack/medium/list-blue.svg');
$icon-medium-list-white: url('../public/assets/icons/new-pack/medium/list-white.svg');

$icon-medium-cross-gray: url('../public/assets/icons/new-pack/medium/cross-gray.svg');

$icon-medium-import-sky: url('../public/assets/icons/new-pack/medium/import-sky.svg');
$icon-medium-import-gray: url('../public/assets/icons/new-pack/medium/import-gray.svg');
$icon-medium-import-blue: url('../public/assets/icons/new-pack/medium/import-blue.svg');

$icon-medium-network-gray: url('../public/assets/icons/new-pack/medium/network-gray.svg');

$icon-medium-arrow-up-gray: url('../public/assets/icons/new-pack/medium/arrow-up-gray.svg');

/* Settings icons bar */
$icon-medium-local-currency-blue: url('../public/assets/icons/new-pack/medium/local-currency-blue.svg');
$icon-medium-time-blue: url('../public/assets/icons/new-pack/medium/time-blue.svg');
$icon-medium-language-blue: url('../public/assets/icons/new-pack/medium/language-blue.svg');
$icon-medium-lock-pin-blue: url('../public/assets/icons/new-pack/medium/lock-pin-blue.svg');
$icon-medium-exchange-service-blue: url('../public/assets/icons/new-pack/medium/exchange-service-blue.svg');
$icon-medium-message-blue: url('../public/assets/icons/new-pack/medium/message-blue.svg');
$icon-medium-protect-blue: url('../public/assets/icons/new-pack/medium/protect-blue.svg');
$icon-medium-backup-wallet-blue: url('../public/assets/icons/new-pack/medium/backup-wallet-blue.svg');
$icon-medium-network-blue: url('../public/assets/icons/new-pack/medium/network-blue.svg');
$icon-medium-cross-circle-red: url('../public/assets/icons/new-pack/medium/cross-circle-red.svg');
$icon-medium-cross-circle-white: url('../public/assets/icons/new-pack/medium/cross-circle-white.svg');
$icon-medium-setting-blue: url('../public/assets/icons/new-pack/medium/setting-blue.svg');
$icon-medium-edit-pen-blue: url('../public/assets/icons/new-pack/medium/edit-pen-blue.svg');

/* Top menu icons bar */
$icon-medium-search-gray: url('../public/assets/icons/new-pack/medium/search-gray.svg');
$icon-medium-filter-gray: url('../public/assets/icons/new-pack/medium/filter-gray.svg');
$icon-medium-filter-selected-gray: url('../public/assets/icons/new-pack/medium/filter-selected-gray.svg');
$icon-medium-setting-grid-gray: url('../public/assets/icons/new-pack/medium/setting-grid-gray.svg');
$icon-medium-upload-gray: url('../public/assets/icons/new-pack/medium/upload-gray.svg');

/* Priority icons bar */
$icon-medium-priority-high-gray: url('../public/assets/icons/new-pack/medium/priority-high-gray.svg');
$icon-medium-priority-normal-gray: url('../public/assets/icons/new-pack/medium/priority-normal-gray.svg');
$icon-medium-priority-low-gray: url('../public/assets/icons/new-pack/medium/priority-low-gray.svg');
$icon-medium-priority-custom-gray: url('../public/assets/icons/new-pack/medium/priority-custom-gray.svg');

/* Language icons bar */
$icon-medium-flag-us: url('../public/assets/icons/new-pack/medium/flag-us.svg');
$icon-medium-flag-ru: url('../public/assets/icons/new-pack/medium/flag-ru.svg');
$icon-medium-flag-kr: url('../public/assets/icons/new-pack/medium/flag-kr.svg');

/* Language filter */
$icon-medium-sort-alphabet-up-blue: url('../public/assets/icons/new-pack/medium/sort-alphabet-up-blue.svg');
$icon-medium-sort-alphabet-down-blue: url('../public/assets/icons/new-pack/medium/sort-alphabet-down-blue.svg');
$icon-medium-sort-desc-blue: url('../public/assets/icons/new-pack/medium/sort-desc-blue.svg');
$icon-medium-sort-asc-blue: url('../public/assets/icons/new-pack/medium/sort-asc-blue.svg');

$icon-medium-close-padding-gray: url('../public/assets/icons/new-pack/medium/close-padding-gray.svg');

/**
 * Size large
 * Screen icons bar */
$icon-large-screen-reload: url('../public/assets/icons/new-pack/large/screen-reload.svg');
$icon-large-screen-error: url('../public/assets/icons/new-pack/large/screen-error.svg');
$icon-large-screen-search: url('../public/assets/icons/new-pack/large/screen-search.svg');

/**
 * Size xlarge
 */
$icon-xlarge-auth-arrow: url('../public/assets/icons/new-pack/xlarge/auth-arrow.svg');
$icon-xlarge-auth-cross: url('../public/assets/icons/new-pack/xlarge/auth-cross.svg');
$icon-xlarge-auth-lock: url('../public/assets/icons/new-pack/xlarge/auth-lock.svg');
$icon-xlarge-auth-question: url('../public/assets/icons/new-pack/xlarge/auth-question.svg');
$icon-xlarge-auth-warning: url('../public/assets/icons/new-pack/xlarge/auth-warning.svg');
