/**
 * Sizes
 */
$icon-small-size: 12px;
$icon-medium-size: 24px;
$icon-large-size: 36px;
$icon-extra-large-size: 48px;
$icon-huge-size: 200px;

/**
 * Small
 */
$plus-blue: url('../public/icons/small/plus-blue.svg');
$plus-white: url('../public/icons/small/plus-white.svg');
$menu-send-white: url('../public/icons/small/menu-send-white.svg');
$menu-receive-white: url('../public/icons/small/menu-receive-white.svg');
$menu-favorite-white: url('../public/icons/small/menu-favorite-white.svg');
$star-blue: url('../public/icons/small/star-blue.svg');
$repeat-blue: url('../public/icons/small/repeat-blue.svg');
$arrow-blue: url('../public/icons/small/arrow-blue.svg');
$arrow-white: url('../public/icons/small/arrow-white.svg');
$checkbox-white: url('../public/icons/small/checkbox-white.svg');
$checkbox-blue: url('../public/icons/small/checkbox-blue.svg');
$close-gray: url('../public/icons/small/close-gray.svg');
$expand-gray: url('../public/icons/small/expand-gray.svg');

/**
 * Medium
 */
$menu-bg-white: url('../public/icons/medium/menu-bg-white.svg');
$logout: url('../public/icons/medium/logout.svg');
$search-gray: url('../public/icons/medium/search-gray.svg');
$close-popup-gray: url('../public/icons/medium/close-popup-gray.svg');
$close-popup-white: url('../public/icons/medium/close-popup-white.svg');
$arrow-popup-white: url('../public/icons/medium/arrow-popup-white.svg');
$arrow-popup-blue: url('../public/icons/medium/arrow-popup-blue.svg');
$key-new-white: url('../public/icons/medium/key-new-white.svg');
$key-import-white: url('../public/icons/medium/key-import-white.svg');
$private-key: url('../public/icons/medium/private-key.svg');
$private-key-read: url('../public/icons/medium/private-key-read.svg');
$mnemonic: url('../public/icons/medium/mnemonic.svg');
$mnemonic-read: url('../public/icons/medium/mnemonic-read.svg');
$dots-white: url('../public/icons/medium/dots-white.svg');
$arrow-white: url('../public/icons/medium/arrow-white.svg');
$link-blue: url('../public/icons/medium/link-blue.svg');

/**
 * Large
 */
$transaction-send: url('../public/icons/extra-large/transaction-send.svg');
$transaction-send-time: url('../public/icons/extra-large/transaction-send-time.svg');
$transaction-receive: url('../public/icons/extra-large/transaction-receive.svg');
$transaction-receive-time: url('../public/icons/extra-large/transaction-receive-time.svg');


// Tokens

// white

$token-1st-white: url('../public/icons/large/tokens/white/1st.svg');
$token-adt-white: url('../public/icons/large/tokens/white/adt.svg');
$token-ant-white: url('../public/icons/large/tokens/white/ant.svg');
$token-ast-white: url('../public/icons/large/tokens/white/ast.svg');
$token-bat-white: url('../public/icons/large/tokens/white/bat.svg');
$token-bcap-white: url('../public/icons/large/tokens/white/bcap.svg');
$token-bnt-white: url('../public/icons/large/tokens/white/bnt.svg');
$token-bqx-white: url('../public/icons/large/tokens/white/bqx.svg');
$token-cfi-white: url('../public/icons/large/tokens/white/cfi.svg');
$token-cvc-white: url('../public/icons/large/tokens/white/cvc.svg');
$token-dgd-white: url('../public/icons/large/tokens/white/dgd.svg');
$token-dice-white: url('../public/icons/large/tokens/white/dice.svg');
$token-dnt-white: url('../public/icons/large/tokens/white/dnt.svg');
$token-edg-white: url('../public/icons/large/tokens/white/edg.svg');
$token-eos-white: url('../public/icons/large/tokens/white/eos.svg');
$token-eth-white: url('../public/icons/large/tokens/white/eth.svg');
$token-fun-white: url('../public/icons/large/tokens/white/fun.svg');
$token-gno-white: url('../public/icons/large/tokens/white/gno.svg');
$token-gnt-white: url('../public/icons/large/tokens/white/gnt.svg');
$token-guppy-white: url('../public/icons/large/tokens/white/guppy.svg');
$token-hmq-white: url('../public/icons/large/tokens/white/hmq.svg');
$token-icn-white: url('../public/icons/large/tokens/white/icn.svg');
$token-jaed-white: url('../public/icons/large/tokens/white/jaed.svg');
$token-jcny-white: url('../public/icons/large/tokens/white/jcny.svg');
$token-jeur-white: url('../public/icons/large/tokens/white/jeur.svg');
$token-jgbp-white: url('../public/icons/large/tokens/white/jgbp.svg');
$token-jnt-white: url('../public/icons/large/tokens/white/jnt.svg');
$token-jrub-white: url('../public/icons/large/tokens/white/jrub.svg');
$token-jusd-white: url('../public/icons/large/tokens/white/jusd.svg');
$token-just-white: url('../public/icons/large/tokens/white/just.svg');
$token-knc-white: url('../public/icons/large/tokens/white/knc.svg');
$token-lun-white: url('../public/icons/large/tokens/white/lun.svg');
$token-mana-white: url('../public/icons/large/tokens/white/mana.svg');
$token-mco-white: url('../public/icons/large/tokens/white/mco.svg');
$token-mkr-white: url('../public/icons/large/tokens/white/mkr.svg');
$token-mln-white: url('../public/icons/large/tokens/white/mln.svg');
$token-mtl-white: url('../public/icons/large/tokens/white/mtl.svg');
$token-net-white: url('../public/icons/large/tokens/white/net.svg');
$token-nmr-white: url('../public/icons/large/tokens/white/nmr.svg');
$token-null-white: url('../public/icons/large/tokens/white/null.svg');
$token-omg-white: url('../public/icons/large/tokens/white/omg.svg');
$token-pay-white: url('../public/icons/large/tokens/white/pay.svg');
$token-plu-white: url('../public/icons/large/tokens/white/plu.svg');
$token-qtum-white: url('../public/icons/large/tokens/white/qtum.svg');
$token-rep-white: url('../public/icons/large/tokens/white/rep.svg');
$token-rlc-white: url('../public/icons/large/tokens/white/rlc.svg');
$token-san-white: url('../public/icons/large/tokens/white/san.svg');
$token-sngls-white: url('../public/icons/large/tokens/white/sngls.svg');
$token-snt-white: url('../public/icons/large/tokens/white/snt.svg');
$token-storj-white: url('../public/icons/large/tokens/white/storj.svg');
$token-swt-white: url('../public/icons/large/tokens/white/swt.svg');
$token-taas-white: url('../public/icons/large/tokens/white/taas.svg');
$token-time-white: url('../public/icons/large/tokens/white/time.svg');
$token-tkn-white: url('../public/icons/large/tokens/white/tkn.svg');
$token-trst-white: url('../public/icons/large/tokens/white/trst.svg');
$token-vsl-white: url('../public/icons/large/tokens/white/vsl.svg');
$token-wings-white: url('../public/icons/large/tokens/white/wings.svg');
$token-xaur-white: url('../public/icons/large/tokens/white/xaur.svg');
$token-zrx-white: url('../public/icons/large/tokens/white/zrx.svg');

// blue

$token-1st-blue: url('../public/icons/large/tokens/blue/1st.svg');
$token-adt-blue: url('../public/icons/large/tokens/blue/adt.svg');
$token-ant-blue: url('../public/icons/large/tokens/blue/ant.svg');
$token-ast-blue: url('../public/icons/large/tokens/blue/ast.svg');
$token-bat-blue: url('../public/icons/large/tokens/blue/bat.svg');
$token-bcap-blue: url('../public/icons/large/tokens/blue/bcap.svg');
$token-bnt-blue: url('../public/icons/large/tokens/blue/bnt.svg');
$token-bqx-blue: url('../public/icons/large/tokens/blue/bqx.svg');
$token-cfi-blue: url('../public/icons/large/tokens/blue/cfi.svg');
$token-cvc-blue: url('../public/icons/large/tokens/blue/cvc.svg');
$token-dgd-blue: url('../public/icons/large/tokens/blue/dgd.svg');
$token-dice-blue: url('../public/icons/large/tokens/blue/dice.svg');
$token-dnt-blue: url('../public/icons/large/tokens/blue/dnt.svg');
$token-edg-blue: url('../public/icons/large/tokens/blue/edg.svg');
$token-eos-blue: url('../public/icons/large/tokens/blue/eos.svg');
$token-eth-blue: url('../public/icons/large/tokens/blue/eth.svg');
$token-fun-blue: url('../public/icons/large/tokens/blue/fun.svg');
$token-gno-blue: url('../public/icons/large/tokens/blue/gno.svg');
$token-gnt-blue: url('../public/icons/large/tokens/blue/gnt.svg');
$token-guppy-blue: url('../public/icons/large/tokens/blue/guppy.svg');
$token-hmq-blue: url('../public/icons/large/tokens/blue/hmq.svg');
$token-icn-blue: url('../public/icons/large/tokens/blue/icn.svg');
$token-jaed-blue: url('../public/icons/large/tokens/blue/jaed.svg');
$token-jcny-blue: url('../public/icons/large/tokens/blue/jcny.svg');
$token-jeur-blue: url('../public/icons/large/tokens/blue/jeur.svg');
$token-jgbp-blue: url('../public/icons/large/tokens/blue/jgbp.svg');
$token-jnt-blue: url('../public/icons/large/tokens/blue/jnt.svg');
$token-jrub-blue: url('../public/icons/large/tokens/blue/jrub.svg');
$token-jusd-blue: url('../public/icons/large/tokens/blue/jusd.svg');
$token-just-blue: url('../public/icons/large/tokens/blue/just.svg');
$token-knc-blue: url('../public/icons/large/tokens/blue/knc.svg');
$token-lun-blue: url('../public/icons/large/tokens/blue/lun.svg');
$token-mana-blue: url('../public/icons/large/tokens/blue/mana.svg');
$token-mco-blue: url('../public/icons/large/tokens/blue/mco.svg');
$token-mkr-blue: url('../public/icons/large/tokens/blue/mkr.svg');
$token-mln-blue: url('../public/icons/large/tokens/blue/mln.svg');
$token-mtl-blue: url('../public/icons/large/tokens/blue/mtl.svg');
$token-net-blue: url('../public/icons/large/tokens/blue/net.svg');
$token-nmr-blue: url('../public/icons/large/tokens/blue/nmr.svg');
$token-null-blue: url('../public/icons/large/tokens/blue/null.svg');
$token-omg-blue: url('../public/icons/large/tokens/blue/omg.svg');
$token-pay-blue: url('../public/icons/large/tokens/blue/pay.svg');
$token-plu-blue: url('../public/icons/large/tokens/blue/plu.svg');
$token-qtum-blue: url('../public/icons/large/tokens/blue/qtum.svg');
$token-rep-blue: url('../public/icons/large/tokens/blue/rep.svg');
$token-rlc-blue: url('../public/icons/large/tokens/blue/rlc.svg');
$token-san-blue: url('../public/icons/large/tokens/blue/san.svg');
$token-sngls-blue: url('../public/icons/large/tokens/blue/sngls.svg');
$token-snt-blue: url('../public/icons/large/tokens/blue/snt.svg');
$token-storj-blue: url('../public/icons/large/tokens/blue/storj.svg');
$token-swt-blue: url('../public/icons/large/tokens/blue/swt.svg');
$token-taas-blue: url('../public/icons/large/tokens/blue/taas.svg');
$token-time-blue: url('../public/icons/large/tokens/blue/time.svg');
$token-tkn-blue: url('../public/icons/large/tokens/blue/tkn.svg');
$token-trst-blue: url('../public/icons/large/tokens/blue/trst.svg');
$token-vsl-blue: url('../public/icons/large/tokens/blue/vsl.svg');
$token-wings-blue: url('../public/icons/large/tokens/blue/wings.svg');
$token-xaur-blue: url('../public/icons/large/tokens/blue/xaur.svg');
$token-zrx-blue: url('../public/icons/large/tokens/blue/zrx.svg');

// gray

$token-1st-gray: url('../public/icons/large/tokens/gray/1st.svg');
$token-adt-gray: url('../public/icons/large/tokens/gray/adt.svg');
$token-ant-gray: url('../public/icons/large/tokens/gray/ant.svg');
$token-ast-gray: url('../public/icons/large/tokens/gray/ast.svg');
$token-bat-gray: url('../public/icons/large/tokens/gray/bat.svg');
$token-bcap-gray: url('../public/icons/large/tokens/gray/bcap.svg');
$token-bnt-gray: url('../public/icons/large/tokens/gray/bnt.svg');
$token-bqx-gray: url('../public/icons/large/tokens/gray/bqx.svg');
$token-cfi-gray: url('../public/icons/large/tokens/gray/cfi.svg');
$token-cvc-gray: url('../public/icons/large/tokens/gray/cvc.svg');
$token-dgd-gray: url('../public/icons/large/tokens/gray/dgd.svg');
$token-dice-gray: url('../public/icons/large/tokens/gray/dice.svg');
$token-dnt-gray: url('../public/icons/large/tokens/gray/dnt.svg');
$token-edg-gray: url('../public/icons/large/tokens/gray/edg.svg');
$token-eos-gray: url('../public/icons/large/tokens/gray/eos.svg');
$token-eth-gray: url('../public/icons/large/tokens/gray/eth.svg');
$token-fun-gray: url('../public/icons/large/tokens/gray/fun.svg');
$token-gno-gray: url('../public/icons/large/tokens/gray/gno.svg');
$token-gnt-gray: url('../public/icons/large/tokens/gray/gnt.svg');
$token-guppy-gray: url('../public/icons/large/tokens/gray/guppy.svg');
$token-hmq-gray: url('../public/icons/large/tokens/gray/hmq.svg');
$token-icn-gray: url('../public/icons/large/tokens/gray/icn.svg');
$token-jaed-gray: url('../public/icons/large/tokens/gray/jaed.svg');
$token-jcny-gray: url('../public/icons/large/tokens/gray/jcny.svg');
$token-jeur-gray: url('../public/icons/large/tokens/gray/jeur.svg');
$token-jgbp-gray: url('../public/icons/large/tokens/gray/jgbp.svg');
$token-jnt-gray: url('../public/icons/large/tokens/gray/jnt.svg');
$token-jrub-gray: url('../public/icons/large/tokens/gray/jrub.svg');
$token-jusd-gray: url('../public/icons/large/tokens/gray/jusd.svg');
$token-just-gray: url('../public/icons/large/tokens/gray/just.svg');
$token-knc-gray: url('../public/icons/large/tokens/gray/knc.svg');
$token-lun-gray: url('../public/icons/large/tokens/gray/lun.svg');
$token-mana-gray: url('../public/icons/large/tokens/gray/mana.svg');
$token-mco-gray: url('../public/icons/large/tokens/gray/mco.svg');
$token-mkr-gray: url('../public/icons/large/tokens/gray/mkr.svg');
$token-mln-gray: url('../public/icons/large/tokens/gray/mln.svg');
$token-mtl-gray: url('../public/icons/large/tokens/gray/mtl.svg');
$token-net-gray: url('../public/icons/large/tokens/gray/net.svg');
$token-nmr-gray: url('../public/icons/large/tokens/gray/nmr.svg');
$token-null-gray: url('../public/icons/large/tokens/gray/null.svg');
$token-omg-gray: url('../public/icons/large/tokens/gray/omg.svg');
$token-pay-gray: url('../public/icons/large/tokens/gray/pay.svg');
$token-plu-gray: url('../public/icons/large/tokens/gray/plu.svg');
$token-qtum-gray: url('../public/icons/large/tokens/gray/qtum.svg');
$token-rep-gray: url('../public/icons/large/tokens/gray/rep.svg');
$token-rlc-gray: url('../public/icons/large/tokens/gray/rlc.svg');
$token-san-gray: url('../public/icons/large/tokens/gray/san.svg');
$token-sngls-gray: url('../public/icons/large/tokens/gray/sngls.svg');
$token-snt-gray: url('../public/icons/large/tokens/gray/snt.svg');
$token-storj-gray: url('../public/icons/large/tokens/gray/storj.svg');
$token-swt-gray: url('../public/icons/large/tokens/gray/swt.svg');
$token-taas-gray: url('../public/icons/large/tokens/gray/taas.svg');
$token-time-gray: url('../public/icons/large/tokens/gray/time.svg');
$token-tkn-gray: url('../public/icons/large/tokens/gray/tkn.svg');
$token-trst-gray: url('../public/icons/large/tokens/gray/trst.svg');
$token-vsl-gray: url('../public/icons/large/tokens/gray/vsl.svg');
$token-wings-gray: url('../public/icons/large/tokens/gray/wings.svg');
$token-xaur-gray: url('../public/icons/large/tokens/gray/xaur.svg');
$token-zrx-gray: url('../public/icons/large/tokens/gray/zrx.svg');

/**
 * Huge
 */

$key: url('../public/icons/huge/key.svg');
$key-blue: url('../public/icons/huge/key-blue.svg');
$cloud: url('../public/icons/huge/cloud.svg');
$cloud-blue: url('../public/icons/huge/cloud-blue.svg');

/**
 * Logo
 */
$logo-new: url('../public/icons/logo.svg');

/**
 * Deprecated
 */
$icon-send: url('../public/img/icons/send.svg');
$icon-receive: url('../public/img/icons/receive.svg');
$icon-convert: url('../public/img/icons/convert.svg');
$icon-currencies: url('../public/img/icons/currencies.svg');
$icon-keys-blue: url('../public/img/icons/keys-blue.svg');
$icon-keys-white: url('../public/img/icons/keys-white.svg');
$icon-date: url('../public/img/icons/date.svg');
$icon-dots: url('../public/img/icons/dots.svg');
$icon-close: url('../public/img/icons/close.svg');
$icon-close-white: url('../public/img/icons/close-white.svg');
$icon-edit: url('../public/img/icons/edit.svg');
$icon-gear: url('../public/img/icons/gear.svg');
$icon-send-funds: url('../public/img/icons/send-funds.svg');
$icon-convert-funds: url('../public/img/icons/convert-funds.svg');
$icon-qr-code: url('../public/img/icons/qr-code.svg');
$icon-copy: url('../public/img/icons/copy.svg');
$icon-import-keys: url('../public/img/icons/import-keys.svg');
$icon-txt: url('../public/img/icons/txt.svg');
$icon-alert: url('../public/img/icons/alert.svg');
$icon-send-w: url('../public/img/icons/send-w.svg');
$icon-receive-w: url('../public/img/icons/receive-w.svg');
$icon-convert-w: url('../public/img/icons/convert-w.svg');
$icon-licensed: url('../public/img/icons/licensed.svg');
$icon-search: url('../public/img/icons/search.svg');
$icon-checkbox: url('../public/img/icons/checkbox.svg');
$icon-pin: url('../public/img/icons/pin.svg');
$icon-switch: url('../public/img/icons/switch.svg');
$icon-networks-blue: url('../public/img/icons/networks-blue.svg');
$icon-networks-white: url('../public/img/icons/networks-white.svg');
$icon-networks-checkbox: url('../public/img/icons/networks-checkbox.svg');
$icon-eye: url('../public/img/icons/eye.svg');

$icon-small-add: url('../public/img/icons/small-add.svg');
$icon-small-addWhite: url('../public/img/icons/small-add-white.svg');
$icon-small-minus: url('../public/img/icons/small-minus.svg');
$icon-small-import: url('../public/img/icons/small-import.svg');
$icon-small-backup: url('../public/img/icons/small-backup.svg');
$icon-small-clear: url('../public/img/icons/small-clear.svg');
$icon-small-arrow-blue: url('../public/img/icons/small-arrow-blue.svg');
$icon-small-arrow-gray: url('../public/img/icons/small-arrow-gray.svg');
$icon-small-arrow-white: url('../public/img/icons/small-arrow-white.svg');
$icon-small-send: url('../public/img/icons/small-send.svg');
$icon-small-receive: url('../public/img/icons/small-receive.svg');
$icon-small-convert: url('../public/img/icons/small-convert.svg');
$icon-small-jnt-mint: url('../public/img/icons/small-token.svg');
$icon-small-jnt-burn: url('../public/img/icons/small-token-gray.svg');

$icon-size: 24px;
