/**
 * Logo
 */
$logo-full-width: 137px;
$logo-full-height: 36px;

$logo-full: url('../public/assets/logo/logo.svg');

$logo-icon-width: 37px;
$logo-icon-height: 32px;

$logo-icon: url('../public/assets/logo/logo-icon.svg');

/**
 * Loader
 */
$loader-image: url('../public/assets/loader/logo-loading.svg');

/**
 * Thumbnail
 */
$thumbnail-width: 200px;
$thumbnail-height: 165px;

$man-blue: url('../public/assets/thumbnail/man-blue.svg');
$key-blue: url('../public/assets/thumbnail/key-blue.svg');
$cloud-white: url('../public/assets/thumbnail/cloud-white.svg');
$cloud-blue: url('../public/assets/thumbnail/cloud-blue.svg');

/**
 * Max icon in SendAssetAmount
 */
$max-blue: url('public/assets/thumbnail/max-blue.svg');
