$accountIconETH: url('../public/img/accounts/bg/eth.png');
$accountIconJUSD: url('../public/img/accounts/bg/jusd.png');
$accountIconJEUR: url('../public/img/accounts/bg/jeur.png');
$accountIconJGBP: url('../public/img/accounts/bg/jgbp.png');
$accountIconJAED: url('../public/img/accounts/bg/jaed.png');
$accountIconJRUB: url('../public/img/accounts/bg/jrub.png');
$accountIconJCNY: url('../public/img/accounts/bg/jcny.png');
$accountIconJNT: url('../public/img/accounts/bg/jnt.png');

$logo: url("../public/img/logo.svg");
$logo1024: url("../public/img/logo1024.svg");
$auth-logo1024: url("../public/img/auth-logo1024.svg");

$loader-image: url('../public/img/logo-loading.svg');

$auth-bg: url('../public/img/auth-bg.png');

$modal-rocket: url('../public/img/modal/rocket.png');
$modal-plane: url('../public/img/modal/plane.png');
$modal-paper-plane: url('../public/img/modal/paper-plane.png');
$modal-button-loader: url('../public/img/modal/button-loader.gif');
