.loading {
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loading;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, $white 8%, $gray2 18%, $white 33%);
  background-size: 800px 100px;
  border-radius: 10px;
  opacity: 0.2 !important;

  &--currencies-title {
    height: $currencies-header-height;
    width: 100px;
  }

  &--currencies-icon,
  &--currency-symbol {
    border-radius: 50%;
  }

  &--currency-name {
    height: $currency-item-name-font-size;
    width: 150px;
  }

  &--currency-balance {
    height: $currency-item-balance-font-size;
    width: 80px;
  }

  &--icon {
    width: $icon-size;
    height: $icon-size;
  }
}

@keyframes loading{
  0%{
    background-position: -450px 0
  }
  100%{
    background-position: 450px 0
  }
}
