@import 'base';

@mixin box {
  box-sizing: border-box;
}

@mixin font($font-size: 13px, $line-height: 1) {
  font-family: $font;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-center {
  @include flex-row;

  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  @include flex-column;

  align-items: center;
  justify-content: center;
}

@mixin hover-animation {
  transition: all 0.3s ease 0s;
}

@mixin header-container {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin property-transition($property...) {
  transition-property: $property;
  transition-duration: 200ms;
  transition-timing-function: $default-animation;
  transition-delay: 0ms;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Usage example: @include default-transition(height, opacity, transform);
// Result of use: transition: height 200ms cubic-bezier(0, 0, 0.2, 1) 0s , opacity 200ms cubic-bezier(0, 0, 0.2, 1) 0s , transform 200ms cubic-bezier(0, 0, 0.2, 1) 0s , -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0s;
@mixin default-transition($args...) {
  $type: nth($args, length($args));
  $props: $args;
  $result: ();

  @for $i from 1 through length($props) {
    $anim: length($args);
    $prop: nth($props, $i);
    $result: append($result, $prop);
    $result: append($result, unquote($string: 200ms $default-animation 0s));

    @if $i != length($props) {
      $result: append($result, unquote($string: ","));
    }
  }

  transition: $result;
}
