.mt16 {
  margin-top: 16px;
}

.mt32 {
  margin-top: 32px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb32 {
  margin-bottom: 32px;
}

.mr8 {
  margin-right: 8px;
}

.mr24 {
  margin-right: 24px;
}

.mr32 {
  margin-right: 32px;
}
