body {
  width: auto;
  height: 100%;
}

#root,
html {
  height: 100%;
  background-color: #f5f6fa;
}

h1 {
  margin: 30px 0;
}

h2 {
  margin: 20px 0;
}

h3 {
  margin: 10px 0;
}

.story {
  padding: 20px;
  height: 100%;
}

.story.-blue {
  background-color: #0033a3;
}

.story.-white {
  background-color: #fff;
}

.right-position-content {
  display: flex;
  justify-content: flex-end;
}

.story > .grid {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.story > .grid > .box {
  width: 33.333%;
  padding: 0 10px 20px 10px;
}

.title {
  font-size: 16px;
  padding: 10px 15px;
}

.icons-list {
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 192px);
  grid-row-gap: 24px;

  > li {
    padding: 10px;
    text-align: center;

    > svg {
      display: block;
      margin: 0 auto 10px;
    }

    > span {
      display: block;
      white-space: nowrap;
    }
  }
}

.icon-demo-container {
  padding: 25px;
}

svg.icon-with-magenta-color-and-margins {
  stroke: magenta;
  fill: magenta;
  margin: 50px;
}
