.table__item {
  position: relative;
  min-height: 50px;
  line-height: 50px;
  border-bottom: 1px solid $line;
  font-size: 13px;
  font-weight: 600;
  color: $gray;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }
}

.table__item--title {
  border-bottom: 1px solid $line!important;
  text-transform: uppercase;
  color: $gray2;
  font-size: 11px;
}

.table__title-item {
  position: relative;
  height: 50px;
  line-height: 50px;

  &:hover {
    .table__icon {
      opacity: 0.5;
    }
  }
}

.table__icon {
  position: relative;
  top: 17px;
  left: 2px;
  opacity: 0;
  transition: all .3s ease;
}

.table__icon--active,
.table__title-item:hover .table__icon--active {
  opacity: 1;
}
