$token-icon-size: 36px;

// white

$token-1st-white: url('../public/assets/tokens/white/1st.svg');
$token-adt-white: url('../public/assets/tokens/white/adt.svg');
$token-ae-white: url('../public/assets/tokens/white/ae.svg');
$token-aion-white: url('../public/assets/tokens/white/aion.svg');
$token-alf-white: url('../public/assets/tokens/white/alf.svg');
$token-ant-white: url('../public/assets/tokens/white/ant.svg');
$token-ast-white: url('../public/assets/tokens/white/ast.svg');
$token-bat-white: url('../public/assets/tokens/white/bat.svg');
$token-bcap-white: url('../public/assets/tokens/white/bcap.svg');
$token-bnb-white: url('../public/assets/tokens/white/bnb.svg');
$token-bnt-white: url('../public/assets/tokens/white/bnt.svg');
$token-bqx-white: url('../public/assets/tokens/white/bqx.svg');
$token-btm-white: url('../public/assets/tokens/white/btm.svg');
$token-cfi-white: url('../public/assets/tokens/white/cfi.svg');
$token-cmt-white: url('../public/assets/tokens/white/cmt.svg');
$token-cvc-white: url('../public/assets/tokens/white/cvc.svg');
$token-dai-white: url('../public/assets/tokens/white/dai.svg');
$token-dcn-white: url('../public/assets/tokens/white/dcn.svg');
$token-dgd-white: url('../public/assets/tokens/white/dgd.svg');
$token-dgx-white: url('../public/assets/tokens/white/dgx.svg');
$token-dice-white: url('../public/assets/tokens/white/dice.svg');
$token-dnt-white: url('../public/assets/tokens/white/dnt.svg');
$token-edg-white: url('../public/assets/tokens/white/edg.svg');
$token-eos-white: url('../public/assets/tokens/white/eos.svg');
$token-eth-white: url('../public/assets/tokens/white/eth.svg');
$token-fun-white: url('../public/assets/tokens/white/fun.svg');
$token-gno-white: url('../public/assets/tokens/white/gno.svg');
$token-gnt-white: url('../public/assets/tokens/white/gnt.svg');
$token-guppy-white: url('../public/assets/tokens/white/guppy.svg');
$token-hmq-white: url('../public/assets/tokens/white/hmq.svg');
$token-hvn-white: url('../public/assets/tokens/white/hvn.svg');
$token-icn-white: url('../public/assets/tokens/white/icn.svg');
$token-icx-white: url('../public/assets/tokens/white/icx.svg');
$token-ios-white: url('../public/assets/tokens/white/ios.svg');
$token-jaed-white: url('../public/assets/tokens/white/jaed.svg');
$token-jcny-white: url('../public/assets/tokens/white/jcny.svg');
$token-jeur-white: url('../public/assets/tokens/white/jeur.svg');
$token-jgbp-white: url('../public/assets/tokens/white/jgbp.svg');
$token-jkrw-white: url('../public/assets/tokens/white/jkrw.svg');
$token-jnt-white: url('../public/assets/tokens/white/jnt.svg');
$token-jrub-white: url('../public/assets/tokens/white/jrub.svg');
$token-jusd-white: url('../public/assets/tokens/white/jusd.svg');
$token-just-white: url('../public/assets/tokens/white/just.svg');
$token-kcs-white: url('../public/assets/tokens/white/kcs.svg');
$token-knc-white: url('../public/assets/tokens/white/knc.svg');
$token-link-white: url('../public/assets/tokens/white/link.svg');
$token-lrc-white: url('../public/assets/tokens/white/lrc.svg');
$token-lun-white: url('../public/assets/tokens/white/lun.svg');
$token-mana-white: url('../public/assets/tokens/white/mana.svg');
$token-mco-white: url('../public/assets/tokens/white/mco.svg');
$token-mgo-white: url('../public/assets/tokens/white/mgo.svg');
$token-mkr-white: url('../public/assets/tokens/white/mkr.svg');
$token-mln-white: url('../public/assets/tokens/white/mln.svg');
$token-mtl-white: url('../public/assets/tokens/white/mtl.svg');
$token-nas-white: url('../public/assets/tokens/white/nas.svg');
$token-net-white: url('../public/assets/tokens/white/net.svg');
$token-nmr-white: url('../public/assets/tokens/white/nmr.svg');
$token-npxs-white: url('../public/assets/tokens/white/npxs.svg');
$token-null-white: url('../public/assets/tokens/white/null.svg');
$token-omg-white: url('../public/assets/tokens/white/omg.svg');
$token-pay-white: url('../public/assets/tokens/white/pay.svg');
$token-plu-white: url('../public/assets/tokens/white/plu.svg');
$token-poly-white: url('../public/assets/tokens/white/poly.svg');
$token-powr-white: url('../public/assets/tokens/white/powr.svg');
$token-ppt-white: url('../public/assets/tokens/white/ppt.svg');
$token-prl-white: url('../public/assets/tokens/white/prl.svg');
$token-qash-white: url('../public/assets/tokens/white/qash.svg');
$token-qtum-white: url('../public/assets/tokens/white/qtum.svg');
$token-rep-white: url('../public/assets/tokens/white/rep.svg');
$token-rhoc-white: url('../public/assets/tokens/white/rhoc.svg');
$token-rlc-white: url('../public/assets/tokens/white/rlc.svg');
$token-san-white: url('../public/assets/tokens/white/san.svg');
$token-sngls-white: url('../public/assets/tokens/white/sngls.svg');
$token-snt-white: url('../public/assets/tokens/white/snt.svg');
$token-storj-white: url('../public/assets/tokens/white/storj.svg');
$token-swt-white: url('../public/assets/tokens/white/swt.svg');
$token-taas-white: url('../public/assets/tokens/white/taas.svg');
$token-theta-white: url('../public/assets/tokens/white/theta.svg');
$token-time-white: url('../public/assets/tokens/white/time.svg');
$token-tkn-white: url('../public/assets/tokens/white/tkn.svg');
$token-trst-white: url('../public/assets/tokens/white/trst.svg');
$token-trx-white: url('../public/assets/tokens/white/trx.svg');
$token-ven-white: url('../public/assets/tokens/white/ven.svg');
$token-vsl-white: url('../public/assets/tokens/white/vsl.svg');
$token-wax-white: url('../public/assets/tokens/white/wax.svg');
$token-wings-white: url('../public/assets/tokens/white/wings.svg');
$token-xaur-white: url('../public/assets/tokens/white/xaur.svg');
$token-xin-white: url('../public/assets/tokens/white/xin.svg');
$token-xpa-white: url('../public/assets/tokens/white/xpa.svg');
$token-zil-white: url('../public/assets/tokens/white/zil.svg');
$token-zrx-white: url('../public/assets/tokens/white/zrx.svg');

// blue

$token-1st-blue: url('../public/assets/tokens/blue/1st.svg');
$token-adt-blue: url('../public/assets/tokens/blue/adt.svg');
$token-ae-blue: url('../public/assets/tokens/blue/ae.svg');
$token-aion-blue: url('../public/assets/tokens/blue/aion.svg');
$token-alf-blue: url('../public/assets/tokens/blue/alf.svg');
$token-ant-blue: url('../public/assets/tokens/blue/ant.svg');
$token-ast-blue: url('../public/assets/tokens/blue/ast.svg');
$token-bat-blue: url('../public/assets/tokens/blue/bat.svg');
$token-bcap-blue: url('../public/assets/tokens/blue/bcap.svg');
$token-bnb-blue: url('../public/assets/tokens/blue/bnb.svg');
$token-bnt-blue: url('../public/assets/tokens/blue/bnt.svg');
$token-bqx-blue: url('../public/assets/tokens/blue/bqx.svg');
$token-btm-blue: url('../public/assets/tokens/blue/btm.svg');
$token-cfi-blue: url('../public/assets/tokens/blue/cfi.svg');
$token-cmt-blue: url('../public/assets/tokens/blue/cmt.svg');
$token-cvc-blue: url('../public/assets/tokens/blue/cvc.svg');
$token-dai-blue: url('../public/assets/tokens/blue/dai.svg');
$token-dcn-blue: url('../public/assets/tokens/blue/dcn.svg');
$token-dgd-blue: url('../public/assets/tokens/blue/dgd.svg');
$token-dgx-blue: url('../public/assets/tokens/blue/dgx.svg');
$token-dice-blue: url('../public/assets/tokens/blue/dice.svg');
$token-dnt-blue: url('../public/assets/tokens/blue/dnt.svg');
$token-edg-blue: url('../public/assets/tokens/blue/edg.svg');
$token-eos-blue: url('../public/assets/tokens/blue/eos.svg');
$token-eth-blue: url('../public/assets/tokens/blue/eth.svg');
$token-fun-blue: url('../public/assets/tokens/blue/fun.svg');
$token-gno-blue: url('../public/assets/tokens/blue/gno.svg');
$token-gnt-blue: url('../public/assets/tokens/blue/gnt.svg');
$token-guppy-blue: url('../public/assets/tokens/blue/guppy.svg');
$token-hmq-blue: url('../public/assets/tokens/blue/hmq.svg');
$token-hvn-blue: url('../public/assets/tokens/blue/hvn.svg');
$token-icn-blue: url('../public/assets/tokens/blue/icn.svg');
$token-icx-blue: url('../public/assets/tokens/blue/icx.svg');
$token-ios-blue: url('../public/assets/tokens/blue/ios.svg');
$token-jaed-blue: url('../public/assets/tokens/blue/jaed.svg');
$token-jcny-blue: url('../public/assets/tokens/blue/jcny.svg');
$token-jeur-blue: url('../public/assets/tokens/blue/jeur.svg');
$token-jgbp-blue: url('../public/assets/tokens/blue/jgbp.svg');
$token-jkrw-blue: url('../public/assets/tokens/blue/jkrw.svg');
$token-jnt-blue: url('../public/assets/tokens/blue/jnt.svg');
$token-jrub-blue: url('../public/assets/tokens/blue/jrub.svg');
$token-jusd-blue: url('../public/assets/tokens/blue/jusd.svg');
$token-just-blue: url('../public/assets/tokens/blue/just.svg');
$token-kcs-blue: url('../public/assets/tokens/blue/kcs.svg');
$token-knc-blue: url('../public/assets/tokens/blue/knc.svg');
$token-link-blue: url('../public/assets/tokens/blue/link.svg');
$token-lrc-blue: url('../public/assets/tokens/blue/lrc.svg');
$token-lun-blue: url('../public/assets/tokens/blue/lun.svg');
$token-mana-blue: url('../public/assets/tokens/blue/mana.svg');
$token-mco-blue: url('../public/assets/tokens/blue/mco.svg');
$token-mgo-blue: url('../public/assets/tokens/blue/mgo.svg');
$token-mkr-blue: url('../public/assets/tokens/blue/mkr.svg');
$token-mln-blue: url('../public/assets/tokens/blue/mln.svg');
$token-mtl-blue: url('../public/assets/tokens/blue/mtl.svg');
$token-nas-blue: url('../public/assets/tokens/blue/nas.svg');
$token-net-blue: url('../public/assets/tokens/blue/net.svg');
$token-nmr-blue: url('../public/assets/tokens/blue/nmr.svg');
$token-npxs-blue: url('../public/assets/tokens/blue/npxs.svg');
$token-null-blue: url('../public/assets/tokens/blue/null.svg');
$token-omg-blue: url('../public/assets/tokens/blue/omg.svg');
$token-pay-blue: url('../public/assets/tokens/blue/pay.svg');
$token-plu-blue: url('../public/assets/tokens/blue/plu.svg');
$token-poly-blue: url('../public/assets/tokens/blue/poly.svg');
$token-powr-blue: url('../public/assets/tokens/blue/powr.svg');
$token-ppt-blue: url('../public/assets/tokens/blue/ppt.svg');
$token-prl-blue: url('../public/assets/tokens/blue/prl.svg');
$token-qash-blue: url('../public/assets/tokens/blue/qash.svg');
$token-qtum-blue: url('../public/assets/tokens/blue/qtum.svg');
$token-rep-blue: url('../public/assets/tokens/blue/rep.svg');
$token-rhoc-blue: url('../public/assets/tokens/blue/rhoc.svg');
$token-rlc-blue: url('../public/assets/tokens/blue/rlc.svg');
$token-san-blue: url('../public/assets/tokens/blue/san.svg');
$token-sngls-blue: url('../public/assets/tokens/blue/sngls.svg');
$token-snt-blue: url('../public/assets/tokens/blue/snt.svg');
$token-storj-blue: url('../public/assets/tokens/blue/storj.svg');
$token-swt-blue: url('../public/assets/tokens/blue/swt.svg');
$token-taas-blue: url('../public/assets/tokens/blue/taas.svg');
$token-theta-blue: url('../public/assets/tokens/blue/theta.svg');
$token-time-blue: url('../public/assets/tokens/blue/time.svg');
$token-tkn-blue: url('../public/assets/tokens/blue/tkn.svg');
$token-trst-blue: url('../public/assets/tokens/blue/trst.svg');
$token-trx-blue: url('../public/assets/tokens/blue/trx.svg');
$token-ven-blue: url('../public/assets/tokens/blue/ven.svg');
$token-vsl-blue: url('../public/assets/tokens/blue/vsl.svg');
$token-wax-blue: url('../public/assets/tokens/blue/wax.svg');
$token-wings-blue: url('../public/assets/tokens/blue/wings.svg');
$token-xaur-blue: url('../public/assets/tokens/blue/xaur.svg');
$token-xin-blue: url('../public/assets/tokens/blue/xin.svg');
$token-xpa-blue: url('../public/assets/tokens/blue/xpa.svg');
$token-zil-blue: url('../public/assets/tokens/blue/zil.svg');
$token-zrx-blue: url('../public/assets/tokens/blue/zrx.svg');

// gray

$token-1st-gray: url('../public/assets/tokens/gray/1st.svg');
$token-adt-gray: url('../public/assets/tokens/gray/adt.svg');
$token-ae-gray: url('../public/assets/tokens/gray/ae.svg');
$token-aion-gray: url('../public/assets/tokens/gray/aion.svg');
$token-alf-gray: url('../public/assets/tokens/gray/alf.svg');
$token-ant-gray: url('../public/assets/tokens/gray/ant.svg');
$token-ast-gray: url('../public/assets/tokens/gray/ast.svg');
$token-bat-gray: url('../public/assets/tokens/gray/bat.svg');
$token-bcap-gray: url('../public/assets/tokens/gray/bcap.svg');
$token-bnb-gray: url('../public/assets/tokens/gray/bnb.svg');
$token-bnt-gray: url('../public/assets/tokens/gray/bnt.svg');
$token-bqx-gray: url('../public/assets/tokens/gray/bqx.svg');
$token-btm-gray: url('../public/assets/tokens/gray/btm.svg');
$token-cfi-gray: url('../public/assets/tokens/gray/cfi.svg');
$token-cmt-gray: url('../public/assets/tokens/gray/cmt.svg');
$token-cvc-gray: url('../public/assets/tokens/gray/cvc.svg');
$token-dai-gray: url('../public/assets/tokens/gray/dai.svg');
$token-dcn-gray: url('../public/assets/tokens/gray/dcn.svg');
$token-dgd-gray: url('../public/assets/tokens/gray/dgd.svg');
$token-dgx-gray: url('../public/assets/tokens/gray/dgx.svg');
$token-dice-gray: url('../public/assets/tokens/gray/dice.svg');
$token-dnt-gray: url('../public/assets/tokens/gray/dnt.svg');
$token-edg-gray: url('../public/assets/tokens/gray/edg.svg');
$token-eos-gray: url('../public/assets/tokens/gray/eos.svg');
$token-eth-gray: url('../public/assets/tokens/gray/eth.svg');
$token-fun-gray: url('../public/assets/tokens/gray/fun.svg');
$token-gno-gray: url('../public/assets/tokens/gray/gno.svg');
$token-gnt-gray: url('../public/assets/tokens/gray/gnt.svg');
$token-guppy-gray: url('../public/assets/tokens/gray/guppy.svg');
$token-hmq-gray: url('../public/assets/tokens/gray/hmq.svg');
$token-hvn-gray: url('../public/assets/tokens/gray/hvn.svg');
$token-icn-gray: url('../public/assets/tokens/gray/icn.svg');
$token-icx-gray: url('../public/assets/tokens/gray/icx.svg');
$token-ios-gray: url('../public/assets/tokens/gray/ios.svg');
$token-jaed-gray: url('../public/assets/tokens/gray/jaed.svg');
$token-jcny-gray: url('../public/assets/tokens/gray/jcny.svg');
$token-jeur-gray: url('../public/assets/tokens/gray/jeur.svg');
$token-jgbp-gray: url('../public/assets/tokens/gray/jgbp.svg');
$token-jkrw-gray: url('../public/assets/tokens/gray/jkrw.svg');
$token-jnt-gray: url('../public/assets/tokens/gray/jnt.svg');
$token-jrub-gray: url('../public/assets/tokens/gray/jrub.svg');
$token-jusd-gray: url('../public/assets/tokens/gray/jusd.svg');
$token-just-gray: url('../public/assets/tokens/gray/just.svg');
$token-kcs-gray: url('../public/assets/tokens/gray/kcs.svg');
$token-knc-gray: url('../public/assets/tokens/gray/knc.svg');
$token-link-gray: url('../public/assets/tokens/gray/link.svg');
$token-lrc-gray: url('../public/assets/tokens/gray/lrc.svg');
$token-lun-gray: url('../public/assets/tokens/gray/lun.svg');
$token-mana-gray: url('../public/assets/tokens/gray/mana.svg');
$token-mco-gray: url('../public/assets/tokens/gray/mco.svg');
$token-mgo-gray: url('../public/assets/tokens/gray/mgo.svg');
$token-mkr-gray: url('../public/assets/tokens/gray/mkr.svg');
$token-mln-gray: url('../public/assets/tokens/gray/mln.svg');
$token-mtl-gray: url('../public/assets/tokens/gray/mtl.svg');
$token-nas-gray: url('../public/assets/tokens/gray/nas.svg');
$token-net-gray: url('../public/assets/tokens/gray/net.svg');
$token-nmr-gray: url('../public/assets/tokens/gray/nmr.svg');
$token-npxs-gray: url('../public/assets/tokens/gray/npxs.svg');
$token-null-gray: url('../public/assets/tokens/gray/null.svg');
$token-omg-gray: url('../public/assets/tokens/gray/omg.svg');
$token-pay-gray: url('../public/assets/tokens/gray/pay.svg');
$token-plu-gray: url('../public/assets/tokens/gray/plu.svg');
$token-poly-gray: url('../public/assets/tokens/gray/poly.svg');
$token-powr-gray: url('../public/assets/tokens/gray/powr.svg');
$token-ppt-gray: url('../public/assets/tokens/gray/ppt.svg');
$token-prl-gray: url('../public/assets/tokens/gray/prl.svg');
$token-qash-gray: url('../public/assets/tokens/gray/qash.svg');
$token-qtum-gray: url('../public/assets/tokens/gray/qtum.svg');
$token-rep-gray: url('../public/assets/tokens/gray/rep.svg');
$token-rhoc-gray: url('../public/assets/tokens/gray/rhoc.svg');
$token-rlc-gray: url('../public/assets/tokens/gray/rlc.svg');
$token-san-gray: url('../public/assets/tokens/gray/san.svg');
$token-sngls-gray: url('../public/assets/tokens/gray/sngls.svg');
$token-snt-gray: url('../public/assets/tokens/gray/snt.svg');
$token-storj-gray: url('../public/assets/tokens/gray/storj.svg');
$token-swt-gray: url('../public/assets/tokens/gray/swt.svg');
$token-taas-gray: url('../public/assets/tokens/gray/taas.svg');
$token-theta-gray: url('../public/assets/tokens/gray/theta.svg');
$token-time-gray: url('../public/assets/tokens/gray/time.svg');
$token-tkn-gray: url('../public/assets/tokens/gray/tkn.svg');
$token-trst-gray: url('../public/assets/tokens/gray/trst.svg');
$token-trx-gray: url('../public/assets/tokens/gray/trx.svg');
$token-ven-gray: url('../public/assets/tokens/gray/ven.svg');
$token-vsl-gray: url('../public/assets/tokens/gray/vsl.svg');
$token-wax-gray: url('../public/assets/tokens/gray/wax.svg');
$token-wings-gray: url('../public/assets/tokens/gray/wings.svg');
$token-xaur-gray: url('../public/assets/tokens/gray/xaur.svg');
$token-xin-gray: url('../public/assets/tokens/gray/xin.svg');
$token-xpa-gray: url('../public/assets/tokens/gray/xpa.svg');
$token-zil-gray: url('../public/assets/tokens/gray/zil.svg');
$token-zrx-gray: url('../public/assets/tokens/gray/zrx.svg');
