.wallets-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: linear-gradient(to top left, #0050db, #002bb3);
  overflow: auto;
  color: #ffffff;

  > .content {
    width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 50px 0;

    &.-assets {
      width: 1024px;
    }

    > .form > .actions {
      display: flex;
      align-items: center;
      margin-top: 30px;

      &.-center {
        justify-content: center;
      }
    }
  }

  @media only screen and (max-width: 1600px) {
    > .content.-assets {
      width: 940px;
    }
  }

  @media only screen and (max-width: 1400px) {
    > .content.-assets {
      width: 840px;
    }
  }
}
