/**
 * Menu
 */
$z-index-menu-logo: 2;
$z-index-menu-back: 11;

/**
 * Modal Header
 */
$z-index-modal-header: 1;

/**
 * PopupButton
 */
$z-popup-button: 1000;
$z-popup-button-overlay: 1;
$z-popup-button-container: 2;
$z-popup-button-close: 3;
