@import './Asset/asset';
@import './Empty/empty';

.digital-assets {
  all: initial;

  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  &.-loading {
    @include flex-row-center;

    height: 100%;
    width: 100%;
  }

  &.-blue {
    padding: 0 20px 30px 20px;

    &:after {
      display: block;
      position: absolute;
      right: 20px;
      bottom: 0;
      left: 20px;
      height: 1px;
      background: rgba($white, 0.15);
      content: '';
    }
  }

  @media only screen and (max-width: 1400px) {
    grid-template-columns: 1fr 1fr;
  }
}
