.double-input {
  all: initial;

  @include flex-row;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: calc(100% - 1px);
    background-color: rgba($dusk, 0.1);
    z-index: 1;
  }

  > .close {
    position: absolute;
    right: -20px;
    top: 10px;
  }

  > .field {
    width: 50%;
  }

  > .fiat {
    @include flex-row-center;

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding-left: $box-horizontal-padding;
    padding-right: $box-horizontal-padding;
    z-index: 1;

    > .box {
      position: relative;
      height: 19px;
      width: 100%;

      > .label {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.6;
      }
    }
  }

  &.-active {
    > .fiat {
      > .box {
        > .label {
          opacity: 0.5;
          transform: translateY(-13px);
        }

        > .value {
          transform: translateY(8px);
        }

        > .loader {
          transform: translateY(17px);
        }
      }
    }
  }
}
