.header-menu {
  position: relative;
  padding-left: 40px;
  margin-left: 40px;

  &:before {
    position: absolute;
    height: 40px;
    width: 1px;
    left: 0;
    top: 50%;
    margin-top: -20px;
    content: '';
    background-color: $black;
    opacity: 0.1;
  }
}

.header-menu__item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  color: $blue;
  opacity: 1;
  cursor: pointer;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.7;
  }

  &:last-child {
    margin-right: 0;
  }

  &--disabled {
    &,
    &:hover {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.header-menu__title {
  position: relative;
  display: block;
  padding-left: 30px;
  line-height: 40px;
  font-weight: 600;
}

.header-menu__icon {
  position: absolute;
  top: 8px;
  left: 0;
}

.header__currencies-manager {
  display: none;
  height: $header-height;
  cursor: pointer;
}
