@import 'styles/mixins';

.core {
  @include flex-column-center;

  position: relative;
  height: 100%;
}

.content {
  @include box;
  @include flex-column-center;

  min-height: 100%;
  flex: 1;
}

.title {
  @include flex-column-center;

  margin-bottom: 30px;
  line-height: 28px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: $main-black;
}
