.mnemonic-address {
  all: initial;

  @include flex-row-center

  width: 440px;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 3px 6px 0 rgba($black, 0.05);
  background-color: rgb(0, 88, 210);
  transition: background 0.3s ease 0s;
  cursor: pointer;

  &:hover {
    background-color: $bright-sky-blue;
  }

  > .balance {
    margin-left: auto;
  }
}
