.mnemonic-addresses-list {
  all: initial;

  @include flex-column-center;

  min-height: $mnemonic-addresses-list-height;

  > .address {
    all: initial;

    display: block;
    margin-bottom: 1px;
  }
}
