$mnemonic-addresses-list-height: calc(100vh - 250px);

@import './mnemonicAddressesList';

.mnemonic-addresses-view {
  all: initial;

  @include box;
  @include flex-column-center;

  height: 100vh;
  width: 480px;
  margin: 0 auto;

  > .header {
    all: initial;

    @include box;

    position: fixed;
    top: 30px;
    left: 0;
    display: block;
    width: 100vw;
    padding: 0 50px;
  }

  > .list {
    @include flex-column-center;

    height: $mnemonic-addresses-list-height;
    width: 100%;
    margin-top: 50px;
  }

  > .actions {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }
}
