.jTooltip {
  all: initial;
  cursor: help;
  display: inline-flex;
}

.rc-tooltip-inner {
  height: 32px;
  border-radius: 2px !important;
  background-color: $dusk !important;
}

.rc-tooltip-arrow {
  border-right-color: $dusk !important;
}