.derivation-path-custom {
  all: initial;

  @include flex-row;

  position: relative;
  height: 100%;
  margin-left: -($checkbox-dot-size + $checkbox-dot-margin-right);
  flex-grow: 1;
  align-items: center;

  &.-error > .input {
    color: $blush;
    border-bottom: 1px solid $blush;
  }

  > .input {
    width: 100%;
    padding: 0 0 30px ($checkbox-dot-size + $checkbox-dot-margin-right);
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba($white, 0.2);
    color: $white;
    transition: border-color 0.3s ease 0s;

    &:hover {
      border-bottom: 1px solid rgba($white, 0.4);
    }

    &:focus {
      border-bottom: 1px solid rgba($white, 0.6);
    }

    &::placeholder {
      color: $white;
    }
  }

  > .error {
    position: absolute;
    right: 0;
    bottom: 0px;
  }
}
