// stylelint-disable rscss/class-format, selector-nested-pattern

@import "styles/mixins";
@import "styles/colors";

.core {
  position: relative;
  height: 72px;
  padding: 0;
  background-color: $white;
}

.label {
  position: absolute;
  display: block;
  top: 24px;
  left: 16px;
  font-size: 14px;
  line-height: 22px;
  cursor: text;
  color: $main-black-40;
  transition:
    font-size 0.3s ease 0s,
    top 0.3s ease 0s;
}

.input {
  @include font(14px, 14px);

  display: block;
  padding: 24px 64px 26px 16px;
  line-height: 22px;
  width: 100%;
  background: inherit;
  resize: none;
  border: none;
  transition: padding 0.3s ease 0s, top 0.3s ease 0s;
  cursor: pointer;

  &::placeholder {
    opacity: 0;
  }
}

.value {
  > .input {
    padding-top: 34px;
    padding-bottom: 16px;
  }

  > .input::placeholder {
    color: $main-black;
    opacity: 1;
  }

  > .label {
    top: 16px;
    font-size: 12px;
    background-color: transparent;
  }
}

.editble .input {
  cursor: text;
}

.has-icon {
  .input {
    padding-left: 64px;
  }

  .label {
    left: 64px;
  }
}

.input:focus {
  padding-top: 34px;
  padding-bottom: 16px;

  &::placeholder {
    opacity: 0;
  }

  & + .label {
    top: 16px;
    font-size: 12px;
    background-color: transparent;
  }
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 24px 16px 24px 24px;
}
