@import 'styles/mixins';
@import 'styles/colors';

.core {
  @include box;

  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  padding: 54px 0 24px;
  font-size: 24px;
  line-height: 34px;
  color: $main-black;
  font-weight: normal;
}

.links {
  @include flex-row;

  margin: 0 -16px;
}

.link {
  @include property-transition(box-shadow);

  display: block;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 16px;
  padding: 32px 32px 46px;
  text-align: center;
  background: #fff;
  box-shadow: $normal-shadow;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;

  &:hover,
  &:active {
    box-shadow: $select-shadow;
  }
}

.link-icon {
  @include flex-column-center;

  margin: 0 auto 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $main-blue-5;
}

.header {
  width: 100%;
  background-image:
    linear-gradient(
      to bottom,
      hsl(228, 33.33%, 97.06%) 0%,
      hsl(228, 33.33%, 97.06%) 60%,
      hsla(228, 33.33%, 97.06%, 0) 100%
    );
}

.container {
  @include flex-row;
  @include header-container;

  align-items: center;
  justify-content: space-between;
  height: $page-header-height;
}

.actions {
  @include flex-row-center;
}

.manage-icon {
  @include sprite-icon-color($main-black-30);

  margin-right: 8px;
}

.manage {
  &:hover,
  &:active {
    background-color: $main-blue-10;
    color: $main-blue;

    .manage-icon {
      @include sprite-icon-color($main-blue);
    }
  }
}

.search {
  max-width: 414px;
}

.search,
.filter {
  flex: 1;
  margin-right: 24px;
}

.content {
  padding: 0 0 64px;
}

.assets-section {
  &.empty {
    height: calc(100% - 264px);

    > .content {
      display: flex;
      height: calc(100% - #{$new-page-header-height});
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $main-black-40;
      user-select: none;
    }
  }
}

.assets-header-wrapper {
  background-color: $pale-grey;

  &.sticky {
    position: fixed;
    z-index: 100;
    left: $menu-panel-width;
    right: 0;
    top: -$new-page-header-height;
    transition: transform 0.3s 0.1s $default-animation;
    transform: translateY($new-page-header-height);
    box-shadow: 0 7px 18px rgba(8, 30, 57, 0.2);

    > .assets-header {
      max-width: 1200px;
      margin: 0 auto;
    }

    + .content {
      padding-top: $new-page-header-height;
    }
  }
}

.asset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.empty-icon {
  margin-bottom: 24px;
}
