.modal-layout {
  background-color: $white;
  position: fixed;
  left: 200px;
  top: 0;
  width: calc(100vw - 200px);
  height: 100%;
  overflow: auto;

  > .content {
    width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 50px 0;
  }
}

.modal-header-wrapper {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  padding: 0 50px;
}
