    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv='Cache-control' content='no-cache, no-store, must-revalidate'>
    <meta http-equiv='Pragma' content='no-cache'>
    <title>{{ meta.title }}</title>
    <meta name="description" content="The jWallet is the first institutional-grade Ethereum wallet. It works across desktop and mobile devices, and private keys never leave your device. The jWallet comes preconfigured to work with your favorite tokens." />
    <meta name="image" content="https://jwallet.network/assets/img/social.png">
    <meta itemprop="name" content="jWallet by the Jibrel Network" />
    <meta itemprop="description" content="The jWallet is the first institutional-grade Ethereum wallet. It works across desktop and mobile devices, and private keys never leave your device. The jWallet comes preconfigured to work with your favorite tokens." />
    <meta itemprop="image" content="https://jwallet.network/assets/img/social.png" />
    <meta name="og:title" content="jWallet by the Jibrel Network" />
    <meta name="og:description" content="The jWallet is the first institutional-grade Ethereum wallet. It works across desktop and mobile devices, and private keys never leave your device. The jWallet comes preconfigured to work with your favorite tokens." />
    <meta name="og:image" content="https://jwallet.network/assets/img/social.png" />
    <meta name="og:url" content="https://jwallet.network" />
    <meta name="og:site_name" content="jWallet by the Jibrel Network" />
    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />