    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv='Cache-control' content='no-cache, no-store, must-revalidate'>
    <meta http-equiv='Pragma' content='no-cache'>
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <meta name="image" content="assets/img/social.png">
    <meta itemprop="name" content="{{ meta.name }}" />
    <meta itemprop="description" content="{{ meta.description }}" />
    <meta itemprop="image" content="assets/img/social.png" />
    <meta name="og:title" content="{{ meta.name }}" />
    <meta name="og:description" content="{{ meta.description }}" />
    <meta name="og:image" content="assets/img/social.png" />
    <meta name="og:url" content="https://jwallet.network" />
    <meta name="og:site_name" content="{{ meta.name }}" />
    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="website" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />