.digital-assets-grid-view {
  all: initial;

  @include box;
  @include flex-column-center;

  position: relative;
  width: 100%;
  height: 100%;

  > .header {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-image:
      linear-gradient(
        to bottom,
        hsl(228, 33.33%, 97.06%) 0%,
        hsl(228, 33.33%, 97.06%) 60%,
        hsla(228, 33.33%, 97.06%, 0) 100%
      );

    > .container {
      @include flex-row;

      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      justify-content: space-between;
      height: $page-header-height;

      > .actions {
        @include box;
        @include flex-row;

        align-items: center;

        > .search,
        > .filter {
          margin-right: 45px;
        }

        > .setting {
          @include hover-animation;

          transform: translateY(4px);
          opacity: 0.5;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  > .content {
    width: 100%;
    height: 100%;
  }
}
