.asset-card {
  all: initial;

  @include font;
  @include flex-column;

  position: relative;
  padding: 30px;
  background-color: $white;
  border: 1px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  color: $dusk;
  cursor: pointer;
  transition: border 0.3s ease 0s, color 0.3s ease 0s;

  &:hover {
    color: $blue;
  }

  &.-active {
    background-image: $icon-small-checkbox-blue;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    border: 1px solid $blue;
    color: $blue;
  }

  &:hover,
  &.-active {
    > .icon {
      background-image: $token-ant-blue;
      opacity: 1;
    }
  }

  &.-blue {
    background-color: $blue;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    color: $white;

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      color: $white;

      > .icon {
        background-image: $token-ant-white;
      }
    }

    &.-active {
      background-image: $icon-small-checkbox-white;
      border-color: rgba(255, 255, 255, 0.7);
      color: $white;

      > .icon {
        background-image: $token-ant-white;
      }
    }

    > .icon {
      background-image: $token-ant-white;
      opacity: 0.5;
    }
  }

  > .icon {
    margin: 0 auto;
    opacity: 0.2;
  }

  > .name {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
  }

  > .balance {
    margin-top: 10px;
    opacity: 0.7;
  }

  > .edit {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
