.currencies {
  position: relative;
  display: table-cell;
  width: 30%;
  height: 100%;
  background: linear-gradient(to top, $black, $gray);
  border-radius: 5px 0 0 5px;
  vertical-align: top;
  color: $white;
}

.currencies-header {
  position: relative;
  height: $currencies-header-height;
  line-height: $currencies-header-line-height;
  padding: $currencies-header-v-padding $currencies-header-h-padding;
  border-bottom: $currency-item-border-width solid rgba(255,255,255,0.1);
}

.currencies-header__title {
  color: $white;
  font-size: 15px;
  font-weight: 600;
}

.currencies-header__icon {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin: -12px 30px 0 0;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .3s ease;

  &:hover {
    opacity: 1;
  }
}

.currencies-body {
  height: calc(100vh - #{$currencies-before-body-height});
}
