.account-info-name {
  position: relative;
  height: 25px;
  line-height: 15px;
  padding: 5px 0;
  font-size: 14px;

  &--input {
    padding: 0;

    &::after {
      position: absolute;
      display: block;
      top: 22px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $gray2;
      content: '';
    }
  }
}

.account-info-name__input {
  width: 100%;
  height: 25px;
  line-height: 25px;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  font-family: $font;
  border: none;
  color: $gray;
  box-shadow: none;
  outline: none;
}
