.wallets-view {
  all: initial;

  @include flex-column-center;

  position: relative;
  height: 100%;
  min-height: 800px;

  > .content {
    @include box;
    @include flex-column-center;

    min-height: 100%;
    flex: 1;

    > .form > .actions {
      @include flex-row-center;

      > .confirm {
        margin-left: 15px;
      }
    }
  }

  &.-start {
    > .content {
      margin-bottom: -150px;

      > .title {
        @include flex-column-center;

        line-height: 32px;
      }
    }

    > .terms {
      @include flex-row-center;

      padding: 60px 0;
      line-height: 30px;
      opacity: 0.5;

      > .link {
        margin-left: 5px;
      }
    }
  }

  &.-index {
    > .content {
      > .wallet {
        margin-bottom: 1px;
      }
    }
  }
}
