@import 'styles/mixins';

.core {
  width: 100%;
}

.card {
  width: 100%;
  box-shadow: $normal-shadow;
}

.header {
  @include flex-row;

  padding: 24px 0 22px;
  border-radius: 4px 4px 0 0;
  background-color: $main-blue;
}

.statusIcon {
  @include flex-row;
  @include sprite-icon-color($white);

  justify-content: center;
  width: 100%;
  min-width: 24px;
  max-width: 64px;
}

.description {
  @include font(14px, 22px);

  color: $white;
}

.status {
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: capitalize;
}

.comment {
  margin-bottom: 2px;
}

.date {
  @include font(12px, 20px);

  color: $white-60;
}
