.button {
  display: inline-block;
  min-width: 150px;
  margin-right: 20px;
  margin-left: 0;
  padding: 15px 20px;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: $shadow;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s ease;

  &:last-child {
    margin-right: 0;
  }
}

.button--disabled {
  &,
  &:hover,
  &:active {
    background: $gray3;
    color: $white;
    border-color: $gray3;
    cursor: not-allowed;
  }
}

.button--full-width {
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.button--white {
  background-color: $white;
  color: $blue;
  border-color: $blue;

  &:hover {
    color: $blue2;
    border-color: $blue2;
  }
}

.button--blue {
  background-color: $blue;
  color: $white;
  border-color: $blue;

  &:hover {
    background-color: $blue2;
    color: $white;
    border-color: $blue2;
  }
}
