$button-height: 40px;

.j-button {
  all: initial;

  @include box;
  @include hover-animation;
  @include flex-row-center;

  width: 160px;
  height: 48px;
  border-radius: 30px;
  cursor: pointer;

  &.-disabled {
    opacity: 0.3;
    cursor: default;
  }

  &.-blue {
    box-shadow: 0 3px 6px rgba($black, 0.05);
    background-color: $blue-two;

    &:hover {
      background-color: $bright-sky-blue;
    }

    &.-disabled:hover {
      background-color: $blue-two;
    }
  }

  &.-white {
    background-color: $white;
    border: 1px solid rgba($blue, 0.5);

    &:hover {
      background-color: rgba($blue, 0.1);
    }

    &.-disabled:hover {
      background-color: $white;
    }
  }

  &.-loading {
    //
  }

  > .icon {
    margin-right: 10px;
  }
}
