.asset-picker-item {
  all: initial;

  @include box;
  @include flex-row;

  flex-grow: 1;
  align-items: center;
  height: 100%;
  padding-right: 32px; /* 20px for margin of symbol + 12 px of chevron width */
  cursor: pointer;

  &:hover,
  &.-active {
    > .symbol {
      opacity: 0.5;
    }
  }

  > .info {
    @include flex-column;

    justify-content: center;

    > .balance {
      opacity: 0.5;
    }
  }

  > .symbol {
    margin-left: auto;
    opacity: 0.2;
    transition: opacity 0.3s ease 0s;
  }
}
