@import 'styles/mixins';
@import 'styles/colors';

.core {
  @include font;

  font-size: 12px;
  line-height: 20px;

  // stylelint-disable selector-nested-pattern, rscss/class-format
  &.info {
    color: $main-black;
  }

  &.error {
    color: $main-red;
  }
}
