.aside-layout {
  all: initial;

  @include flex-row-center;

  position: relative;
  width: 100vw;
  height: 100vh;

  > .aside {
    width: 200px;
    height: 100%;
  }

  > .content {
    flex-grow: 1;
    height: 100%;
  }
}
