@import './Body/transactionsTableBody';

.table {
  &--transactions {
    position: relative;
    height: calc(100vh - #{$transactions-table-before-height});
    padding: 0 $transactions-table-padding-bottom $transactions-table-h-padding;
  }

  &--transactions-filter {
    min-height: 360px;
  }

  &--transactions-empty {
    min-height: 240px;
  }
}
