@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/zindex';
@import 'styles/responsive';

.core {
  @include font;
  @include flex-column;

  position: absolute;
  top: 0;
  left: 0;
  width: 304px;
  padding: 16px 0 0;
  height: 100vh;
  background-color: $main-blue;
  background-image: linear-gradient(71.21deg, $main-blue 0.35%, #00309b 100%);
  transition: left 0.15s ease-in-out;

  @include vertical-tablet {
    @include flex-row;

    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    height: 80px;
    transition: top 0.15s ease-in-out;
  }
}

.actions,
.action,
.action svg {
  @include hover-animation;
}

.network {
  @include flex-row;

  margin: 0 0 8px;
  background: $white-10;
  padding: 10px 16px;
}

.network-icon {
  flex-shrink: 0;
  margin: 2px 16px 2px 0;
  opacity: 0.6;
}

.network-description {
  font-size: 12px;
  line-height: 20px;
  color: $white-60;
}

.logo {
  display: block;
  margin: 32px auto 14px 32px;
}

.logo-image {
  display: block;
  color: $white;
}

.wallet {
  position: relative;
  padding: 10px 48px 10px 16px;
  border-radius: 4px;
  justify-content: center;
  margin: 0 32px 30px 24px;

  &:hover {
    background: $main-black-20;
  }
}

.wallet-name {
  @include ellipsis;

  line-height: 22px;
  font-size: 14px;
  color: $white;
}

.address-name {
  @include ellipsis;

  line-height: 22px;
  font-size: 14px;
  color: $white-60;
}

.balance {
  @include ellipsis;

  line-height: 28px;
  font-size: 20px;
  color: $white;
}

.chevron {
  @include flex-row-center;

  display: block;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -12px;
}

.actions-wrapper {
  @include flex-column;

  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  margin: 0 48px 0 40px;
  border-top: 1px solid $white-20;
}

.primary {
  flex: 1 0;
  padding: 32px 0 24px;
  margin-bottom: auto;
}

.secondary {
  position: relative;
  flex: 0 0;
  padding: 15px 0 12px;
  margin-bottom: 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 1px;
    width: 100%;
    background: $white-20;
    content: '';
  }
}

.action {
  @include flex-row;

  align-items: center;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;

  svg {
    opacity: 0.4;
  }

  &:hover {
    background: $main-black-20;

    svg {
      opacity: 1;
    }
  }

  &.active {
    background: $white-10;

    svg {
      opacity: 1;
    }
  }
}

.label {
  @include ellipsis;

  margin-left: 16px;
  line-height: 22px;
  font-size: 14px;
  color: $white;
}

.back {
  @include flex-column-center;
  @include property-transition(background-color, opacity);

  width: 36px;
  height: 36px;
  position: absolute;
  z-index: $z-index-menu-back;
  top: 48px;
  left: 304px + 18px;
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.15s;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    background-color: $main-blue-10;
  }

  @include vertical-tablet {
    left: 42px;
    top: 106px;
  }
}

.minimized {
  left: -280px;
  background-image: none;
  background-color: $main-blue;

  @include vertical-tablet {
    left: 0;
    top: -56px;
  }

  .network,
  .logo,
  .wallet,
  .actions-wrapper {
    opacity: 0;
  }

  .back {
    opacity: 1;
    visibility: visible;
  }
}
