.j-card {
  all: initial;

  @include flex-column;

  &.-white {
    background-color: $white;
  }

  &.-blue {
    background-color: $blue-two;
  }

  &.-shadow {
    box-shadow: 0 3px 6px rgba($black, 0.05);
  }

  > .title {
    @include box;
    @include font;
    @include flex-row;

    align-items: center;
    padding: 15px 25px;
    border-bottom: 1px solid $pale-grey;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: $dusk;
  }
}
