.transactions-by-period {
  all: initial;

  @include box;
  @include flex-column-center;

  height: 100%;
  padding: 60px;

  &.-loading {
    @include flex-column-center;

    flex-grow: 1;
    width: 100%;
  }

  > .card {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
