@import "styles/colors";

.core {
  position: relative;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 100%;
}

.icon {
  display: inline-block;
  margin-right: 16px;
}

.wrap {
  display: inline-block;
}

.title {
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: $main-black;
}
