.modal-info {
    padding: 20px 30px 20px 64px;
    color: $blue;
    line-height: 20px;
    background-color:$blue4;
    margin-bottom: 30px;
    background-position: 30px center;
  }
  .modal-info--text {
    margin-bottom: 1em;
    display: inline;
    &:last-child {
      margin-bottom: 0;
    }
  }