.modal-header {
  all: initial;

  @include box;
  @include flex-row;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $modal-header-height;
  padding: 0 50px;

  &.-menu {
    padding-left: ($menu-panel-width + 50px);
  }

  &.-gray {
    > .content {
      background: linear-gradient(to top, transparent, $white);
    }
  }

  > .content {
    @include flex-row-center;

    width: 100%;
    height: 100%;
    background: linear-gradient(to top, transparent, $blue);

    > .button {
      margin-left: auto;
    }
  }
}
