.account-item {
  position: relative;
  padding: $account-item-v-padding $account-item-h-padding;
  border-top: $account-item-border-width solid rgba(255,255,255,0.1);
  cursor: pointer;

  &:last-child {
    border-bottom: $account-item-border-width solid rgba(255,255,255,0.1);
  }

  &:hover {
    .account-item__image {
      opacity: 0.05;
    }
  }

  &--active {
    background: linear-gradient(to right, $blue, $blue2);
    border-color: transparent!important;

    .account-item__balance {
      color: $white;
      opacity: 0.7;
    }

    .account-item__image,
    &:hover .account-item__image {
      opacity: 0.1;
    }

    & + .account-item {
      border-top-color: transparent;
    }
  }

  &--authorization {
    cursor: default;

    .account-item__image {
      background-image: none;
    }

    .account-item__balance {
      color: $white;
      opacity: 0.3;
    }
  }
}

.account-item__symbol {
  position: absolute;
  left: 30px;
  top: 50%;
  width: $account-item-symbol-size;
  height: $account-item-symbol-size;
  margin-top: -18px;
}

.account-item__image {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0;
  content: '';
  transition: opacity .3s ease;
  will-change: opacity;

  &--eth {
    background-image: $accountIconETH;
  }

  &--jusd {
    background-image: $accountIconJUSD;
  }

  &--jeur {
    background-image: $accountIconJEUR;
  }

  &--jgbp {
    background-image: $accountIconJGBP;
  }

  &--jaed {
    background-image: $accountIconJAED;
  }

  &--jrub {
    background-image: $accountIconJRUB;
  }

  &--jcny {
    background-image: $accountIconJCNY;
  }

  &--jnt {
    background-image: $accountIconJNT;
  }
}

.account-item__name,
.account-item__balance {
  margin-left: 46px;
}

.account-item__name {
  position: relative;
  line-height: $account-item-name-font-size;
  margin-bottom: $account-item-name-margin-bottom;
  font-size: $account-item-name-font-size;
  color: $white;
}

.account-item__balance {
  position: relative;
  line-height: $account-item-balance-font-size;
  font-size: $account-item-balance-font-size;
  color: $blue3;
}

.account-item__licensed {
  position: absolute;
  right: 30px;
  top: 50%;
  width: 13px;
  height: 14px;
  margin-top: -7px;
  background-repeat: no-repeat;
  background-size: cover;
}
