// stylelint-disable rscss/class-format, selector-nested-pattern, rscss/no-descendant-combinator

@import "styles/mixins";
@import "styles/colors";
@import 'styles/images';

.core {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  display: block;
  top: 24px;
  left: 16px;
  right: 80px;
  font-size: 14px;
  line-height: 22px;
  cursor: text;
  user-select: none;
  background: $white;
  color: $main-black-30;
  z-index: 3;
  transition:
    color 0.2s ease 0s,
    font-size 0.2s ease 0s,
    top 0.2s ease 0s;
}

.wrap {
  position: relative;
  height: 104px;
  padding: 0;
  box-shadow: 0 3px 6px rgba(8, 30, 57, 0.05);
  background-color: $white;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 9px 18px rgba(8, 30, 57, 0.05);
  }
}

.input {
  @include font(14px, 14px);

  display: block;
  position: relative;
  color: $main-black;
  padding: 24px 80px 26px 16px;
  line-height: 22px;
  width: 100%;
  background: transparent;
  resize: none;
  border: none;
  transition: padding 0.2s ease 0s;
  z-index: 2;

  &::placeholder {
    color: $main-black-30;
  }
}

.currency {
  @include font(14px, 14px);

  position: absolute;
  padding: 24px 80px 0 16px;
  line-height: 22px;
  width: 100%;
  height: 60px;
  overflow: hidden;
  transition: padding 0.2s ease 0;
  z-index: 1;

  > .invisible {
    display: inline-block;
    visibility: hidden;
    margin-right: 5px;
  }

  > .value {
    display: inline-block;
    color: $main-black-40;
    margin-right: 5px;
  }

  > .chevron {
    display: inline-block;
    width: 32px;
    height: 22px;
    line-height: 22px;
    background: url('public/assets/thumbnail/max-blue.svg') no-repeat center;
    margin-bottom: -6px;
    cursor: default;
    user-select: none;
  }
}

.active {
  .input {
    padding-top: 34px;
    padding-bottom: 16px;
  }

  .currency {
    padding-top: 34px;
    padding-bottom: 16px;
  }

  .label {
    top: 16px;
    font-size: 12px;
    color: $main-black-40;
  }

  &.error .label {
    color: $main-red;
  }
}

.bottom {
  @include font(12px, 20px);

  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 32px;
  padding: 6px 16px;
  justify-content: space-between;

  > .amount {
    color: $main-black-40;
    min-width: 60px;
  }

  > .fee {
    color: $main-black;
    min-width: 120px;
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    border-top: 1px solid $main-black-10;
  }
}

.fetching {
  position: relative;
  display: inline-block;
  height: 16px;
  margin-top: 2px;
  background-color: $main-black-10;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-timing-function: linear;
    background: linear-gradient(-60deg, rgba($black, 0) 70%, rgba($white, 0.6) 80%, rgba($black, 0) 90%);
    background-size: 60px 6px;
  }
}

.buttons {
  position: absolute;
  display: flex;
  align-items: center;
  right: 16px;
  top: 0;
  bottom: 33px;
  width: 48px;
  text-align: right;
  z-index: 4;

  > .max {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    outline: none;
    background: none;
    text-align: center;
    color: $main-blue;
    padding: 0 6px;
    border: 1px solid $main-black-10;
    cursor: pointer;
    transition:
      background-color 0.2s ease 0s,
      border 0.2s ease 0s;

    &:hover {
      border: 1px solid transparent;
      background-color: $main-blue-10;
    }

    &:active {
      border: 1px solid transparent;
      background-color: $main-blue-20;
    }
  }

  > .clean {
    display: none;
    outline: none;
    background: none;
    text-align: center;
    padding: 6px;
    border: none;
    cursor: pointer;
    stroke: $main-black-40;
    fill: $main-black-40;
    transition:
      stroke 0.2s ease 0s,
      fill 0.2s ease 0s;

    &:hover {
      stroke: $main-blue;
      fill: $main-blue;
    }
  }
}

.has-max-value > .buttons {
  > .max {
    display: none;
  }

  > .clean {
    display: inline-block;
  }
}

.message {
  margin-bottom: 8px;
}

.field-message {
  padding-left: 16px;
}

@keyframes loading {
  0% {
    background-position: -60px 0;
  }

  100% {
    background-position: 60px 0;
  }
}
