@import 'styles/mixins';

.core {
  @include flex-column-center;

  position: relative;
  min-width: 544px;
  max-width: 544px;
  height: 100%;
  flex-grow: 1;
  margin: 0 auto;
}

.description {
  @include flex-row-center;
  @include font(16px, 24px);

  max-width: 544px;
  margin-bottom: 32px;
  text-align: center;
}

.forgot {
  position: absolute;
  bottom: 90px;
  color: $main-blue;
}
