.qr-code {
  all: initial;

  @include box;
  @include flex-row-center;

  position: relative;
  max-height: 0;
  height: $qr-code-height;
  border: solid 1px transparent;
  visibility: hidden;
  opacity: 0;
  transition: max-height 0.6s ease 0s, opacity 0.6s ease 0s;

  &:hover {
    > .qr {
      width: 0;
      height: 0;
      padding: 0;
      visibility: hidden;
      opacity: 0;
    }

    > .overlay {
      width: 100%;
      height: 100%;
      visibility: visible;
      opacity: 1;
    }
  }

  &.-active {
    max-height: $qr-code-height;
    border: solid 1px $pale-grey-two;
    visibility: visible;
    opacity: 1;
  }

  > .qr {
    @include flex-row-center;

    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity 0.6s ease 0s;
  }

  > .overlay {
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s ease 0s;
  }
}
