.digital-assets-send-view {
  all: initial;

  @include box;
  @include flex-column;

  position: relative;
  height: 100%;
  padding: 50px;

  > .wrap {
    @include flex-column;

    justify-content: center;
    height: 100%;
    width: 480px;
    margin: 0 auto;
    min-height: 100%;
    padding: 50px 0;
  }
}
