@import 'styles/mixins';

.digital-assets-send-form-asset-picker-item {
  all: initial;

  @include box;
  @include flex-row;

  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
  padding: 14px 15px 14px 0;
  position: relative;

  &:hover,
  &.-active {
    background-color: $blue-hover;
  }

  > .info {
    @include flex-row-center;

    > .symbol {
      float: left;
      position: relative;
      text-align: center;
      margin-right: 20px;
      width: 80px;

      > .wrap {
        opacity: 0.2;
        display: inline-block;
        vertical-align: middle;
      }

      &::after {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background-color: $pale-grey-two;
      }
    }

    > .text {
      > .balance {
        opacity: 0.5;
      }
    }
  }

  &.-active > .info > .symbol > .wrap {
    opacity: 0.8;
  }
}
