@import 'styles/mixins';

.core {
  @include flex-column-center;

  position: relative;
  width: 544px;
  height: 100%;
  margin: 0 auto;
}

.icon {
  @include sprite-icon-color($main-black-60);

  margin-bottom: 32px;
}

.title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: $main-black;
}

.text {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 22px;
  color: $main-black-60;
  text-align: center;
}

.buttons {
  position: relative;
  width: 100%;
  height: 48px;
}
