@import 'styles/mixins';
@import 'styles/colors';

.core {
  position: relative;
  width: 100%;
}

.icon {
  @include property-transition(fill, stroke);
  @include sprite-icon-color($main-black-30);

  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;

  &:hover {
    @include sprite-icon-color($main-blue);
  }
}

.on {
  visibility: hidden;
}

.off {
  visibility: visible;
}

.visible {
  .on {
    visibility: visible;
  }

  .off {
    visibility: hidden;
  }
}
