@import 'styles/mixins';

.core {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  top: 24px;
  right: 24px;
  opacity: 0.4;
  transition: opacity 0.3s ease 0s;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.on {
  visibility: hidden;
}

.off {
  visibility: visible;
}

.visible {
  .on {
    visibility: visible;
  }

  .off {
    visibility: hidden;
  }
}
