$react-dates-width-input: auto;

$react-dates-color-primary: $blue;
$react-dates-color-primary-dark: $gray2;
$react-dates-color-primary-shade-1: $blue;
$react-dates-color-primary-shade-2: $blue3;
$react-dates-color-primary-shade-3: $blue3;
$react-dates-color-primary-shade-4: $blue3;
$react-dates-color-secondary: $white;
$react-dates-color-gray: $gray;
$react-dates-color-highlighted: transparent;

$react-dates-color-border: $line;
$react-dates-color-placeholder-text: $gray2;
$react-dates-color-text: $gray;
$react-dates-color-text-focus: $blue;
$react-dates-color-focus: transparent;

$react-dates-z-index: 9;

$react-dates-input-font-size: 13px;
$react-dates-input-line-height: 24px;
$react-dates-input-padding: 0;
$react-dates-input-displaytext-padding-horizontal: 0;
$react-dates-input-displaytext-padding-vertical: 0;
