@import './TransactionItem/transactionItem';

.transactions-by-period {
  all: initial;

  @include box;
  @include flex-column-center;

  padding: 60px;

  > .card {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
