@import './Manager/keystoreManager';

.keystore-modal-footer__item {
  position: relative;
  height: $modal-table-footer-height;
  line-height: $modal-table-footer-height;
  margin-right: 40px;
  padding-left: 21px;
  color: $blue;
  font-weight: 600;
  cursor: pointer;
  transition: opacity .3s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}

.keystore-modal-footer__icon {
  position: absolute;
  top: 4px;
  left: 0;
}
