.j-search {
  all: initial;

  @include flex-row-center;

  > .search {
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s ease 0s;

    &:hover {
      opacity: 0.8;
    }
  }

  > .field {
    @include flex-row-center;

    width: 0;
    overflow: hidden;
    transition: width 0.3s ease 0s;

    &.-active {
      width: 200px;
      margin-left: 20px;

      > .close {
        display: block;
      }
    }

    > .input {
      @include font;

      width: 100%;
      padding: 5px 20px;
      background-color: transparent;
      border: none;
      border-left: 1px solid rgba(61, 79, 108, 0.1);
      color: $dusk;
    }

    > .close {
      @include hover-animation;

      display: none;
      opacity: 0.3;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  @media only screen and (max-width: 1366px) {
    > .field.-active {
      width: 100px;
    }
  }
}
