.j-input {
  all: initial;

  @include flex-column;

  position: relative;
  align-items: center;
  margin-bottom: $form-field-margin-bottom;
  cursor: inherit;

  > .label {
    @include font($form-helpers-font-size);

    position: absolute;
    top: 50%;
    left: $form-field-horizontal-padding;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, -50%);
    transition: opacity 0.3s ease 0s, top 0.3s ease 0s;
  }

  > .input {
    @include flex-row;
    @include hover-animation;
    @include font($form-field-white-font-size);

    width: 100%;
    padding-top: 0;
    background: inherit;
    font-weight: normal;
    resize: none;

    &.-side-border-radius-all {
      border-radius: $form-border-radius;
    }

    &.-side-border-radius-top {
      border-radius: $form-border-radius $form-border-radius 0 0;
    }

    &.-side-border-radius-right {
      border-radius: 0 $form-border-radius $form-border-radius 0;
    }

    &.-side-border-radius-bottom {
      border-radius: 0 0 $form-border-radius $form-border-radius;
    }

    &.-side-border-radius-left {
      border-radius: $form-border-radius 0 0 $form-border-radius;
    }
  }

  > .error,
  > .info {
    @include font($form-helpers-font-size);

    position: absolute;
    left: 0;
    bottom: -8px;
    transform: translate(0, 100%);
    padding: 0 $form-field-horizontal-padding;
  }

  > .error {
    opacity: 1;
  }

  > .help {
    /**
     * Just believe me
     */
    $input-icon-padding: 10px;
    $input-icon-size: ($icon-small-size + ($input-icon-padding * 2));
    $input-icon-margin-top: ($form-field-padding-top / 2) - ($input-icon-size / 2);

    @include flex-row-center;

    position: absolute;
    right: 0;
    top: 50%;
    display: none;
    width: $input-icon-size;
    height: $input-icon-size;
    padding: $input-icon-padding;
    margin-top: $input-icon-margin-top;
    opacity: 0.3;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    > .icon {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: $icon-small-size $icon-small-size;
      background-image: $icon-small-info-clear-gray;
    }
  }

  > .lock {
    top: 50%;
    right: 9px;
    position: absolute;
    margin-top: -12px;
    opacity: 0.5;
  }

  > .loader {
    display: none;
  }

  > .status {
    position: absolute;
    top: 50%;
    right: $form-field-white-horizontal-padding;
    width: 60px;
    transform: translate(0, -50%);
  }

  &.-multiline {
    > .input {
      line-height: 1.5;
    }
  }

  &.-value {
    > .label {
      top: 14px;
      visibility: visible;
      opacity: 0.5;
      transform: translate(0, 0);
    }

    > .input {
      font-weight: 600;
    }
  }

  &.-pincode {
    > .input {
      font-size: 21px;
      font-family: monospace;
    }
  }

  &.-error,
  &.-info {
    margin-bottom: 34px;
  }

  &.-gray {
    color: $dusk;

    > .input {
      border: none;
      border-bottom: solid 1px #e1e4e8;
      background-color: $white;
      color: $dusk;
      opacity: 1;
      box-shadow: 0 3px 6px 0 rgba(61, 79, 108, 0.05);
      min-height: $form-field-gray-height;
      padding-left: $form-field-horizontal-padding;
      padding-right: $form-field-horizontal-padding;
    }
  }

  &.-white {
    color: $white;

    > .status {
      right: $form-field-white-horizontal-padding;
    }

    > .input {
      color: $white;
      border: 1px solid $blue;
      min-height: $form-field-white-height;
      padding-left: $form-field-white-horizontal-padding;
      padding-right: $form-field-white-horizontal-padding;
    }
  }

  // placeholder
  &.-gray > .input::placeholder {
    color: $dusk;
    opacity: 0.6;
  }

  &.-white > .input::placeholder {
    color: $blue-bright;
  }

  // hover
  &.-gray > .input:hover {
    box-shadow: 0 9px 18px 0 rgba(61, 79, 108, 0.1);
  }

  &.-white > .input:hover {
    border-color: $blue-bright;
    color: $white;
  }

  // active, focus
  &.-gray > .input:active,
  &.-gray > .input:focus {
    box-shadow: 0 9px 18px 0 rgba(61, 79, 108, 0.1);
  }

  &.-white > .input:active,
  &.-white > .input:focus {
    border-color: $blue-pale-bright;
  }

  &.-gray.-value {
    > .input {
      padding-top: 31px;
      padding-bottom: 14px;
    }

    &.-virtual-half-size {
      > .input {
        padding-right: calc(50% + 15px);
      }
    }
  }

  &.-error {
    &.-white {
      > .input {
        border-color: $blush;
        color: $blush;
      }

      > .error {
        color: $blush;
      }
    }

    &.-gray {
      > .input {
        color: $tomato;
      }

      > .error {
        color: $tomato;
      }
    }
  }

  &.-white > .input:-webkit-autofill {
    box-shadow: 0 0 0 #{$form-field-full-height / 2} $blue inset;
    -webkit-text-fill-color: $white !important;
  }

  &.-gray > .input:-webkit-autofill {
    box-shadow: 0 0 0 #{$form-field-full-height / 2} $white inset;
    -webkit-text-fill-color: $dusk !important;
  }

  &.-disabled {
    cursor: default;

    &.-white > .input {
      color: $azul;
      background-color: $true-blue;
      border: none;
    }

    &.-gray > .input {
      &:hover,
      &:focus {
        box-shadow: 0 3px 6px 0 rgba(61, 79, 108, 0.05);
      }
    }
  }

  &.-help {
    > .help {
      display: block;
    }
  }

  &.-error.-white > .input:-webkit-autofill {
    -webkit-text-fill-color: $blush !important;
  }

  &.-error.-gray > .input:-webkit-autofill {
    -webkit-text-fill-color: $tomato !important;
  }
}
