.j-input {
  all: initial;

  @include flex-column;

  position: relative;
  align-items: center;
  cursor: inherit;

  > .label {
    position: absolute;
    top: 50px;
    left: 0;
    text-transform: uppercase;
    font-size: 11px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease 0s, top 0.3s ease 0s;
  }

  > .input {
    @include flex-row;
    @include font(1.15);

    width: 100%;
    padding-top: 0;
    background: inherit;
    border-radius: $border-radius;
    font-weight: normal;
    transition: color 0.3s ease 0s, border 0.3s ease 0s, opacity 0.3s ease 0s, background 0.3s ease 0s;
  }

  > .error,
  > .info,
  > .tick {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 11px;
  }

  > .error,
  > .info {
    line-height: 30px;
  }

  > .tick {
    @include flex-row-center;

    height: $form-field-height;
    margin-top: $form-field-padding-top;
  }

  > .info {
    opacity: 0.7;
  }

  > .tick,
  > .error {
    opacity: 1;
  }

  > .help,
  > .lock {
    /**
     * Just believe me
     */
    $input-icon-padding: 10px;
    $input-icon-size: ($icon-small-size + ($input-icon-padding * 2));
    $input-icon-margin-top: ($form-field-padding-top / 2) - ($input-icon-size / 2);

    @include flex-row-center;

    position: absolute;
    right: 0;
    top: 50%;
    display: none;
    width: $input-icon-size;
    height: $input-icon-size;
    padding: $input-icon-padding;
    margin-top: $input-icon-margin-top;
    opacity: 0.3;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    > .icon {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: $icon-small-size $icon-small-size;
    }
  }

  > .help > .icon {
    background-image: $icon-small-info-clear-gray;
  }

  > .lock > .icon {
    background-image: $icon-small-lock-gray;
  }

  > .loader {
    display: none;
  }

  &.-value {
    > .label {
      top: 22px;
      visibility: visible;
    }

    > .input {
      font-weight: 600;
    }
  }

  &.-has-label {
    > .input {
      padding-top: $form-field-padding-top;
    }
  }

  &.-password {
    > .input {
      transition: border-color 0.3s ease 0s;
    }
  }

  &.-gray {
    color: $dusk;

    > .input {
      border: none;
      color: $dusk;
      opacity: 1;

      &::placeholder {
        color: $dusk;
        opacity: 0.7;
      }
    }
  }

  &.-white {
    $inner-padding: 15px 20px;

    color: $white;

    > .input {
      color: $white;
      padding: $inner-padding;
      border: 1px solid $blue-two;

      &::placeholder {
        color: $blue-bright;
      }

      &:hover {
        border-color: $blue-bright;
        color: $white;
      }

      &:active,
      &:focus {
        border-color: $blue-pale-bright;
      }
    }
  }

  &.-password.-value > .input {
    font-size: 21px;
  }

  &.-error {
    &.-white {
      > .input {
        border-bottom-color: $blush;
        color: $blush;
      }

      > .error {
        color: $blush;
      }
    }

    &.-gray {
      > .input {
        border-bottom-color: $tomato;
        color: $tomato;
      }

      > .error {
        color: $tomato;
      }
    }
  }

  &.-white > .input:-webkit-autofill {
    box-shadow: 0 0 0 #{$form-field-full-height / 2} $blue inset;
    -webkit-text-fill-color: $white !important;
  }

  &.-gray > .input:-webkit-autofill {
    box-shadow: 0 0 0 #{$form-field-full-height / 2} $white inset;
    -webkit-text-fill-color: $dusk !important;
  }

  &.-disabled {
    cursor: default;

    &.-white > .input {
      color: #1952d5;
      background-color: #0037b5;
      border: none;
    }

    &.-gray > .input {
      opacity: 0.3;

      &:hover,
      &:focus {
        border-bottom: 1px solid rgba($dusk, 0.1);
      }
    }

    > .lock {
      display: block;
    }
  }

  &.-checked {
    > .tick {
      width: $icon-small-size;
      background-repeat: no-repeat;
      background-position: center;
      background-size: $icon-small-size $icon-small-size;
    }

    &.-white > .tick {
      background-image: $icon-small-checkbox-white;
    }

    &.-gray > .tick {
      background-image: $icon-small-checkbox-blue;
    }
  }

  &.-help {
    > .help {
      display: block;
    }
  }

  &.-error.-white > .input:-webkit-autofill {
    -webkit-text-fill-color: $blush !important;
  }

  &.-error.-gray > .input:-webkit-autofill {
    -webkit-text-fill-color: $tomato !important;
  }
}
