// TODO: Add hover state
// TODO: Replace hex colors to variables from Zeplin

.j-input {
  all: initial;

  @include flex-column;

  position: relative;
  height: $form-field-height;
  border-bottom: 1px solid rgba($dusk, 0.1);
  cursor: inherit;

  &.-disabled {
    > input, textarea {
      opacity: 0.7;
    }
  }

  &.-blue {
    border-color: $blue;

    > input, textarea {
      color: $blue;
    }
  }

  &.-gray {
    border-bottom: 1px solid #ebedf0;
    > input, textarea {
      color: $dusk;
    }
  }

  &.-red {
    border-color: $pinkish-tan;

    > input, textarea {
      color: $pinkish-tan;
    }
  }

  &.-white {
    border-bottom: 1px solid white;
    > input, textarea {
      color: white;
    }
  }

  &.-with-error {
    &.-gray {
      border-bottom-color: red;
      
      > input, textarea {
        color: red;
      }
    }

    &.-white {
      border-bottom-color: $pinkish-tan;
      
      > input, textarea {
        color: $pinkish-tan;
      }
    }
    
  }

  > .label {
    position: absolute;
    top: 22px;
    left: 0;
    opacity: 0.5;
    pointer-events: none;
  }

  > input, textarea {
    all: initial;
    width: 100%;
    border: none;
    height: 80px;
    display: block;
    font-size: 15px;
    background: inherit;
    transition: all 0.3s ease 0s;
    font-family: $font;
    padding-top: 16px;
    font-weight: 600;

    &:placeholder-shown {
      padding-top: 0;
      font-weight: normal;

      & + .label {
        opacity: 0;
        transition: all 0.3s ease 0s;
      }
    }
  }

  > textarea {
    height: 50px;
    padding-top: 45px;

    &:placeholder-shown {
      padding-top: 30px;
    }
  }

  > .info-message, .check-mark {
    right: 0;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
  }

  > .info-message {
    opacity: 0.7;
  }

  .check-mark {
    opacity: 1;
  }

  > .error-message {
    right: 0;
    bottom: 0;
    position: absolute;
  }
}
