.wallet-view-title {
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 40px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 1px;
    margin-left: -30px;
    background-color: rgba($white, 0.2);
  }
}
