.wallets-index-view {
  all: initial;

  @include box;
  @include flex-column-center;

  min-height: 100%;

  > .content {
    @include box;
    @include flex-column-center;

    min-height: 100%;
    width: $form-width;
    margin: 0 auto;
    padding: 150px 0 50px 0;

    > .wallet {
      margin-bottom: 1px;
    }
  }
}
