.password-field {
  position: relative;
  margin-bottom: 20px;

  &:last-child {
    &,
    & .field {
      margin-bottom: 0;
    }
  }

  .field__input {
    padding-right: 100px;
  }

  &--red {
    .field__input {
      border-color: $red;
    }

    .field__placeholder,
    .password__message {
      color: $red;
    }
  }

  &--deep-orange {
    .field__input {
      border-color: $deep-orange;
    }

    .field__placeholder,
    .password__message {
      color: $deep-orange;
    }
  }

  &--orange {
    .field__input {
      border-color: $orange;
    }

    .field__placeholder,
    .password__message {
      color: $orange;
    }
  }

  &--lime {
    .field__input {
      border-color: $lime;
    }

    .field__placeholder,
    .password__message {
      color: $lime;
    }
  }

  &--light-green {
    .field__input {
      border-color: $light-green;
    }

    .field__placeholder,
    .password__message {
      color: $light-green;
    }
  }

  &--blue {
    .field__input {
      border-color: $blue;
    }

    .field__placeholder {
      color: $blue;
    }
  }
}

.password__message {
  position: absolute;
  top: 10px;
  right: 15px;
  line-height: 24px;
}
