@import 'styles/mixins';

.core {
  @include flex-column-center;

  flex-grow: 1;
  padding-top: 40px;
}

.form {
  min-width: 544px;
  max-width: 544px;
  margin: auto;
}

.description {
  @include flex-row-center;
  @include font(16px, 24px);

  max-width: 544px;
  margin-bottom: 32px;
  text-align: center;
}
