.terms-view {
  all: initial;

  @include flex-column;

  min-height: 100vh;

  > .content {
    @include flex-column;

    width: 480px;
    margin: 0 auto;
    padding: 150px 0;

    > .main {
      > .item {
        &.-header {
          margin-top: 80px;
        }

        &.-normal {
          opacity: 0.5;
          margin-top: 40px;
        }
      }
    }

    > .actions {
      margin-top: 40px;
    }
  }
}
