$password-field-indicator-height: 6px;

.password-field-indicator {
  all: initial;

  @include box;
  @include flex-row-center;

  position: absolute;
  right: $form-field-white-horizontal-padding;
  width: 60px;

  &.-on-gray-field {
    top: $form-field-gray-height / 2 - $password-field-indicator-height / 2;
  }

  &.-on-white-field {
    top: $form-field-white-height / 2 - $password-field-indicator-height / 2;
  }

  > .indicator {
    position: relative;
    height: $password-field-indicator-height;
    width: 100%;
    background-color: rgba($white, 0.2);
    border-radius: 4px;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      border-radius: 4px;
      content: '';
      transition: width 0.3s ease 0s, background-color 0.3s ease 0s;
    }

    &.-red::after {
      width: 25%;
      background-color: $pinkish;
    }

    &.-orange::after {
      width: 50%;
      background-color: $faded-orange;
    }

    &.-yellow::after {
      width: 75%;
      background-color: $yellowish;
    }

    &.-green::after {
      width: 100%;
      background-color: $soft-green;
    }
  }
}
