      <div class="section apps" id="apps">
        <div class="inner clear">
          <div class="text" data-aos="fade-in" data-aos-duration="1000">
            <h2>{{ apps.title }}</h2>
            <p>{{ apps.subtitle }}</p>
          </div>
          <div class="links">
            {% for item in apps.items %}<div
              data-aos="fade-up"
              data-aos-duration="{{ loop.index * 300 }}"
            >
              <a href="{{ item.href }}" target="_blank" class="{{ item.class }}" id="{{ item.id }}">
                {{ item.title }}
              </a>
            </div>{% endfor %}
          </div>
        </div>
      </div>