      <div class="section faq" id="faq">
        <div class="inner">
          <h2>{{ faq.title }}</h2>
          <div class="items">
            {% for item in faq.items %}<div
              class="item {% if (loop.index === 1) %}active{% endif %}"
            >
              <h3>{{ item.question }}</h3>
              <div class="text">
                {% for p in item.answer %}<p>{{ p }}</p>{% endfor %}
              </div>
            </div>{% endfor %}
          </div>
        </div>
      </div>