      <div class="section sale-starts hidden" id="sale-notification">
        <div class="inner">
          <a href="https://sale.jibrel.network" class="clear" target="_blank">
            <span class="logo pull-left"></span>
            <span class="text pull-left">
              <span class="title">{{ notification.title }}</span>
              <span class="paragraph">
                {{ notification.description[0] }} <br />{{ notification.description[1] }}
              </span>
              <span class="paragraph last">{{ notification.link }}</span>
            </span>
            <span class="link pull-right">{{ notification.link }}</span>
            <span class="close" id="close-sale-notification"></span>
          </a>
        </div>
      </div>