      <div class="section start" id="start">
        <div class="hidden" id="tokens">
          <div data-un><p><img src="assets/img/tokens/1.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/2.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/3.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/4.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/5.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/6.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/7.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/8.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/9.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/10.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/11.svg?v=1" alt=""/></p></div>
          <div data-un><p><img src="assets/img/tokens/12.svg?v=1" alt=""/></p></div>
        </div>
        <div class="inner">
          <div class="text" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="150">
            <h1>{{ start.title[0] }} <br />{{ start.title[1] }}</h1>
            <p>{{ start.subtitle }}</p>
          </div>
          <div class="device" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150"></div>
          <div class="phone">
            <img src="assets/img/phone.png" alt="" />
          </div>
        </div>
        <div class="ocean">
          <svg
            width="100%"
            height="100%"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            class="wave"
          >
            <title>Wave</title><defs></defs><path id="feel-the-wave" d=""/>
          </svg>
          <svg
            width="100%"
            height="100%"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            class="wave"
          >
            <title>Wave</title><defs></defs><path id="feel-the-wave-two" d=""/>
          </svg>
        </div>
      </div>