.expandable {
  all: initial;

  @include flex-column;

  &.-column > .content {
    @include flex-column;
  }

  &.-row > .content {
    @include flex-row;
  }

  &.-open > .content {
    max-height: 500px;
    overflow: visible;
    visibility: visible;
    opacity: 1;
  }

  &.-blue {
    > .title {
      border-bottom: 1px solid rgba($dusk, 0.1);
    }

    &:hover > .title {
      border-bottom: 1px solid rgba($dusk, 0.3);
    }

    &.-open > .title {
      border-bottom: 1px solid transparent;
    }
  }

  &.-white {
    > .title {
      border-bottom: 1px solid rgba($white, 0.2);
    }

    &:hover > .title {
      border-bottom: 1px solid rgba($white, 0.4);
    }

    &.-open > .title {
      border-bottom: 1px solid transparent;
    }
  }

  > .title {
    @include flex-row;

    position: relative;
    width: 100%;
    height: $form-field-height;
    align-items: center;
    transition: border-color 0.3s ease 0s;
    cursor: pointer;

    > .icon,
    > .text {
      @include flex-row-center;
    }

    > .icon {
      margin-right: 10px;
    }
  }

  > .content {
    max-height: 0;
    width: 100%;
    padding: 0;
    text-align: left;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition:
      opacity 0.3s ease 0s,
      max-height 0.3s ease 0s,
      visibility 0.3s ease 0s;
  }
}
