.expandable {
  &--open {
    .expandable__title {
      color: $gray2;
    }

    .expandable__icon {
      opacity: 0.5;
    }

    .expandable__content {
      max-height: 800px;
      padding-top: 25px;
      visibility: visible;
      opacity: 1;
    }
  }
}

.expandable__title-wrap {
  position: relative;
  width: 100%;
}

.expandable__title {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
  font-weight: 600;
  color: $blue;
  cursor: pointer;
  transition: color .3s ease;
}

.expandable__icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease;
}

.expandable__content {
  max-height: 0;
  width: 100%;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
}
