@import "styles/mixins";
@import "styles/colors";

.core {
  position: relative;
  height: 72px;
  cursor: pointer;
  padding: 8px;

  &.focused {
    background: $main-black-5;
    background-clip: content-box;
  }

  &.selected {
    background: $main-blue-5;
    background-clip: content-box;
  }

  &.selected.focused {
    background: $main-blue-10;
    background-clip: content-box;
  }
}
