@import "styles/mixins";
@import "styles/colors";

.core {
  position: relative;
  height: 72px;
  cursor: pointer;
  padding: 8px;
  background-origin: content-box;

  &.focused {
    background-color: $main-black-5;
  }

  &.selected {
    background-color: $main-blue-5;
  }

  &.selected.focused {
    background-color: $main-blue-10;
  }
}
