.digital-assets-manage {
  all: initial;
  display: block;
  position: relative;
  width: 100%;
  max-width: 1020px;
  font-size: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  padding-top: $page-header-height;

  > .box {
    width: 100%;
    margin-bottom: 10px;
  }
}
