@import 'styles/mixins';

.core {
  @include flex-row;

  position: relative;
  height: 72px;
  padding: 14px 24px 16px 16px;
  justify-content: space-between;
  background-color: $white;
}

.data {
  overflow: hidden;
}

.label {
  @include ellipsis;
  @include font(12px, 20px);

  color: $main-black-40;
}

.value {
  @include ellipsis;
  @include font(14px, 22px);

  font-weight: 600;
  color: $main-black;
}

.link {
  display: inline;
  text-decoration: underline solid;
  // stylelint-disable property-no-unknown
  text-decoration-skip-ink: auto;
  text-decoration-underline-offset: 1.1em;
  // stylelint-enable property-no-unknown
  color: $main-blue;

  &:active,
  &:hover {
    text-decoration: none;
  }

  &:active {
    color: $main-blue-50;
  }
}

.actions {
  @include flex-row-center;
}

.action {
  @include sprite-icon-color($main-black-30);

  cursor: pointer;
  display: block;
  border: none;
  background: none;
  padding: 0;

  &:hover,
  &:active {
    @include sprite-icon-color($main-blue);
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.icon {
  display: block;
}
