.digital-assets-layout {
  all: initial;

  @include flex-row-center;

  position: relative;
  width: 100%;
  height: 100vh;

  > .header {
    @include flex-row;

    position: relative;
    width: 100%;
    height: $page-header-height;
    padding: 0 200px;
    border-bottom: 1px solid rgba($dusk, 0.1);

    > .actions {
      @include box;
      @include flex-row-center;

      position: absolute;
      top: 0;
      right: 200px;
      height: 100%;
      background-color: $pale-grey;

      &::before {
        position: absolute;
        top: 0;
        left: -80px;
        display: block;
        height: 100%;
        width: 80px;
        background: linear-gradient(to right, transparent, $pale-grey);
        content: '';
      }

      > .search {
        margin-left: 40px;
      }
    }
  }

  > .content {
    flex-grow: 1;
    height: calc(100% - #{$page-header-height});
  }

  @media only screen and (max-width: 1600px) {
    > .header {
      padding: 0 160px;

      > .actions {
        right: 160px;
      }
    }
  }

  @media only screen and (max-width: 1440px) {
    > .header {
      padding: 0 80px;

      > .actions {
        right: 80px;
      }
    }
  }

  @media only screen and (max-width: 1280px) {
    > .header {
      padding: 0 50px;

      > .actions {
        right: 50px;
      }
    }
  }
}
