.wallets-view {
  all: initial;

  @include flex-column-center;

  position: relative;
  height: 100%;

  > .content {
    @include box;
    @include flex-column-center;

    min-height: 100%;
    flex: 1;

    > .form > .actions {
      @include flex-row-center;
    }
  }

  &.-index,
  &.-addresses {
    height: auto;

    > .content {
      min-height: 100vh;
      padding: 150px 0;
    }
  }

  &.-index {
    > .content {
      > .wallets {
        > .wallet {
          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  &.-addresses {
    > .content {
      > .actions {
        @include flex-row-center;

        width: 100%;
        margin-top: 40px;
      }
    }
  }
}
