.transactions-table-empty-message {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 20px;
  padding-top: 20px;
  font-size: 13px;
  text-align: center;
  vertical-align: bottom;
  color: $gray2;
}

.transactions-table-empty-message__etherscan {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}
