.copyable-field {
  position: relative;

  .text-input__input {
    padding-right: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.copyable-field__hidden {
  z-index: -1;
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.copyable-field__copy {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 24px; // same as text-input__input
  padding: 10px 15px; // same as text-input__input
  font-size: 14px; // same as text-input__input
  color: $blue;
  text-transform: uppercase;
  cursor: pointer;
}
