@import './Message/transactionsTableEmptyMessage';

.transactions-table-empty {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  margin: auto;
  background-size: 198px 129px;
  background-position: center top;
  background-repeat: no-repeat;

  &--eth {
    height: 220px;
  }
}
