@import 'styles/mixins';

.core {
  @include flex-column;

  padding: 64px 0 0;
  height: 100%;
}

.logo {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  margin: 0 64px 64px;
}

.main {
  @include flex-column-center;

  flex-grow: 1;
  margin: 0 auto 176px;
  padding: 0 64px;
  max-width: 544px + 2 * 64px;
  width: 100%;
}
