.transactions-list {
  all: initial;
  position: relative;
  display: block;
  max-width: 1000px;
  margin: 0 auto 50px auto;
  padding-top: $page-header-height;

  > .loader {
    @include flex-row-center;

    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
  }

  &.-empty {
    // margin-top: -$page-header-height;
  }
}
