@import 'styles/mixins';

.core {
  padding-bottom: $new-page-header-height;

  &.is-active {
    padding-right: 384px;
  }
}

.transactions-list {
  max-width: 100%;

  > .loader {
    @include flex-row-center;

    width: 100%;
    margin-top: 30px;
  }
}

.sidebar {
  @include property-transition(top);

  width: 384px;
  position: absolute;
  top: $new-page-header-height;
  right: 0;
}

.details {
  width: 100%;
  padding-left: 32px;
}

.close-sidebar {
  @include sprite-icon-color($white-60);

  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 100;
  display: block;
  border: none;
  background: none;
  cursor: pointer;

  &:hover,
  &:active {
    @include sprite-icon-color($white);
  }
}
