@import './Empty/empty';

.transactions-list {
  all: initial;
  display: block;
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-top: $page-header-height;
}
