.transactions-list {
  all: initial;
  display: block;
  max-width: 1000px;
  margin: 0 auto 50px auto;
  padding-top: $page-header-height;

  > .loader {
    @include flex-row-center;

    margin-top: 30px;
  }

  &.-empty {
    // margin-top: -$page-header-height;
  }
}
