@import './Body/jTableBody';
@import './Header/jTableHeader';

.table-row {
  position: relative;
  min-height: 50px;
  line-height: 50px;
  margin-right: 20px; // free space for scrollbar
  border-bottom: 1px solid $line;
  font-size: 13px;
  color: $gray;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }
}
