.modal-overlay {
  z-index: 2000;
  position: fixed;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  background: rgba(43, 46, 56, 0.9);
  cursor: pointer;

  &--opening,
  &--closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &--opening {
    animation-name: modal-overlay-opening;
  }

  &--closing {
    animation-name: modal-overlay-closing;
  }
}
