@import 'styles/mixins';

.core {
  @include flex-column-center;

  width: 100%;
  min-height: 100vh;
  padding-top: $page-header-height;
}

.form {
  @include flex-column-center;

  position: relative;
  width: 544px;
  flex-grow: 1;
  margin-bottom: 32px;
}

.warning {
  margin-bottom: 32px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: $main-black-40;
}
