@import 'styles/mixins';

.core {
  @include flex-column-center;

  position: relative;
  width: 544px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: $page-header-height;
}

.icon {
  @include sprite-icon-color($main-black-60);
}

.form {
  width: 100%;
}

.button {
  width: 100%;
  margin-top: 32px;
}
