.j-asset-symbol {
  all: initial;

  @include hover-animation;

  display: flex;
  width: $token-icon-size;
  height: $token-icon-size;
  background-size: $token-icon-size $token-icon-size;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: inherit;
  position: relative;
  font-size: inherit;

  &.-symbol-not-listed::before {
    @include font;

    display: block;
    content: attr(data-symbol);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: inherit;
  }

  &.-blue {
    &.-symbol-not-listed {
      color: $blue;
    }

    > .icon {
      fill: $blue;
    }
  }

  &.-gray {
    &.-symbol-not-listed {
      color: $blue;
    }

    > .icon {
      fill: $dusk;
      opacity: 0.3;
    }
  }

  &.-white {
    &.-symbol-not-listed {
      color: $dusk;
    }

    > .icon {
      fill: $white;
    }
  }
}
