.j-asset-symbol {
  overflow: hidden;
  width: 100%;
  padding: 18%;

  &.-symbol-not-listed {
    padding: 0;
  }

  > .icon {
    width: 100%;
    pointer-events: none;
    user-select: none;

    .text {
      font-family: $font;
      font-size: 9px;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &.-blue {
    > .icon {
      fill: $main-blue;
    }
  }

  &.-gray {
    > .icon {
      fill: $main-black-20;
    }
  }

  &.-white {
    > .icon {
      fill: $white;
    }
  }
}
