.transactions-table {
  position: relative;
  display: table-cell;
  width: 70%;
  height: 100%;
  background: $white;
}

.transactions-table-header {
  height: 84px;
  padding: 30px;
  line-height: 24px;
  border-bottom: 1px solid $line;
}

.transactions-table-header__filter {
  position: relative;
  margin-right: 30px;
  padding-right: 30px;
  font-weight: 600;

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    height: 30px;
    width: 1px;
    margin-top: -15px;
    background-color: $black;
    opacity: 0.1;
    content: '';
  }
}

.filter__clear-icon {
  position: relative;
  top: -1px;
  margin-left: 4px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.transactions-table-body {
  position: relative;
  padding: 0 30px 30px 30px;
}

.transactions-table-empty {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  margin: auto;
  background-image: $empty-transactions-table;
  background-size: 198px 129px;
  background-position: center top;
  background-repeat: no-repeat;
}

.transactions-table__title {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  vertical-align: bottom;
  color: $gray2;
}
