$t-table-header-padding: 30px;
$t-table-header-line-height: 24px;
$t-table-header-height: 2 * $t-table-header-padding + $t-table-header-line-height;

.transactions-table {
  position: relative;
  display: table-cell;
  width: 70%;
  height: 100%;
  background: $white;
  overflow: hidden;

  &--filter {
    min-height: 360px;
  }
}

.transactions-table,
.transactions-table-body {
  &--empty {
    min-height: 240px;
  }
}

.transactions-table-header {
  height: $t-table-header-height;
  padding: $t-table-header-padding;
  line-height: $t-table-header-line-height;
  border-bottom: 1px solid $line;
}

.transactions-table-header__filter {
  position: relative;
  width: 50%;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
}

.transactions-table-header__more {
  position: absolute;
  top: 30px;
  right: 24px;
  width: 24px;
  height: 24px;
}

.filter__clear-icon {
  position: absolute;
  top: 1px;
  right: 78px;
  height: 24px;
  line-height: 24px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.transactions-table-body {
  position: relative;
  height: calc(100% - #{$t-table-header-height});
  padding: 0 30px 30px 30px;
}

.transactions-table-empty {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  margin: auto;
  background-size: 198px 129px;
  background-position: center top;
  background-repeat: no-repeat;
}

.transactions-table__title {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  vertical-align: bottom;
  color: $gray2;
}

.transactions-table__etherscan {
  display: block;
  margin-top: 10px;
}
