@import 'styles/mixins';

.core {
  @include hover-animation;
  @include font($form-field-white-font-size);

  position: relative;
  width: 100%;
  min-width: 100%;
  border-radius: $form-border-radius;
  line-height: $form-field-line-height;
  resize: none;
  border-width: 1px;
  border-style: solid;
  padding: $form-field-white-padding-vertical $form-field-white-horizontal-padding;
  font-weight: 600;

  // stylelint-disable
  &.blue {
    background-color: transparent;
    border-color: $blue;
    color: $white;

    &:hover {
      border-color: $blue-bright;
    }

    &:active,
    &:focus {
      border-color: $blue-pale-bright;
    }

    &::placeholder {
      font-weight: 400;
      color: $blue-bright;
    }

    &.error {
      border-color: $blush;
      color: $blush;
    }
  }
  // stylelint-enable
}
