@import "styles/mixins";

.core {
  @include font;
  @include box;
  @include hover-animation;
  @include flex-row-center;
  @include ellipsis;

  height: 48px;
  width: 100%;
  padding: 0 25px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  line-height: 48px;
  text-align: center;
  font-weight: 600;

  &:disabled {
    cursor: default;
  }

  &:active {
    transition: all 0.2s linear;
    box-shadow: none;
  }
}

.blue {
  height: 64px;
  background-color: $blue-two;
  box-shadow: 0 3px 6px rgba($blue, 0.33);
  color: $white;

  //&:focus,
  &:hover {
    color: $white;
    background-color: $bright-sky-blue;
  }

  &:disabled {
    background-color: $pale-grey-three;
    box-shadow: none;

    &.-loading {
      background-color: $blue-two;
    }
  }
}

.white {
  background-color: $white;
  box-shadow: 0 3px 6px rgba($black, 0.1);
  color: $blue-two;

  //&:focus,
  &:hover {
    background-color: $bright-sky-blue;
    color: $white;
  }

  &:disabled {
    background-color: $blue-three;
    color: rgba($white, 0.3);

    &.-loading {
      background-color: $blue;
    }
  }
}

.gray {
  background-color: $white;
  box-shadow: 0 3px 6px rgba($black, 0.1);
  color: $dark-two;

  //&:focus,
  &:hover {
    background-color: $pale-grey-three;
  }

  &:disabled {
    background-color: $blue-three;
    color: $dusk;

    &.-loading {
      background-color: $white;
    }
  }
}

.additional {
  @include property-transition(background-color, color);

  height: 40px;
  width: auto;
  background: transparent;
  line-height: 22px;
  font-weight: 600;
  color: $main-black-40;
  padding: 9px 8px;
  border-radius: 4px;

  &:hover,
  &:active {
    background-color: $main-blue-10;
    color: $main-blue;
  }
}

.additional-icon {
  @include property-transition(background-color, color);

  height: 40px;
  width: auto;
  background: transparent;
  line-height: 22px;
  font-weight: 600;
  color: $main-black-40;
  padding: 9px 10px 9px 8px;
  border-radius: 4px;

  &:hover,
  &:active {
    background-color: $main-blue-10;
    color: $main-blue;
  }

  &:active {
    background-color: $main-blue-20;
  }
}
