@import "styles/mixins";

.core {
  @include font;
  @include box;
  @include hover-animation;
  @include flex-row-center;

  height: 48px;
  width: 100%;
  padding: 0 25px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  line-height: 48px;
  text-align: center;
  font-weight: 600;
  white-space: normal;

  &:disabled {
    cursor: default;
  }

  &:active {
    transition: all 0.2s ease-out;
    box-shadow: none;
  }
}

// Themes

.blue {
  height: 64px;
  background-color: $blue-two;
  box-shadow: 0 3px 6px rgba($blue, 0.33);
  color: $white;

  //&:focus,
  &:hover {
    background-color: $bright-sky-blue;
  }

  &:disabled {
    background-color: $pale-grey-three;
    box-shadow: none;

    &.-loading {
      background-color: $blue-two;
    }
  }
}

.white {
  background-color: $white;
  box-shadow: 0 3px 6px rgba($black, 0.1);
  color: $blue-two;

  //&:focus,
  &:hover {
    background-color: $bright-sky-blue;
    color: $white;
  }

  &:disabled {
    background-color: $blue-three;
    color: rgba($white, 0.3);

    &.-loading {
      background-color: $blue;
    }
  }
}

.gray {
  background-color: $white;
  box-shadow: 0 3px 6px rgba($black, 0.1);
  color: $dark-two;

  //&:focus,
  &:hover {
    background-color: $pale-grey-three;
  }

  &:disabled {
    background-color: $blue-three;
    color: $dusk;

    &.-loading {
      background-color: $white;
    }
  }
}

.flat-white-pale {
  display: inline;
  height: 40px;
  line-height: 40px;
  color: $white;
  border-width: 1px;
  border-style: solid;
  border-color: $blue;
  background: none;

  > .content {
    opacity: 0.5;
  }

  //&:focus,
  &:hover {
    border-color: $white;
    color: $white;
    opacity: 1;

    > .content {
      opacity: 1;
    }
  }

  &:disabled {
    border-color: rgba(0, 88, 210, 0.3);

    > .content {
      opacity: 0.2;
    }

    &.-loading {
      > .content {
        opacity: 0.6;
      }
    }
  }
}

.flat-white-bright {
  display: inline;
  height: 40px;
  line-height: 40px;
  color: $white;
  border-width: 1px;
  border-style: solid;
  border-color: $blue;
  background: none;
  opacity: 1;

  //&:focus,
  &:hover {
    border-color: $white;
    color: $white;
  }

  &:disabled {
    border-color: rgba(0, 88, 210, 0.3);

    // stylelint-disable
    > .content {
      opacity: 0.2;
    }
    // stylelint-enable

    &.-loading {
      > .content {
        opacity: 0.6;
      }
    }
  }
}

.flat-blue {
  display: inline;
  height: 40px;
  line-height: 40px;
  color: $blue-two;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 61, 198, 0.2);
  background: none;

  //&:focus,
  &:hover {
    border-color: $blue-two;
  }

  &:disabled {
    opacity: 0.3;
  }
}
