.j-raised-button {
  all: initial;

  @include box;
  @include hover-animation;
  @include flex-row-center;

  height: $raised-button-height;
  padding: 0 25px;
  border-radius: 30px;
  cursor: pointer;

  &.-wide {
    width: $wide-button-width;
  }

  &.-loading,
  &.-disabled {
    cursor: default;
  }

  &.-disabled {
    opacity: 0.3;
  }

  &.-blue {
    box-shadow: 0 3px 6px rgba($black, 0.05);
    background-color: $blue-two;

    &:hover {
      background-color: $bright-sky-blue;
    }

    &.-disabled:hover {
      background-color: $blue-two;
    }
  }

  &.-white {
    background-color: $white;
    border: 1px solid rgba($blue, 0.5);

    &:hover {
      background-color: rgba($blue, 0.1);
    }

    &.-disabled:hover {
      background-color: $white;
    }
  }

  > .icon {
    margin-right: 10px;
  }
}
