.j-raised-button {
  all: initial;

  @include box;
  @include hover-animation;
  @include flex-row-center;

  position: relative;
  height: $raised-button-height;
  padding: 0 25px;
  border-radius: 3px;
  cursor: pointer;

  &:active {
    top: -1px;
  }

  &.-wide {
    width: $wide-button-width;
  }

  &.-loading,
  &.-disabled {
    cursor: default;
  }

  > .label {
    display: inline-block;
    line-height: 1;
    margin-bottom: -2px;
  }

  &.-blue {
    background-color: $blue-two;
    box-shadow: 0 3px 6px rgba($blue, 0.33);

    &.-disabled {
      background-color: $pale-grey;
      box-shadow: none;
    }
  }

  &.-white {
    background-color: $white;

    &.-loading {
      background-color: $blue;
    }

    &.-disabled {
      background-color: $blue-three;

      > .label {
        opacity: 0.3;
      }
    }
  }

  &.-hovered {
    background-color: $bright-sky-blue;

    &.-blue {
      &.-loading {
        background-color: $blue-two;
      }

      &.-disabled {
        background-color: $pale-grey;
      }
    }

    &.-white {
      &.-loading {
        background-color: $blue;
      }

      &.-disabled {
        background-color: $blue-three;
      }
    }
  }

  > .icon {
    margin-right: 10px;
  }
}
