.keys-manager {
  position: relative;
  max-width: 300px;
  height: $header-height;
  padding: $keys-manager-title-padding;
  font-weight: 600;
  opacity: 1;
  cursor: pointer;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.keys-manager__title {
  color: $blue;
}

.keys-manager__title,
.keys-manager__account {
  text-align: right;
  height: $keys-manager-title-line-height;
  line-height: $keys-manager-title-line-height;
}

.keys-manager__account {
  margin-top: 0;
  padding-right: 0;
  color: $gray;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease 0s;
}

.keys-manager__icon {
  position: absolute;
  top: 8px;
  right: 0;
}
