.keys-manager {
  position: relative;
  max-width: 300px;
  margin-top: 5px;
  font-weight: 600;
}

.keys-manager-title {
  position: relative;
  padding-right: 32px;
  cursor: pointer;
}

.keys-manager-title__head {
  text-align: right;
  color: $blue;
}

.key {
  margin-top: 5px;
  padding-right: 20px;
  color: $gray;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease 0s;

  &:hover {
    opacity: 1;
  }

  &--title {
    margin-top: 4px;
    padding-right: 0;
    text-align: right;
    opacity: 1;
  }

  &--active {
    color: $blue;
    opacity: 1;
  }
}

.key__hash,
.key__balance,
.key__code {
  display: inline-block;
  overflow: hidden;
}

.key__hash,
.key__balance {
  margin-right: 5px;
}

.key__hash {
  max-width: 110px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.keys-manager-title__icon {
  position: absolute;
  right: 0;
  top: 4px; /* (32 - 24) / 2 */
}

.keys-manager__keys {
  min-width: 220px;
  height: 126px;
}
