.j-card {
  all: initial;

  @include font;

  display: block;
  background-color: #ffffff;
  border: 1px solid transparent;
  color: #3d4f6c;

  &.-with-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  }
}
