@import './Actions/walletFaceActions';

.wallet-face {
  all: initial;

  @include flex-row;
  @include hover-animation;

  width: $wallet-button-width;
  height: $wallet-button-height;
  align-items: center;
  background-color: $blue;
  cursor: pointer;

  > .type {
    padding: 30px;
  }

  > .data {
    width: calc(100% - 168px);

    > .description {
      opacity: 0.5;
      transition: opacity 0.3s ease 0s;

      @include flex-row;

      > .eye {
        transform: translate(-5px, -3px);
      }
    }
  }

  &.-transparent {
    > .type {
      opacity: 0.5;
      transition: opacity 0.3s ease 0s;
    }
  }

  &:hover,
  &.-toggled {
    background-color: $bright-sky-blue;

    &,
    &.-transparent {
      > .type {
        opacity: 1;
      }
    }
  }

  &:hover {
    > .data {
      > .description {
        opacity: 1;
      }
    }

    &.-toggled {
      > .data {
        > .description {
          opacity: 0.5;
        }
      }
    }
  }
}
