@import 'styles/mixins';

.core {
  @include flex-column-center;

  min-height: 100%;
  max-width: 544px;
  margin: 0 auto;
  padding: $page-header-height 0;
}

.card {
  width: 544px;
  border-radius: 4px;
  overflow: hidden;
}

.header {
  @include flex-row;

  width: 100%;
  height: 72px;
  padding: 0 24px;
  align-items: center;
  justify-content: flex-end;
  background-color: $main-blue;
}

.action {
  @include sprite-icon-color($white-60);

  &:hover,
  &:active,
  &:focus {
    @include sprite-icon-color($white);
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}
