@import 'styles/mixins';

.core {
  @include flex-column-center;

  width: 100%;
}

.icon {
  margin-bottom: 32px;
}

.title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: $main-black;
}

.text {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 22px;
  color: $main-black-60;
  text-align: center;
}
