.funds-send-view {
  all: initial;

  @include flex-column-center;

  position: relative;
  min-height: 100%;

  > .content {
    padding: 150px 0 50px 0;

    > .form {
      @include flex-column;

      min-height: 100%;
      width: $form-width;
      margin: 0 auto;

      > .actions {
        @include flex-row;

        align-items: center;
        margin-top: 30px;
      }
    }
  }
}
