.transaction {
  &:hover {
    .transaction__icon {
      opacity: 1;
    }
  }

  .transaction__token {
    color: $blue;
    opacity: 1;
    cursor: pointer;
    transition: opacity .3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.transaction__type {
  position: absolute;
  top: 17px;
  left: 0;
}

.transaction__amount {
  height: 16px;
  line-height: 16px;
  padding-left: 24px;
}

.transaction__status {
  &:before {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    border-radius: 4px;
    content: '';
  }
}

.transaction__status--accepted:before {
  background-color: $green;
}

.transaction__status--rejected:before {
  background-color: $red;
}

.transaction__status--waiting:before {
  background-color: $yellow;
}

.transaction__status--pending:before {
  background-color: $gray2;
}

.transaction__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 20px;
  opacity: 0;
  transform: rotate(-90deg);
  transition: all .3s ease;
}

.transaction__icon--active {
  transform: rotate(0deg);
  opacity: 1;
}
