.table-header-item {
  position: relative;
  height: 50px;
  line-height: 50px;

  &:hover {
    .table-header-item__icon {
      opacity: 0.5;

      &--active {
        opacity: 1;
      }
    }
  }

  &--read-only {
    cursor: default;
  }
}

.table-header-item__icon {
  position: relative;
  top: 17px;
  left: 2px;
  opacity: 0;
  transition: all .3s ease;

  &--active {
    opacity: 1;
  }
}
