.j-checkbox {
  all: initial;

  @include font;

  display: inline-block;

  &:not(:last-child) {
    margin-bottom: $checkbox-item-margin-bottom;
  }

  > .field {
    display: block;
    position: relative;
    cursor: pointer;

    > .checkbox {
      display: none;
    }

    > .flag {
      position: absolute;
      top: -2px;
      left: -3px;
      width: 18px;
      height: 18px;
      transition: opacity 0.3s ease 0s;
    }

    > .label {
      @include property-transition(opacity);

      line-height: 1.57;
      display: inline-block;

      &.-white {
        color: $white;
      }

      &.-gray {
        color: $dusk;
      }

      &.-black {
        color: $main-black;
      }

      &.-bold {
        font-weight: 600;
      }

      &:active {
        user-select: none;
      }
    }

    > .link {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &.-gray {
    > .field {
      padding-left: 25px;

      > .label {
        opacity: 0.6;
      }

      > .flag {
        &.-unchecked {
          stroke: $dusk;
          opacity: 0.1;
        }

        &.-checked {
          stroke: $blue;
          opacity: 0;
        }
      }
    }
  }

  &.-white {
    > .field {
      padding-left: 35px;

      > .label {
        opacity: 0.5;
      }

      > .flag {
        stroke: $white;

        &.-unchecked {
          opacity: 0.3;
        }

        &.-checked {
          opacity: 0;
        }
      }
    }
  }

  &.-black {
    > .field {
      padding-left: 35px;

      > .label {
        // opacity: 0.5;
      }

      > .flag {
        stroke: $white;

        &.-unchecked {
          opacity: 0.3;
        }

        &.-checked {
          opacity: 0;
        }
      }
    }
  }

  &.-gray,
  &.-white,
  &.-black {
    > .field {
      &:hover {
        > .flag.-unchecked {
          opacity: 1;
        }
      }

      > .checkbox:checked ~ .flag {
        &.-unchecked {
          opacity: 0;
        }

        &.-checked {
          opacity: 1;
        }
      }
    }
  }
}
