.j-checkbox {
  all: initial;
  display: inline-block;

  &:not(:last-child) {
    margin-bottom: $checkbox-item-margin-bottom;
  }

  > .field {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;

    > .checkbox {
      display: none;
    }

    > .flag {
      &::before,
      &::after {
        @include hover-animation;

        content: '';
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        position: absolute;
        background-size: 24px;
        background-position: -3px -3px;
      }

      &::before {
        opacity: 0.1;
        background-image: $icon-medium-unchecked-gray;
      }

      &::after {
        opacity: 0;
        background-image: $icon-medium-checked-blue;
      }
    }

    > .label {
      @include hover-animation;

      opacity: 0.6;
      display: inline-block;

      &:active {
        user-select: none;
      }
    }

    > .checkbox:checked ~ .flag {
      &::after {
        opacity: 1;
      }
    }

    &:hover {
      > .flag::before {
        opacity: 1;
      }
    }
  }
}
