@import 'styles/mixins';

.core {
  @include property-transition(opacity, background-color);
  @include flex-row-center;

  height: 88px;
  max-height: 88px;
  border: none;
  border-radius: 4px;
  background: $white;
  box-shadow: $normal-shadow;
  will-change: opacity, background-color;

  //&:focus,
  &:hover {
    // FIXME: Temporary solutions for tests
    box-shadow: $hover-shadow;
  }

  &.selected {
    box-shadow: $select-shadow;
  }
}
