@import 'styles/mixins';

.core {
  @include flex-column-center;

  width: 100%;
  min-height: 100vh;
}

.form {
  @include flex-column-center;

  position: relative;
  width: 544px;
  margin: 0 auto;
}

.finish {
  @include flex-column-center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $pale-grey;
}

.icon {
  @include sprite-icon-color($main-blue);
}
