@import './AssetItem/assetItem';
@import './CurrentAddress/currentAddress';

$manage-assets-link-height: 65px;

.active-assets-panel {
  all: initial;

  @include box;
  @include flex-column;

  position: relative;
  width: 100%;
  height: 100%;
  background-color: $white;
  box-shadow: 0 3px 6px rgba($black, 0.05);

  > .address {
    width: 100%;
    height: $page-header-height; /* equals page header height */
    border-bottom: 1px solid rgba($dusk, 0.1);
  }

  > .list {
    @include box;

    height: calc(100% - #{$page-header-height} - #{$manage-assets-link-height});
    width: 100%;
    border-bottom: 1px solid rgba($dusk, 0.1);
  }

  > .manage {
    width: 100%;

    > .link {
      @include box;
      @include flex-row-center;
      @include hover-animation;

      height: $manage-assets-link-height;
      background-color: $white;

      &:hover {
        opacity: 0.7;
      }

      > .icon {
        margin-right: 10px;
      }
    }
  }
}
