$manage-assets-button-height: 65px;

@import './AssetItem/assetItem';
@import './CurrentAddress/currentAddress';
@import './ManageAssets/manageAssets';

.active-assets-panel {
  all: initial;

  @include box;
  @include flex-column;

  position: relative;
  width: 100%;
  height: 100%;
  background-color: $white;
  box-shadow: 0 3px 6px rgba($black, 0.05);

  > .list {
    width: 100%;
    height: calc(100% - #{$page-header-height} - #{$manage-assets-button-height});
    border-bottom: 1px solid rgba($dusk, 0.1);
  }
}
