.table-body--curencies-empty {
  position: relative;
  height: 200px;
}

.currencies-empty {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 160px;
  margin: auto;
  background-size: 96px 96px;
  background-position: center top;
  background-repeat: no-repeat;
}

.currencies-empty__message {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  vertical-align: bottom;
  color: $gray2;
}
