.popover {
  z-index: 20;
  position: absolute;
  right: 0;
  top: -10px;
  min-width: 160px;
  padding: 20px 30px;
  background-color: $white;
  border-radius: 3px;
  box-shadow: $shadow3;
}

.popover__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
