@import "styles/mixins";

.core {
  @include font;
  @include box;
  @include hover-animation;
  @include flex-row-center;
  @include ellipsis;

  height: 48px;
  width: 100%;
  padding: 0 25px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  line-height: 48px;
  text-align: center;
  font-weight: 600;

  &:disabled {
    cursor: default;
  }

  &:active {
    transition: all 0.2s linear;
    box-shadow: none;
  }
}

.general {
  height: 64px;
  background-color: $blue-two;
  box-shadow: $blue-shadow;
  color: $white;

  //&:focus,
  &:hover {
    box-shadow: $hover-on-general-button-shadow;
  }

  &:active {
    box-shadow: none;
    color: $white-60;
  }

  &:disabled {
    background-color: $main-black-10;
    color: $main-black-20;
    box-shadow: none;

    &.-loading {
      background-color: $main-blue;
    }
  }
}

.secondary {
  height: 64px;
  background-color: $white;
  box-shadow: 0 3px 6px rgba($black, 0.1);
  color: $main-blue;

  //&:focus,
  &:hover {
    box-shadow: $hover-shadow;
  }

  &:active {
    box-shadow: none;
    color: $main-blue-60;
  }

  &:disabled {
    background-color: $main-black-10;
    color: $main-black-20;
    box-shadow: none;

    &.-loading {
      background-color: $white;
    }
  }
}

.additional {
  @include property-transition(background-color, color);
  @include font(14px, 22px);

  height: 40px;
  width: auto;
  background: transparent;
  font-weight: 600;
  color: $main-black-40;
  padding: 9px 20px;
  border-radius: 4px;

  &:hover,
  &:active {
    background-color: $main-blue-10;
    color: $main-blue;
  }

  &:active {
    background-color: $main-blue-20;
  }

  // Design suggests there is no disabled state for this button style, so none implemented
}

.additional-icon {
  @include property-transition(background-color, color);
  @include font(14px, 22px);

  height: 40px;
  width: auto;
  background: transparent;
  font-weight: 600;
  color: $main-black-40;
  padding: 9px 10px 9px 8px;
  border-radius: 4px;

  .icon {
    @include property-transition(fill, stroke);
    @include sprite-icon-color($main-black-20);

    margin: 0 8px 0 0;
  }

  &:hover,
  &:active {
    background-color: $main-blue-10;
    color: $main-blue;

    .icon {
      @include sprite-icon-color($main-blue);
    }
  }

  &:active {
    background-color: $main-blue-20;
  }

  // Design suggests there is no disabled state for this button style, so none implemented
}
