@import './Asset/asset';
@import './Asset/AssetCardBody/assetCardBody';
@import './Empty/empty';
@import './AddDigitalAsset/addDigitalAsset';

.digital-assets-grid {
  all: initial;
  display: block;
  position: relative;
  width: 100%;
  max-width: 1020px;
  font-size: 0;
  margin: 0 auto -20px auto;
  padding-top: $page-header-height;

  > .box {
    width: 33.333%;
    padding: 0 10px 20px 10px;
    display: inline-block;
    vertical-align: top;
  }
}
