@import './Asset/asset';
@import './AddAsset/addAsset';
@import './Asset/AssetCardBody/assetCardBody';

.digital-assets-grid {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto -20px auto;
}
