@import './Asset/asset';
@import './Empty/empty';

.digital-assets-grid {
  all: initial;
  display: block;
  position: relative;
  width: 100%;
  max-width: 1020px;
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;

  > .box {
    width: 33.333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: top;
  }
}
