.digital-assets-send-form {
  > .form {
    > .split {
      @include flex-row;

      > .box {
        width: 50%;

        &:not(:first-child) {
          padding-left: 5px;
        }

        &:not(:last-child) {
          padding-right: 5px;
        }
      }
    }
  }
}
