.JSelect {
  all: initial;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  
  > .selected-item {
    display: flex;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;

    > .item {
      flex-grow: 1;
    }

    > .expand {
      display: flex;
      align-items: center;
      margin-left: 20px;
      margin-right: -30px;
      transition: transform 0.3s ease 0s;
    }
  }
  
  > .selection-list {
    height: 0px;
    overflow: hidden;
    padding-right: 0;
    transition: height 0.3s ease 0s;
  }

  &.-open {
    > .selected-item {
      > .expand {
        transform: rotate(180deg);
      }
    }

    > .selection-list {
      height: 180px;
      overflow: scroll;
      padding-right: 0;
      margin-bottom: 25px;
    }
  }
  
}