@import './AccountName/accountName';

.accounts-table-body-row {
  position: relative;

  .radio__label {
    position: absolute;
    top: 16px;
    left: 0;
  }
}

.accounts-table-body-row__info {
}

.account-row__info {
  width: 100%;
  height: 50px;
  padding-left: 30px;
  font-weight: 600;
}

.account-row__type {
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
  font-size: 9px;
  text-transform: uppercase;
}
