@import './MnemonicAddresses/accountInfoMnemonicAddresses.scss';
@import './Name/accountInfoName';
@import './Type/accountInfoType';

.account-info-container.col {
  padding-left: 0;
}

.account-info {
  width: 100%;
  padding: 15px 0 15px 30px;
  font-weight: 600;
  transition: height .3s ease;

  &--active-mnemonic {
    height: auto;
  }
}

.account-info__title {
  cursor: pointer;
}
