.assets-filter {
  all: initial;
  display: block;

  > .title {
    margin-bottom: 16px;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  > .sorting {
    @include flex-row;

    position: relative;

    &::before {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      left: 50%;
      background-color: $blue-two;
    }

    > .button {
      @include hover-animation;
      @include flex-row;

      align-items: center;
      justify-content: center;
      width: 50%;
      height: 32px;
      cursor: pointer;
      color: $blue-two;
      line-height: 0.8;
      border-style: solid;
      border-top-width: 1px;
      border-bottom-width: 1px;
      background-color: transparent;
      border-color: rgba($blue-two, 0.3);

      &:hover {
        background-color: rgba($blue-two, 0.05);
      }

      &.-active {
        border-color: $blue-two;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right-width: 0;
        border-left-width: 1px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left-width: 0;
        border-right-width: 1px;
      }

      > .icon {
        margin-right: 5px;
      }
    }
  }
}
