@import './Account/account';

.table--accounts {
  padding: 0 30px;
}

.table-header-item--accountActions span {
  float: right;

  &:last-child {
    margin: 0 5px;
  }
}

.table-body-item--accountActions {
  text-align: right;
}
