@import 'styles/mixins';

.core {
  @include font;

  font-size: 11px;
  // stylelint-disable
  &.info {
    color: $dusk;
  }

  &.warning {
    color: $faded-orange;
  }

  &.error {
    color: $blush;
  }
}
