@import 'styles/mixins';

.core {
  width: 100%;
}

.form {
  @include flex-column-center;

  position: relative;
  width: 544px;
}

.icon {
  margin-bottom: 32px;
}

.title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: $main-black;
}

.text,
.note {
  font-size: 14px;
  line-height: 22px;
  color: $main-black-60;
}

.note {
  margin: 16px 0 32px 0;
}

.ticks {
  margin-top: 32px;
}
