@import 'styles/mixins';

.core {
  @include flex-row-center;

  width: 100%;
  height: 100%;
}

.form {
  @include flex-column-center;

  position: relative;
  width: 544px;
}

.icon {
  @include sprite-icon-color($main-blue);
}

.note {
  margin: 16px 0 32px 0;
  font-size: 14px;
  line-height: 22px;
  color: $main-black-60;
}

.ticks {
  margin-top: 32px;
}
