.modal-alert {
  display: table;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 30px;
  background-color:$blue4;
  color: $blue;
}

.icon.modal-alert__icon,
.modal-alert__text {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.modal-alert__text {
  line-height: 20px;
  padding-left: 10px;
}

