@import './Empty/currenciesTableEmpty';

.table--currencies {
  margin-top: -$modal-header-full-height;
  padding: 0 30px;

  .table-body {
    height: calc(100vh - #{$modal-table-body-without-height});
    overflow: hidden;
  }
}

.currencies-table-search {
  margin: $modal-header-margin 0;
}

.table-header-item--symbol .table-header-item__title {
  padding-left: 10px;
}

.table-body-item--symbol {
  padding-left: 30px;
}

.table-header-item--transfer span {
  float: right;

  &.icon {
    margin: 0 5px;
  }
}

.table-body-item--transfer {
  text-align: right;
}
