@import 'styles/mixins';

.core {
  @include flex-column-center;

  margin: 0 auto;
}

.icon {
  @include sprite-icon-color($main-black-60);
}

.buttons {
  position: relative;
  width: 100%;
  height: 48px;
}

.wallet {
  @include flex-column-center;

  width: 544px;
  margin: auto;
  padding: 130px 0 40px 0;
}

.main {
  @include flex-row-center;

  width: 100%;
  height: 96px;
  padding: 24px 10px 18px 24px;
  background: $main-blue;
  border-radius: 4px;
  color: $white;
}

.info {
  @include flex-column;

  flex-grow: 1;
}

.name {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 28px;
}

.addresses {
  font-size: 14px;
  line-height: 22px;
  opacity: 0.6;
}

.item {
  width: 100%;
  margin-top: 16px;
  padding: 14px 16px 16px 16px;
  background: $white;
  border-radius: 4px;
}

.label {
  font-size: 12px;
  line-height: 20px;
  color: $main-black-40;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: $main-black;
}

.address {
  @include flex-row;

  margin-top: 18px;
  padding-top: 15px;
  border-top: 1px solid $main-black-10;
}
