.j-button {
  all: initial;
  cursor: pointer;
  border: 1px solid rgba(0, 80, 220, 0.25);
  display: inline-flex;
  text-align: center;
  transition: all 0.3s ease 0s;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  // Variants

  &.-with-text {
    padding: 0 24px;
   
    &.-large {
      width: 156px;
      height: 48px;
      line-height: 46px;
      border-radius: 24px;
    }
  
    &.-regular {
      height: 40px;
      line-height: 36px;
      border-radius: 20px;
    }
  }


  &.-loading {
  
  }

  &.-disabled {
  
  }

  &.-blue {
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    background-color: #0058D2;

    &:hover {
      border: none;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      background-color: #00c1ff;
    }
  }

  &.-white {
    background-color: #ffffff;

    &:hover {
      border: 1px solid rgba(0, 80, 220, 0.5);
      background-color: #f6fcff;
    }
  }

  &.-minimal {
    border: unset;
    box-shadow: unset;
    background-color: unset;

    &.-white {
      opacity: 0.5;
      background-color: unset;

      &:hover {
        opacity: 1;
      }
    }

    &.-blue {
      background-color: unset;
    }

    &:hover {
      border: unset;
      opacity: 0.7;
      box-shadow: unset;
      background-color: unset;
    }
  }
  
  // Elements 
  
  > .text {
    
  }
  
  > .icon {
    all: initial;
    cursor: inherit;
  }

  &.-with-text {
    > .icon {
      margin-right: 8px;
    }
  }

}
