.your-accounts {
  position: relative;
  display: table-cell;
  width: 30%;
  height: 100%;
  padding-top: $your-accounts-padding-top;
  background: linear-gradient(to top, $black, $gray);
  border-radius: 5px 0 0 5px;
  vertical-align: top;
  color: $white;
}

.your-accounts-header {
  position: relative;
  height: $your-accounts-header-height;
  line-height: $your-accounts-header-height;
  margin: 0 $your-accounts-header-h-margin $your-accounts-header-margin-bottom $your-accounts-header-h-margin;
}

.your-accounts-header__title {
  color: $white;
  font-size: 15px;
  font-weight: 600;
}

.your-accounts-header__icon {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .3s ease;

  &:hover {
    opacity: 1;
  }
}

.your-accounts-body {
  min-height: calc(100vh - #{$your-accounts-before-body-height});
}
