$y-a-padding-top: 30px;
$y-a-header-height: 24px;
$y-a-header-margin-bottom: 30px;
$y-a-header-h-margin: 30px;
$y-a-border-width: 1px;

$y-a-before-height: $header-and-footer-height;
$y-a-full-header-height: $y-a-padding-top + $y-a-header-height + $y-a-header-margin-bottom;
$y-a-before-body-height: $y-a-before-height + $y-a-full-header-height + (2 * $y-a-border-width);

.your-accounts {
  position: relative;
  display: table-cell;
  width: 30%;
  height: 100%;
  padding-top: $y-a-padding-top;
  background: linear-gradient(to top, $black, $gray);
  border-radius: 5px 0 0 5px;
  vertical-align: top;
  color: $white;
}

.your-accounts-header {
  position: relative;
  height: $y-a-header-height;
  line-height: $y-a-header-height;
  margin: 0 $y-a-header-h-margin $y-a-header-margin-bottom $y-a-header-h-margin;
}

.your-accounts-header__title {
  color: $white;
  font-size: 15px;
  font-weight: 600;
}

.your-accounts-header__icon {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .3s ease;

  &:hover {
    opacity: 1;
  }
}

.your-accounts-body {
  min-height: calc(100vh - #{$y-a-before-body-height});
}
