.j-icon {
  all: initial;

  @include box;
  @include flex-row;
  @include hover-animation;

  background-repeat: no-repeat;
  background-position: center;
  cursor: inherit;

  /**
   * Small icons
   */
  &.-small {
    width: $icon-small-size;
    height: $icon-small-size;
    background-size: $icon-small-size $icon-small-size;

    &.-arrow {
      &.-blue {
        background-image: $icon-small-arrow-blue;
      }

      &.-white {
        background-image: $icon-small-arrow-white;
      }
    }

    &.-arrow-down {
      transform: rotate(90deg);

      &.-blue {
        background-image: $icon-small-arrow-blue;
      }

      &.-sky {
        background-image: $icon-small-arrow-sky;
      }

      &.-white {
        background-image: $icon-small-arrow-white;
      }
    }

    &.-checkbox {
      &.-blue {
        background-image: $icon-small-checkbox-blue;
      }

      &.-white {
        background-image: $icon-small-checkbox-white;
      }
    }

    &.-close {
      &.-gray {
        background-image: $icon-small-close-gray;
      }
    }

    &.-expand {
      &.-gray {
        background-image: $icon-small-expand-gray;
      }
    }

    &.-eye {
      &.-gray {
        background-image: $icon-small-eye-gray;
      }
    }

    &.-info-clear {
      &.-gray {
        background-image: $icon-small-info-clear-gray;
      }
    }

    &.-lock {
      &.-gray {
        background-image: $icon-small-lock-gray;
      }
    }

    &.-menu-favorite {
      &.-white {
        background-image: $icon-small-menu-favorite-white;
      }
    }

    &.-menu-receive {
      &.-white {
        background-image: $icon-small-menu-receive-white;
      }
    }

    &.-menu-send {
      &.-white {
        background-image: $icon-small-menu-send-white;
      }
    }

    &.-narrow {
      transform: rotate(180deg);

      &.-gray {
        background-image: $icon-small-expand-gray;
      }
    }

    &.-plus {
      &.-blue {
        background-image: $icon-small-plus-blue;
      }

      &.-sky {
        background-image: $icon-small-plus-sky;
      }

      &.-white {
        background-image: $icon-small-plus-white;
      }
    }

    &.-repeat {
      &.-blue {
        background-image: $icon-small-repeat-blue;
      }
    }

    &.-settings {
      &.-gray {
        background-image: $icon-small-settings-gray;
      }

      /* New icon */
      &.-blue {
        background-image: $icon-medium-setting-blue;
      }
    }

    &.-star {
      &.-blue {
        background-image: $icon-small-star-blue;
      }
    }
  }

  /**
   * Medium icons
   */
  &.-medium {
    width: $icon-medium-size;
    height: $icon-medium-size;
    background-size: $icon-medium-size $icon-medium-size;

    &.-arrow {
      &.-white {
        background-image: $icon-medium-arrow-white;
      }
    }

    &.-arrow-header {
      &.-white {
        background-image: $icon-medium-arrow-header-white;
      }
    }

    &.-close-header {
      &.-gray {
        background-image: $icon-medium-close-header-gray;
      }

      &.-white {
        background-image: $icon-medium-close-header-white;
      }
    }

    &.-copy {
      &.-blue {
        background-image: $icon-medium-copy-blue;
      }

      &.-sky {
        background-image: $icon-medium-copy-sky;
      }
    }

    &.-dots {
      background-image: $icon-medium-dots-white;
    }

    &.-download {
      &.-blue {
        background-image: $icon-medium-download-blue;
      }

      &.-sky {
        background-image: $icon-medium-download-sky;
      }

      /* New icon */
      &.-white {
        background-image: $icon-medium-download-white;
      }

      /* New icon */
      &.-gray {
        background-image: $icon-medium-download-gray;
      }
    }

    &.-info {
      &.-white {
        background-image: $icon-medium-info-white;
      }
    }

    &.-key-import {
      &.-white {
        background-image: $icon-medium-key-import-white;
      }
    }

    &.-key-new {
      &.-white {
        background-image: $icon-medium-key-new-white;
      }
    }

    &.-logout {
      &.-gray {
        background-image: $icon-medium-logout-gray;
      }
    }

    &.-menu-bg {
      &.-white {
        background-image: $icon-medium-menu-bg-white;
      }
    }

    &.-mnemonic {
      &.-white {
        background-image: $icon-medium-mnemonic-white;
      }
    }

    &.-mnemonic-read {
      &.-white {
        background-image: $icon-medium-mnemonic-read-white;
      }
    }

    &.-private-key {
      &.-white {
        background-image: $icon-medium-private-key-white;
      }
    }

    &.-private-key-read {
      &.-white {
        background-image: $icon-medium-private-key-read-white;
      }
    }

    /* New set */
    &.-eye {
      &.-white {
        background-image: $icon-medium-eye-white;
      }
    }

    &.-padding-cross {
      &.-white {
        background-image: $icon-medium-padding-cross-white;
      }
    }

    &.-chevron-down {
      &.-white {
        background-image: $icon-medium-chevron-down-white;
      }

      &.-blue {
        background-image: $icon-medium-chevon-down-blue;
      }
    }

    &.-checked {
      &.-blue {
        background-image: $icon-medium-checked-blue;
      }
    }

    &.-padding-lock {
      &.-gray {
        background-image: $icon-medium-padding-lock-gray;
      }

      &.-white {
        background-image: $icon-medium-padding-lock-white;
      }
    }

    &.-unchecked {
      &.-gray {
        background-image: $icon-medium-unchecked-gray;
      }
    }

    &.-back-up {
      &.-white {
        background-image: $icon-medium-back-up-white;
      }

      &.-gray {
        background-image: $icon-medium-back-up-gray;
      }
    }

    &.-padding-binding {
      &.-white {
        background-image: $icon-medium-padding-binding-white;
      }

      &.-gray {
        background-image: $icon-medium-padding-binding-gray;
      }
    }

    &.-dots-border {
      &.-white {
        background-image: $icon-medium-dots-border-white;
      }

      &.-gray {
        background-image: $icon-medium-dots-border-gray;
      }
    }

    &.-lock {
      &.-white {
        background-image: $icon-medium-lock-white;
      }

      &.-gray {
        background-image: $icon-medium-lock-gray;
      }
    }

    &.-message {
      &.-white {
        background-image: $icon-medium-message-white;
      }

      /* New icon */
      &.-gray {
        background-image: $icon-medium-message-gray;
      }

      /* New icon */
      &.-blue {
        background-image: $icon-medium-message-blue;
      }
    }

    &.-padding-multy {
      &.-white {
        background-image: $icon-medium-padding-multy-white;
      }

      &.-gray {
        background-image: $icon-medium-padding-multy-gray;
      }
    }

    &.-password {
      &.-white {
        background-image: $icon-medium-password-white;
      }

      &.-gray {
        background-image: $icon-medium-password-gray;
      }
    }

    &.-plus {
      &.-white {
        background-image: $icon-medium-plus-white;
      }

      &.-gray {
        background-image: $icon-medium-plus-gray;
      }
    }

    &.-protect {
      &.-white {
        background-image: $icon-medium-protect-wgite;
      }

      &.-gray {
        background-image: $icon-medium-protect-gray;
      }

      /* New icon */
      &.-blue {
        background-image: $icon-medium-protect-blue;
      }
    }

    &.-refresh {
      &.-white {
        background-image: $icon-medium-refresh-white;
      }

      /* New icon */
      &.-gray {
        background-image: $icon-medium-refresh-gray;
      }
    }

    &.-setting {
      &.-white {
        background-image: $icon-medium-setting-white;
      }

      &.-blue {
        background-image: $icon-medium-setting-blue;
      }

      &.-gray {
        background-image: $icon-medium-setting-gray;
      }
    }

    &.-star {
      &.-white {
        background-image: $icon-medium-star-white;
      }

      &.-gray {
        background-image: $icon-medium-star-gray;
      }
    }

    &.-arrow-left {
      &.-white {
        background-image: $icon-medium-arrow-left-white;
      }
    }

    &.-arrow-up {
      &.-gray {
        background-image: $icon-medium-arrow-up-gray;
      }
    }

    &.-add {
      &.-white {
        background-image: $icon-medium-add-white;
      }

      &.-gray {
        background-image: $icon-medium-add-gray;
      }
    }

    &.-multy {
      &.-white {
        background-image: $icon-medium-multy-white;
      }
    }

    &.-binding {
      &.-white {
        background-image: $icon-medium-binding-white;
      }
    }

    &.-cross {
      &.-white {
        background-image: $icon-medium-cross-white;
      }

      &.-gray {
        background-image: $icon-medium-cross-gray;
      }
    }

    &.-import {
      &.-white {
        background-image: $icon-medium-import-white;
      }

      &.-gray {
        background-image: $icon-medium-import-gray;
      }

      &.-sky {
        background-image: $icon-medium-import-sky;
      }

      &.-blue {
        background-image: $icon-medium-import-blue;
      }
    }

    &.-upload {
      &.-blue {
        background-image: $icon-medium-upload-blue;
      }
    }

    &.-bucket {
      &.-white {
        background-image: $icon-medium-bucket-white;
      }
    }

    &.-network {
      &.-gray {
        background-image: $icon-medium-network-gray;
      }

      &.-blue {
        background-image: $icon-medium-network-blue;
      }
    }

    &.-list {
      &.-blue {
        background-image: $icon-medium-list-blue;
      }

      &.-sky {
        background-image: $icon-medium-list-sky;
      }

      &.-white {
        background-image: $icon-medium-list-white;
      }
    }

    &.-time {
      &.-gray {
        background-image: $icon-medium-time-gray;
      }

      &.-red {
        background-image: $icon-medium-time-red;
      }

      &.-blue {
        background-image: $icon-medium-time-blue;
      }
    }

    &.-edit {
      &.-blue {
        background-image: $icon-medium-edit-blue;
      }

      &.-sky {
        background-image: $icon-medium-edit-sky;
      }

      &.-white {
        background-image: $icon-medium-edit-white;
      }
    }

    &.-dots-full {
      &.-gray {
        background-image: $icon-medium-dots-full-gray;
      }
    }

    &.-star-add {
      &.-gray {
        background-image: $icon-medium-star-add-gray;
      }
    }

    &.-star-remove {
      &.-gray {
        background-image: $icon-medium-star-remove-gray;
      }
    }

    &.-message-add {
      &.-gray {
        background-image: $icon-medium-message-add-gray;
      }
    }

    &.-message-edit {
      &.-gray {
        background-image: $icon-medium-message-edit-gray;
      }
    }

    &.-local-currency {
      &.-blue {
        background-image: $icon-medium-local-currency-blue;
      }
    }

    &.-language {
      &.-blue {
        background-image: $icon-medium-language-blue;
      }
    }

    &.-lock-pin {
      &.-blue {
        background-image: $icon-medium-lock-pin-blue;
      }
    }

    &.-exchange-service {
      &.-blue {
        background-image: $icon-medium-exchange-service-blue;
      }
    }

    &.-backup-wallet {
      &.-blue {
        background-image: $icon-medium-backup-wallet-blue;
      }
    }

    &.-cross-circle {
      &.-red {
        background-image: $icon-medium-cross-circle-red;
      }

      &.-white {
        background-image: $icon-medium-cross-circle-white;
      }
    }

    &.-edit-pen {
      &.-blue {
        background-image: $icon-medium-edit-pen-blue;
      }
    }

    &.-search {
      &.-gray {
        background-image: $icon-medium-search-gray;
      }
    }

    &.-filter {
      &.-gray {
        background-image: $icon-medium-filter-gray;
      }
    }

    &.-filter-selected {
      &.-gray {
        background-image: $icon-medium-filter-selected-gray;
      }
    }

    &.-setting-grid {
      &.-gray {
        background-image: $icon-medium-setting-grid-gray;
      }
    }

    &.-priority-high {
      &.-gray {
        background-image: $icon-medium-priority-high-gray;
      }
    }

    &.-priority-normal {
      &.-gray {
        background-image: $icon-medium-priority-normal-gray;
      }
    }

    &.-priority-low {
      &.-gray {
        background-image: $icon-medium-priority-low-gray;
      }
    }

    &.-priority-custom {
      &.-gray {
        background-image: $icon-medium-priority-custom-gray;
      }
    }

    &.-transaction-receive {
      background-image: $icon-medium-transaction-receive;
    }

    &.-transaction-send {
      background-image: $icon-medium-transaction-send;
    }

    &.-flag-us {
      background-image: $icon-medium-flag-us;
    }

    &.-flag-ru {
      background-image: $icon-medium-flag-ru;
    }

    &.-flag-kr {
      background-image: $icon-medium-flag-kr;
    }
  }

  /**
   * Large icons
   */
  &.-large {
    width: $icon-large-size;
    height: $icon-large-size;
    background-size: $icon-large-size $icon-large-size;

    &.-transaction-receive {
      &.-blue {
        background-image: $icon-large-transaction-receive-blue;
      }
    }

    &.-transaction-send {
      &.-gray {
        background-image: $icon-large-transaction-send-gray;
      }
    }

    &.-screen-reload {
      background-image: $icon-large-screen-reload;
    }

    &.-screen-error {
      background-image: $icon-large-screen-error;
    }

    &.-screen-search {
      background-image: $icon-large-screen-search;
    }
  }

  /**
   * Size xlarge
   */
  &.-xlarge {
    width: $icon-xlarge-size;
    height: $icon-xlarge-size;
    background-size: $icon-xlarge-size $icon-xlarge-size;

    &.-auth-arrow {
      background-image: $icon-xlarge-auth-arrow;
    }

    &.-auth-cross {
      background-image: $icon-xlarge-auth-cross;
    }

    &.-auth-lock {
      background-image: $icon-xlarge-auth-lock;
    }

    &.-auth-question {
      background-image: $icon-xlarge-auth-question;
    }

    &.-auth-warning {
      background-image: $icon-xlarge-auth-warning;
    }
  }
}
