.j-icon {
  all: initial;

  @include box;
  @include flex-row;
  @include hover-animation;

  background-repeat: no-repeat;
  background-position: center;
  cursor: inherit;

  /**
   * Small icons
   */
  &.-small {
    width: $icon-small-size;
    height: $icon-small-size;
    background-size: $icon-small-size $icon-small-size;

    &.-arrow {
      &.-blue {
        background-image: $icon-small-arrow-blue;
      }

      &.-white {
        background-image: $icon-small-arrow-white;
      }
    }

    &.-arrow-down {
      transform: rotate(90deg);

      &.-blue {
        background-image: $icon-small-arrow-blue;
      }

      &.-sky {
        background-image: $icon-small-arrow-sky;
      }

      &.-white {
        background-image: $icon-small-arrow-white;
      }
    }

    &.-checkbox {
      &.-blue {
        background-image: $icon-small-checkbox-blue;
      }

      &.-white {
        background-image: $icon-small-checkbox-white;
      }
    }

    &.-close {
      &.-gray {
        background-image: $icon-small-close-gray;
      }
    }

    &.-expand {
      &.-gray {
        background-image: $icon-small-expand-gray;
      }
    }

    &.-eye {
      &.-gray {
        background-image: $icon-small-eye-gray;
      }
    }

    &.-info-clear {
      &.-gray {
        background-image: $icon-small-info-clear-gray;
      }
    }

    &.-lock {
      &.-gray {
        background-image: $icon-small-lock-gray;
      }
    }

    &.-menu-favorite {
      &.-white {
        background-image: $icon-small-menu-favorite-white;
      }
    }

    &.-menu-receive {
      &.-white {
        background-image: $icon-small-menu-receive-white;
      }
    }

    &.-menu-send {
      &.-white {
        background-image: $icon-small-menu-send-white;
      }
    }

    &.-narrow {
      transform: rotate(180deg);

      &.-gray {
        background-image: $icon-small-expand-gray;
      }
    }

    &.-plus {
      &.-blue {
        background-image: $icon-small-plus-blue;
      }

      &.-sky {
        background-image: $icon-small-plus-sky;
      }

      &.-white {
        background-image: $icon-small-plus-white;
      }
    }

    &.-repeat {
      &.-blue {
        background-image: $icon-small-repeat-blue;
      }
    }

    &.-settings {
      &.-gray {
        background-image: $icon-small-settings-gray;
      }
    }

    &.-star {
      &.-blue {
        background-image: $icon-small-star-blue;
      }
    }
  }

  /**
   * Medium icons
   */
  &.-medium {
    width: $icon-medium-size;
    height: $icon-medium-size;
    background-size: $icon-medium-size $icon-medium-size;

    &.-arrow {
      &.-white {
        background-image: $icon-medium-arrow-white;
      }
    }

    &.-arrow-header {
      &.-white {
        background-image: $icon-medium-arrow-header-white;
      }
    }

    &.-close-header {
      &.-gray {
        background-image: $icon-medium-close-header-gray;
      }

      &.-white {
        background-image: $icon-medium-close-header-white;
      }
    }

    &.-copy {
      &.-blue {
        background-image: $icon-medium-copy-blue;
      }

      &.-sky {
        background-image: $icon-medium-copy-sky;
      }
    }

    &.-dots {
      background-image: $icon-medium-dots-white;
    }

    &.-download {
      &.-blue {
        background-image: $icon-medium-download-blue;
      }

      &.-sky {
        background-image: $icon-medium-download-sky;
      }
    }

    &.-info {
      &.-white {
        background-image: $icon-medium-info-white;
      }
    }

    &.-key-import {
      &.-white {
        background-image: $icon-medium-key-import-white;
      }
    }

    &.-key-new {
      &.-white {
        background-image: $icon-medium-key-new-white;
      }
    }

    &.-lock {
      &.-white {
        background-image: $icon-medium-lock-white;
      }
    }

    &.-logout {
      &.-gray {
        background-image: $icon-medium-logout-gray;
      }
    }

    &.-menu-bg {
      &.-white {
        background-image: $icon-medium-menu-bg-white;
      }
    }

    &.-mnemonic {
      &.-white {
        background-image: $icon-medium-mnemonic-white;
      }
    }

    &.-mnemonic-read {
      &.-white {
        background-image: $icon-medium-mnemonic-read-white;
      }
    }

    &.-private-key {
      &.-white {
        background-image: $icon-medium-private-key-white;
      }
    }

    &.-private-key-read {
      &.-white {
        background-image: $icon-medium-private-key-read-white;
      }
    }

    &.-search {
      &.-gray {
        background-image: $icon-medium-search-gray;
      }
    }
  }

  /**
   * Large icons
   */
  &.-large {
    width: $icon-large-size;
    height: $icon-large-size;
    background-size: $icon-large-size $icon-large-size;

    &.-transaction-receive {
      &.-blue {
        background-image: $icon-large-transaction-receive-blue;
      }
    }

    &.-transaction-send {
      &.-gray {
        background-image: $icon-large-transaction-send-gray;
      }
    }
  }
}
