.j-icon {
  fill: none;
  cursor: inherit;
  stroke-width: 1.5px;
  display: inline-block;
  transition: stroke 0.3s ease 0s;

  &.-white {
    stroke: $white;
  }

  &.-blue {
    stroke: $blue;
  }

  &.-gray {
    stroke: $dusk;
  }

  &.-sky {
    stroke: $bright-sky-blue;
  }

  &.-red {
    stroke: $tomato;
  }

  &.-black {
    stroke: $black;
  }

  /**
   * Small icons
   */
  &.-small {
    width: $icon-small-size;
    height: $icon-small-size;
  }

  /**
   * Medium icons
   */
  &.-medium {
    width: $icon-medium-size;
    height: $icon-medium-size;
  }

  /**
   * Large icons
   */
  &.-large {
    width: $icon-large-size;
    height: $icon-large-size;
  }

  /**
   * Size xlarge
   */
  &.-xlarge {
    width: $icon-xlarge-size;
    height: $icon-xlarge-size;
  }
}
